---
layout: post
title: "【Google八分】イオンド大学から、クレームが付きました"
category: topics
tags:
- 2007年の記事
---
<p>昨年出版した書籍「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/">グーグル八分とは何か</a>」の中で、グーグル八分の実例として紹介している「グロービートジャパン（東京）」の関連団体である「株式会社イオンド大学」から、本の内容についてクレームが付きました。なんでも「反対取材をしてください」とのことです。
      <p>ただし、こちらは突然、実家に対する電話です。電話口では、「弁護士の高橋」を名乗っていたそうですが、登録番号を聞いても答えなかったそうです。電話は、18日にありました。</p>
      <p>どうやって調べたのか知りませんが、本人ではなく、まずは実家にクレームを入れるなど、一昨年逮捕された奥平事務所を髣髴とさせる「やり口」です。九天社の方にも連日の電話攻勢のようですが、とても真っ当な企業のやることとは思えません。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://blog.a902.net/topics/2006/0703.html">グーグルとは何か
        第3回 〜google八分の酷い現実〜</a>
        </li>
<li>
<a href="http://ja.wikipedia.org/wiki/%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%93%E3%83%BC%E3%83%88%E3%82%B8%E3%83%A3%E3%83%91%E3%83%B3%E3%83%BB%E5%B9%B3%E5%92%8C%E7%A5%9E%E8%BB%8D%E4%BA%8B%E4%BB%B6">Ｗｉｋｉｐｅｄｉａ：
        グロービートジャパン・平和神軍事件</a>
      </li>
</ul><p></p>
