---
layout: post
title: "【Google八分】アラキ工務店から、クレームが付きました"
category: topics
tags:
- 2007年の記事
---
<p>昨年出版した書籍「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/">グーグル八分とは何か</a>」の中で、グーグル八分の実例として紹介している「<a href="http://www.kyoto.zaq.ne.jp/araki/index.html">アラキ工務店</a>（京都）」から、本の内容について<a href="http://www.kyoto.zaq.ne.jp/araki/news3.htm">クレームが付きました</a>。なんでも「反対取材をしてください！」とのことです。
      <p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0117.jpg" width="400" height="256" align="BOTTOM" border="1" naturalsizeflag="3">アラキ工務店に関するグーグル八分表示</p>
      <p></p>
