---
layout: post
title: "悪マニ的ベストセラー2006"
category: topics
tags:
- 2007年の記事
---
<p>2007年だけど、去年のランキングなので2006です。悪マニでは、Amazonアソシエイトを利用した広告を行なっています。Amazonでは、どのような商品がどのくらい売れたか分かるようになっているので、2006年に悪マニ経由で売れた商品のランキングを作ってみました。
      <p>なんか<a href="http://blog.a902.net/topics/2005/1229.html">去年と全く代わり映えのしない</a>ランキングです。「ニューウエイズわかってもらえるハンドブック」が、ちゃんと2006年版になっているのが、笑えます。</p>
      <p></p><table border="1" cellspacing="0" cellpadding="1" bordercolor="#f0f0f0">
<tr>
<th bgcolor="#efdfff" nowrap>
          順位</th> 
          <th bgcolor="#efdfff" nowrap>
          書名</th> 
          <th bgcolor="#efdfff" nowrap>
          売り上げ数</th> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          1</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/487177225X/spj-22/ref%3Dnosim/">ニューウエイズ、ナチュラリープラス商品・商法への疑問</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          83</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          2</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/487177189X/spj-22/ref%3Dnosim/">ニューウエイズビジネスへの疑惑—化粧品類・栄養補助食品の安全性に疑問の声</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          50</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          3</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4795814538/spj-22/ref%3Dnosim/">食品・化粧品危険度チェックブック—買ってはいけない商品を成分表示から判定できる</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          22</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          4</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4871771644/spj-22/ref%3Dnosim/">ニュースキン・ビジネスへの疑問</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          22</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          5</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/478253020X/spj-22/ref%3Dnosim/">ニューウェイズのすべてがわかる本
          決定版—必ず成功するためのニューウェイズ徹底研究</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          19</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          6</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4880960365/spj-22/ref%3Dnosim/">ニューウエイズQ&amp;A—本当のことが知りたい</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          17</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          7</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4576030841/spj-22/ref%3Dnosim/">ガンに効いたニューウエイズ活用法—がん細胞を自殺させる「カクテル療法」の威力</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          13</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          8</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4871771806/spj-22/ref%3Dnosim/">ニュースキンここが知りたい—収入から品質まで24の疑問</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          13</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          9</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4782530870/spj-22/ref%3Dnosim/">予防医学とニューウエイズ—健康を守るための処方箋とニューウエイズ製品の上手な活用法</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          13</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          10</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4434074067/spj-22/ref%3Dnosim/">2006年度版
          ニューウエイズわかってもらえるハンドブック</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          12</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          11</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861910838/spj-22/ref%3Dnosim/">ブログ&amp;掲示板攻撃・防衛マニュアル</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          12</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          12</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4620315796/spj-22/ref%3Dnosim/">首都圏版
          相談しやすい弁護士40人</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          10</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          13</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4782530692/spj-22/ref%3Dnosim/">ニューウエイズとアトピー性皮膚炎—皮膚科医が実践するアトピー治療とニューウエイズ</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          10</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          14</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4782530277/spj-22/ref%3Dnosim/">泣いて笑った感動のニューウェイズ体験77—全国の利用者から寄せられたニューウェイズ驚きの体験集</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          9</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          15</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4434074075/spj-22/ref%3Dnosim/">2006年度版
          マキシモルソリューションズがあなたを守る!</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          9</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          16</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4766782976/spj-22/ref%3Dnosim/">図解
          メンバーが毎日増える組織拡大の仕組みづくり—驚異の躍進を続けるナチュラリープラス攻略法</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          8</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          17</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4795811032/spj-22/ref%3Dnosim/">家庭用品
          危険度チェックブック—商品の成分表示から自分でカンタンに判定できる</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          8</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          18</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4938939290/spj-22/ref%3Dnosim/">ニューウエイズになぜ人が集まるのか—使命(ミッション)感を得た豊かな人々</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          8</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          19</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4766783085/spj-22/ref%3Dnosim/">よくわかるニューウエイズ商品の使い方</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          7</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          20</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062568179/spj-22/ref%3Dnosim/">京都に蠢く懲りない面々—淫靡な実力者たち</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          7</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          21</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4576060457/spj-22/ref%3Dnosim/">ドクターがすすめる健康のためのニューウエイズ活用法</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          7</td> 
        </tr>
<tr>
<td bgcolor="#fcfdf9" align="CENTER">
          22</td> 
          <td bgcolor="#fcfdf9">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/487177113X/spj-22/ref%3Dnosim/">アムウェイが崩壊する日</a>
</td> 
          <td bgcolor="#fcfdf9" align="CENTER">
          7</td> 
        </tr>
</table><p></p>
