---
layout: post
title: "「バーチャル・サイン会」開催のお知らせ"
category: topics
tags:
- 2007年の記事
---
<p>悪マニでは、昨年末に「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/">グーグル八分とは何か</a>」を出版いたしました。別に著者サイン会を開催する予定は無いのですが、どうせならネット発の書籍らしく、ネット上でサイン会を開催したいと思います。
      <p>ということで、新規に1000円以上<a href="http://www6.big.or.jp/~beyond/akutoku/etc/kyouryoku.html">ご寄付</a>してくださった方には、もれなく悪マニ管理人Beyond兼「グーグル八分とは何か」執筆者のサイン入り書籍をお送りいたします（2月28日まで）。また、バーチャル・サイン会だけの特典として、特製「悪マニ・シール」を2枚、お付けいたします。シールは、インクジェットプリンターを使って自作したものなので、過度な期待はしないで欲しいのですが、以下のような感じで本を自分なりにカスタマイズ可能です(^^)。</p>
      <p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0130-2.jpg" width="200" height="225" align="LEFT" border="0" naturalsizeflag="3"><br>
      カスタマイズ例<br clear="ALL"></p>
      <p></p>
      <h3>サイン本入手の手順</h3>
      <ol>
<li>郵便局に行く
        </li>
<li>郵便振込みの払い込み用紙に、「希望冊数」「サインの宛名」「お送り先」を記入する（記入例参照）
        </li>
<li>「インターネット消費者問題研究会」宛てに払い込みを行う
        </li>
<li>送られてくるのを待つ
      </li>
</ol><p><font size="-1">　　　　　　　☆ チン　<br>
      　　　　　　　　　　<br>
      　☆　チン　　〃　∧＿∧ 　 ／‾‾‾‾‾‾‾‾‾‾‾‾<br>
      　　ヽ　＿＿_＼（＼・∀・）＜　サイン本まだ〜？<br>
      　 　 　 ＼＿／⊂　⊂＿)＿ ＼＿＿＿＿＿＿＿＿＿＿＿＿<br>
      　 　 ／‾‾‾‾‾‾‾／|<br>
      　　 | ‾ ‾‾‾‾‾‾:|　 |<br>
      　　 |　 某ラーメン屋 　 .|／<br>
      　　 ‾‾‾‾‾‾‾‾</font></p>
      <h3>諸注意</h3>
      <ul>
<li>事前の申し込みは、必要ありません。
        </li>
<li>サインの宛名は、分かりやすいよう丁寧に書いてください。
        </li>
<li>2冊以上ご希望の方は、以下の表に書いてある以上の金額を入金の上、<b>「希望冊数」を忘れずに</b>御記入ください。希望冊数が無い場合は、何円入金しても「1冊」しかお送りいたしません。
        </li>
<li>1冊なら、amazonで買うよりも送料分安いです。
        </li>
<li>サイン本は、薄いウレタンフォームで包んだ上、冊子小包でお送りします（3冊以上は、小包かも）。
        </li>
<li>シールは、2枚とも同じデザインです。ステッカーでは無いため、耐久性はありません。
        </li>
<li>「ToHeartのマルチを描いてください」「ガンダムを描いてください」など、無茶な要求にも出来る限り誠意を持って応じますが、<font color="#ff0000">下書き無し</font>の<font color="#ff0000">想像</font>で描きますので、後悔されても関知致しません。
        </li>
<li>その他、ご希望がございましたら、お気軽に通信欄に記入してください。
      </li>
</ul><p></p><center><table width="50%" border="1" cellspacing="2" cellpadding="2">
<tr>
<th width="50%" bgcolor="#c8e3ff">
          希望冊数</th> 
          <th width="50%" bgcolor="#c8e3ff">
          最低寄付金額</th> 
        </tr>
<tr>
<td width="50%" align="CENTER">
          1冊</td> 
          <td width="50%" align="CENTER">
          1000円</td> 
        </tr>
<tr>
<td width="50%" align="CENTER">
          2冊</td> 
          <td width="50%" align="CENTER">
          1800円</td> 
        </tr>
<tr>
<td width="50%" align="CENTER">
          3冊</td> 
          <td width="50%" align="CENTER">
          2700円</td> 
        </tr>
<tr>
<td width="50%" align="CENTER">
          4冊以上</td> 
          <td width="50%" align="CENTER">
          900円×冊数</td> 
        </tr>
</table></center>
      <h3>払い込み用紙の記入例</h3>
      <p></p><center><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0130.jpg" width="600" height="378" align="BOTTOM" border="1" naturalsizeflag="3"></center>
      <p></p>
