---
layout: post
title: "【Google八分】アラキ工務店に取材を申し込んだところ、断られました"
category: topics
tags:
- 2007年の記事
---
<p>アラキ工務店が「<a href="http://www.kyoto.zaq.ne.jp/araki/news3.htm">弊社にも反対取材をしてください！</a>」とのことでしたので、取材の申し込みを行ったところ、断られました。
      <p>どうも、取材というよりは、アラキ側の言い分を認めて欲しいとのことだったようです。なお、これまでのメールの中で明らかになったことによると、</p>
      <ul>
<li>はじめさんのサイトに対する、グーグル八分申請は行った
        </li>
<li>大工がリフォーム工事中に家の中でタバコを吸い、吸殻を断熱材の間に放置したまま仕上げを行った（はじめさんが、告発サイトで書いていた内容）
      </li>
</ul><p>というのは、事実のようです。</p>
      <p>とりあえず、アラキ工務店の反論ページは、内容がコロコロ変わるようなので、<a href="http://www6.big.or.jp/~beyond/akutoku/topic/2007/araki.html">１月１７日に保存しておいたもの</a>を置いておきます。クレームはありましたが、これにて一件落着ですね。</p>
      <p>P.S.</p>
      <p>何者かが、２ちゃんねるに「悪マニ管理人、吉本敏洋が企業恐喝？」というスレッドをたて、私がアラキ工務店を恐喝しているようなことを書いていますが、そのような事実はありません。</p>
      <p></p>
