---
layout: post
title: "個人情報を公開しプライバシーを侵害していた「田中三郎」に、勝訴しました"
category: topics
tags:
- 2007年の記事
---
<p>「反悪徳商法？マニアックス」なるサイトを作成し、私や親族の個人情報を無断で公開していた「田中三郎」こと山崎武および、そのプロバイダであるGMOホスティング＆セキュリティ株式会社（以下、GMO-HS）を<a href="http://blog.a902.net/topics/2006/0119.html">訴えていた裁判</a>の判決が、1月31日までに全て言い渡されました。
      <p>結果、田中三郎に対しては、請求どおり880万円の損害賠償が認められ、GMO-HSに対しては、請求が棄却されました。</p>
      <p>判決によると、「個人情報がインターネット上で公開されたため、原告が著しい精神的苦痛を被ったことについて容易に認められる」としつつ、プロバイダの責任については「本件通知書１が到達した10日後に送信防止措置が採られたことに照らせば、被告に違法性があるとまではいえない」とのことでした。</p>
      <p>GMO-HSを被告に含めたのは、非常に不誠実な対応を取ったためであり、それなりに理由があるのですが、認められずに残念です。しかし、「個人情報の公開」「プライバシーの侵害」が、重大な違法性を持つと言うことが司法の場で明確に認められました。</p>
      <p>それで、とりあえず1年続いた裁判は一区切りつきましたが、まだまだ私のプライバシー侵害を行っている者が存在します。順番に訴えて行くしか無いのでしょうね。いつかはあなたの住む街へ（特別送達郵便が）行くかも知れません。お楽しみに！！</p>
      <p>P.S.</p>
      <p>880万円の損害賠償請求権を貰ったのは良いのですが、裁判費用すら回収できる見込みは無さそうです（泣）。</p>
      <p></p>
