---
layout: post
title: "警察庁が、振り込め詐欺の電話番号を公開"
category: topics
tags:
- 2007年の記事
---
<p>これまで、警察庁では<a href="http://www.npa.go.jp/pressrelease/souni/furikomejushobetten.htm">振り込め詐欺に使われた住所一覧</a>を公開していたのですが、新たに<a href="http://www.npa.go.jp/pressrelease/souni2/20070130_2.htm">電話番号の一覧</a>の公開も始めたそうです。素晴らしいことです。
      <p>で、試しに、公開されている電話番号の方にインタビュー取ろうと思って幾つか掛けてみたのですが、ほとんどが「現在使われておりません」でした。まあ、警察が把握しているくらいなので、当たり前ですね。</p>
      <p>ちなみに、国民生活センターの方でも、<a href="http://www.kokusen.go.jp/soudan_now/kakuseikyu_list.html">架空請求に関する相談件数が多い業者名リスト</a>を公開しています。せっかくなんだから、横断的な「まとめページ」みたいなのが、出来たらいいのにと思いました。</p>
      <p></p>
