---
layout: post
title: "ニューウエイズ専門会議室を開設しました"
category: topics
tags:
- 2007年の記事
---
<p>悪マニ経由で売れた<a href="http://blog.a902.net/topics/2007/0127.html">本の統計</a>を取ってみたところ、2年連続で、ニューウエイズ関連の本がトップでした。「これだけ需要があるのは、何故なんだろう？」ってことで、<a href="http://www.a902.net/bbs/neways/">ニューウエイズ専門会議室</a>を開設しました。
      <p>今のところ、ユーザー登録無しで、誰でも自由に書き込めます。よろしければ、ご利用ください。</p>
      <p></p>
