---
layout: post
title: "札幌のアークから内職商法の電話がありました "
category: topics
tags:
- 2007年の記事
---
<p><table border="1" cellspacing="0" cellpadding="3" width="90%">
<tr>
<td width="25%">
          名称</td> 
          <td>
          <b><font size="+1">アーク（ａｒｋ）</font></b>
</td> 
        </tr>
<tr>
<td width="25%">
          初期コンタクト</td> 
          <td>
          勧誘電話</td> 
        </tr>
<tr>
<td width="25%">
          出会いの日/掲載日</td> 
          <td>
          2007年2月8日／2007年2月8日</td> 
        </tr>
<tr>
<td width="25%">
          会社情報</td> 
          <td>
          <p>北海道札幌市の会社</p>

          <p>ナンバーディスプレイに表示された電話番号は、011-271-0638。検索すると、<a href="http://www.soho-ark.biz/">ウェブサイト</a>が見つかった。以下、ウェブサイトの<a href="http://www.soho-ark.biz/gaiyo.html">会社概要</a>より。ちなみに、札幌市中央区に「テクノポリス」という会社は登記されてませんでした。</p>

          <p>会社名： テクノポリス</p>

          <p>〒０６０−００３２<br>
          北海道札幌市中央区北２条東１丁目５−２ <br>
          サニープリンスシャトー４Ｆ<br>
          取締役： 松川　幸夫<br>
          電話： 0112710638</p>
</td> 
        </tr>
<tr>
<td width="25%">
          勧誘の内容</td> 
          <td>
          在宅ワークに興味はありますか？</td> 
        </tr>
<tr>
<td width="25%">
          勧誘の状況</td> 
          <td>
          <p>ア「アークの松井（女性の方）と申します。以前、在宅ワーク希望と言うことで資料請求いただいていた会社になるんですけども、あれから仕事の方が増えまして、前にご連絡取れなかった方に再度募集と言うことで、お電話させていただいたんですけども…<br>
          び「えっと、代表電話番号の方は、どちらになりますか？<br>
          ア「いま、掛けた番号になります<br>
          び「確認のため、教えていただきたいのですが、番号はどちらになりますか？<br>
          ア「電話に表示されている番号になります。それで、以前、ホームページにアクセスされた時に…<br>
          び「で、会社の住所は、どちらになりますか？<br>
          ア「札幌市になります。<br>
          び「札幌市のどちらになりますか？<br>
          ア「在宅でのお仕事に興味がある方なんでしょうか？<br>
          び「ありますよ。住所は、どちらになるんでしょう？<br>
          ア「在宅でのお仕事に興味がある方なんでしょうか？<br>
          び「ありますよ。住所は、どちらになるんでしょう？<br>
          ア「在宅でのお仕事に興味が無いと言うことでしたら、結構ですので<br>
          ガチャ。ツーツーツー</p>

          <p>一方的に切られたので、011-271-0638 に掛けなおしてみる。女性の方が出る。</p>

          <p>び「先ほど、ホームページのアドレスを聞いている途中で、お電話が切れてしまったんですけど、アドレスはどちらになりますか？<br>
          ア「12/26から1/2まで開いていたものでして、もうページは見れなくなってるんですが<br>
          び「それでも良いので、教えてください<br>
          ア「ここは受付なので、ちょっと分かりません<br>
          び「では、代表電話番号を教えていただけますか？<br>
          ア「今、掛けている番号です<br>
          び「住所は、どちらになりますか？<br>
          ア「北海道です<br>
          び「北海道の、どちらですか？<br>
          ア「札幌市です<br>
          び「札幌市の、どちらですか？<br>
          ア「住所を聞いて、どうしたいのですか？<br>
          び「これから仕事のお付き合いをするんですから、住所ぐらいは普通聞くでしょう<br>
          ア「ここは受付なので、分かりません<br>
          び「本当に社員の方ですか？電話代行とかですか？<br>
          ア「社員ですよ<br>
          び「じゃあ、分かる方に代わってください</p>

          <p>小川さん（女性の方）に代わる</p>

          <p>び「ホームページのアドレスは、どちらになりますか？<br>
          ア「もう見れないんですけど<br>
          び「もう無くても、履歴やキャッシュがあるので、とりあえず教えてください<br>
          ア「履歴って何ですか？<br>
          び「ブラウザの履歴です。<br>
          ア「ホームページは、もう閉鎖しました<br>
          び「じゃあ、代表電話番号を教えてください<br>
          ア「今、掛けている電話になります<br>
          び「確認のため、番号をおっしゃってください<br>
          ア「今、掛けている番号になります<br>
          び「では、会社の住所は、札幌市の、どちらになりますか？<br>
          ア「なんで、そんなことを教えないといけないのですか？<br>
          び「なんでって、普通の会社は、そんなことを言いませんよ。単に住所を知りたいだけです。教えられない事情でもあるのですか？<br>
          ア「教えたくないからです<br>
          び「代表者は、どなたですか？<br>
          ア「教えられません<br>
          び「会社の住所や代表者なんて、会社概要にも書いてあるものですよ。普通の会社だったら教えてくれますよ。何か変なことを聞いてますか？悪徳商法をやっているという自覚があるから、教えられないんじゃないですか？<br>
          ア「そんなこと、ありません<br>
          び「じゃあ、教えてください<br>
          ア「教えられません<br>
          び「一方的に電話を掛けてきておいて住所や電話番号すら教えられないと、マニュアルにそう書いてあるのですか？<br>
          ア「そんなこと、ありません<br>
          び「住所も電話番号も教えられないって、誰がどうみても悪徳商法ですよ。そんなこと一日中やっていて、楽しいですか？<br>
          ア「楽しいですよ。オタクに、そんなことを言われる筋合いはありません<br>
          び「勧誘電話のことをウェブに書きますけど、良いですか？<br>
          ア「どうぞ、ご自由に</p>

          <p>ってことで、異常に会社情報を知られるのを怖れる会社の方でした。以前は、内職商法と言えば仙台でしたが、最近は札幌から掛かってくるものが多い気がします。資料請求した覚えは無いので、名簿でも回されてるんでしょうか。</p>
</td> 
        </tr>
</table><p></p>
