---
layout: post
title: "スポーツ新聞の「駅売り」は、禁止すべきでは？"
category: topics
tags:
- 2007年の記事
---
<p><table width="540" border="0" cellspacing="2" cellpadding="0"><tr>
<td width="50%" valign="TOP">
          <img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0318.jpg" width="200" height="320" align="BOTTOM" border="0" naturalsizeflag="3">
</td>
          <td width="50%" valign="TOP">
          <img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0318-2.jpg" width="300" height="274" align="BOTTOM" border="0" naturalsizeflag="3">
</td>
        </tr></table><p>上の画像を見て、不快に思った方がいたら、ごめんなさい。これは、3月16日に発行された「日刊スポーツ」21面の、漫画の一部を切り取ったものです。日刊スポーツは、駅の売店で購入しました。</p>
      <p>先日、<a href="http://blog.a902.net/topics/2007/0317.html">都知事選の書類を貰いに行った</a>日に、通勤時間帯のＪＲ中央線に乗車しました。通勤時間帯と言っても、微妙にずれていたため、新聞を読む程度のスペースはありました。そこで、40代と思しきサラリーマンの男性が、つり革につかまり、スポーツ新聞を読んでいました。男性の前には、20代後半のＯＬと思われる女性の方が、座っていました。それで、男性は、新聞を縦に折りたたみ、その21面の漫画を女性の方に向けて、他の記事を読んでいました。</p>
      <p>女性が、この漫画に気づいていたかどうか分かりませんし、最近の若い女性は、この程度の漫画は気にしないのかもしれません。しかし、前にいたのが、中学生や小学生だったら、どうでしょうか？漫画の下には、「『入れて、入れて』と連呼」「絶頂！イキまくり潮吹き」などと活字が躍っています。</p>
      <p>私は、不健全図書で、痴漢などの性犯罪が誘発されるとは考えておりません。この程度の表現を、規制すべきとも思いません。しかし、非常に性的な内容の新聞が、平気で駅で売られ、不特定多数の人が「表現」に接触する可能性のある場で読まれるのは、「読む人のマナー」の範疇を超えているのでは無いかと思います。</p>
      <p>今回たまたま「日刊スポーツ」の記事を見かけたのですが、他のスポーツ新聞も似たような状況でしょう。スポーツ新聞も、いわゆる「不健全図書」同様に、「ゾーニング」が必要なのでは無いでしょうか？不健全図書・不健全ゲームの規制に熱心な議員さん方や石原都知事が、スポーツ新聞を問題としないのは、業界の反発を受けるからかもしれませんね。</p>
      <p></p>
