---
layout: post
title: "ライブドア株主訴訟でハプニング 〜締め出された原告の切実な声〜"
category: topics
tags:
- 2007年の記事
---
<p>　ライブドアの粉飾決算で損害を受けたとして、ライブドア株主3244名が、堀江被告らに損害賠償を求めた訴訟の第5回口頭弁論が、3月15日、東京地裁103号法廷にて開かれました。
      <p>　弁論が開かれた103号法廷は、東京地裁で最も大きな部屋となります。傍聴席は85席です。法廷では立ち見を行うことが出来ないため、傍聴を希望しても座れない人たちは、裁判を見ることは出来ません。傍聴希望としてやってきているのは、主に訴訟を起こした原告の方々ですが、第4回、第5回と100名以上の傍聴希望者が殺到し、傍聴席に入りきれない多くの原告が、裁判を見ることが出来ない事態が発生することとなりました。</p>
      <p>　そもそも、原告は裁判の当事者であり、傍聴席ではなく「原告席」に座って裁判を受ける権利があります。しかし、物理的なスペースの関係で、仕方なく傍聴席から裁判を見ることになるのですが、それでもなお見ることが出来ないということになります。せっかく、貴重な時間をさいてまで、裁判を見に来ている人が多数いるにもかかわらず、原告全体の、わずか3％に満たない人しか参加できない現状が続いていることは、どう考えても異常です。</p>
      <p>　そのため、第5回口頭弁論の冒頭で、原告の1人が裁判長に直接意見を述べるというハプニングが発生しました。</p>
      <p>　裁判は通常、定刻に裁判官が法廷に入り、起立して礼をした後、事件番号が読み上げられ、双方の代理人によって淡々と事務手続きが進められていきます。ところが、今回、裁判の進行を妨害する形で、原告の1人が、裁判の現状について意見を述べ、弁論が一時中断することとなりました。法廷においては、何人も裁判官の指示に従い、静粛にしていないといけませんから、これは大変異例なことです。事実、ライブドア株主弁護団（原告弁護団）の弁護士が制止しようとしたにもかかわらず、発言は続けられました。</p>
      <p>　原告の1人が発言した内容については、おおよそ次のようになります。</p>
      <p>　「前回、そして今回と傍聴席は満員で、原告が締め出される状況になっています。宮崎県議会でもテレビ中継が行われているのに、原告が裁判を傍聴出来ないのはおかしいので、どうにかしてください」</p>
      <p>　ここで、宮崎県議会のテレビ中継とは、東国原知事が所信表明演説を行った際、傍聴席に入りきれなかった人たちのために、別室にてテレビ中継を行ったということを指すものと思われます（<a href="http://kyushu.yomiuri.co.jp/news-spe/matome/higashi/hi_07021401.htm">九州読売の記事</a>）。</p>
      <p>　この意見に対し裁判長は、「裁判所としても、出来る限り善処したい」と述べるに留まりました。</p>
      <p>　現在、法廷のテレビ中継は許可されていません。このことについて、原告弁護団の一員である紀藤正樹弁護士は、裁判の後に開かれた原告説明会において、次のように述べられていました。「裁判所の廊下にモニターを設置するのであれば、管理は可能なはず。柔軟な対応が取れないかどうか、裁判所と調整してみたい」</p>
      <p>　裁判を受ける権利は、国民みんなのものです。単に賠償を求める以上の、正義や真実を求めた裁判であれば、当事者が法廷の様子を見たいと思うのは当然のことです。今後、裁判員制度が取り入れられ、裁判がより身近になろうとしている今、司法がどう変わっていくのか試金石ともいえる訴訟といえるかもしれません。</p>
      <p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0316.jpg" width="300" height="209" align="BOTTOM" border="0" naturalsizeflag="3">原告説明会で説明を行う、弁護団の様子。中央は、五十嵐弁護士。</p>
      <p>※ この記事は、オーマイニュースにも投稿したものですが、オーマイニュースは掲載されるまで1週間くらいかかるので、こちらにも書いておきます。</p>
      <p>参考リンク： <a href="http://www.livedoor-higaibengodan.jp/">ライブドア株主被害弁護団</a></p>
      <p></p>
