---
layout: post
title: "アングラーEX vol.5 に、グーグル八分特集が掲載されています"
category: topics
tags:
- 2007年の記事
---
<p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0310.jpg" width="120" height="147" align="LEFT" border="0" naturalsizeflag="3">現在発売中の、<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4883806154/spj-22/ref%3Dnosim">.net
      実話アングラーEX Vol.5</a> に、グーグル八分（Google八分）の特集が掲載されています。
      <p>名前からして怪しいし、中身もやっぱり怪しい雑誌なのですが、グーグル八分特集のところは打って変わって真面目な感じなので、ぜひ読んでみて下さい。6つのグーグル八分事例が掲載されていて、ほとんどは「グーグル八分とは何か」にも載っている内容ですが、この記事で初めて明らかにされた事例も載っています。</p>
      <p>このアングラーEXという雑誌は、取材を受けて初めて、その存在を知ったのですが、なかなか面白い雑誌ですね。「死ぬ死ぬ詐欺」や「ヌル山」、「ミスコン不祥事」なども取り上げてあって、半分くらいは、まともな記事も載っています。でも、「アジア各国食べ比べ！留学生とハメよう」とか、袋とじに「精神ブラクラ画像集」なんかもあって、万人に勧められるような雑誌では無いです。そういうのに耐性のあるマニアの方は、是非。</p>
      <p>参考リンク： <a href="http://www.shinyusha.co.jp/angler/">.net実話
      アングラー EX 公式サイト</a></p>
      <p></p>
