---
layout: post
title: "メッドコミュニケーションズ株式会社から電話がありました "
category: topics
tags:
- 2007年の記事
---
<p><table border="1" cellspacing="0" cellpadding="3" width="90%">
<tr>
<td width="25%">
          名称</td> 
          <td width="559">
          <b><font size="+1">MED Communications(メッドコミュニケーションズ)株式会社</font></b>
</td> 
        </tr>
<tr>
<td width="25%">
          初期コンタクト</td> 
          <td width="559">
          勧誘電話</td> 
        </tr>
<tr>
<td width="25%">
          出会いの日/掲載日</td> 
          <td width="559">
          2007年3月26日／2007年3月26日</td> 
        </tr>
<tr>
<td width="25%">
          会社情報</td> 
          <td width="559">
          <p>〒105-0001　東京都港区虎ノ門4-3-13　秀和神谷町ビル７Ｆ<br>
          代表：佐々木洋寧<br>
          電話： 03-6831-5555（0368315555）</p>

          <p><a href="http://med-com.jp/">http://med-com.jp/</a></p>
</td> 
        </tr>
<tr>
<td width="25%">
          勧誘の内容</td> 
          <td width="559">
          1000円で換気扇のクリーニングを行います。</td> 
        </tr>
<tr>
<td width="25%">
          勧誘の状況</td> 
          <td width="559">
          <p>メ「メッドコミュニケーションズと申します。私どもは、ダスキンさんみたいに、ハウスクリーニングや、浄水器のレンタル・販売を行っている会社になります。ただいま、会社の宣伝をかねて、1000円で換気扇のクリーニングを行うキャンペーンをやっております。1000円で、全て手作業で、換気扇のドラムも外して丁寧にクリーニングします。40〜50分ほどで、終わります。是非、いかがでしょう？今日の午後でしたら、1時からとか可能です」<br>
          び「なにか勧誘とか行うんじゃないですか？」<br>
          メ「いえ、浄水器についての簡単なアンケートなどは行いますが、無理な勧誘などは一切行いません」<br>
          び「そういう勧誘で、業務停止になったところがありましたよね？」<br>
          メ「私どもは、そういう業務停止にはなっておりません」<br>
          び「会社名は、なんとおっしゃいましたっけ？」<br>
          メ「メッドコミュニケーションズと申します。ホームページのアドレスは、med-com.jp です」</p>

          <p>（ぐぐってみる）</p>

          <p>び「ああ、<a href="http://beyond.2log.net/akutoku/bbs/qa/pslg143879.html">シスコムから名前を変えた</a>んですね。<a href="http://www.metro.tokyo.jp/INET/OSHIRASE/2003/03/20d3s100.htm">シスコムは、業務停止</a>になってましたよね」<br>
          メ「ええ、それは昔、法律が厳しかった頃に業務停止になりましたけど、今は販売方法を改善して、やっております。別の会社と合併して名前を変えたんですけど、変なことをやってると、すぐに業務停止とかになってしまうので、そんなことはやっておりません。安心です」<br>
          び「でも、東京都の業務停止のページには、『1,000円で掃除をするキャンペーンをしています』といってアポイントを取ることは違法って書いてますよ」<br>
          メ「だから、最初に『レンタル・販売をやっている会社です』って言いましたよね？」<br>
          び「それは、会社の説明をしただけで、この電話がセールスだとは一言も聞いてませんよ」<br>
          メ「会社の上の方から指示されている方法で、問題無い勧誘方法です」<br>
          び「でも、業務停止になるような悪徳会社なんですよね？」<br>
          メ「わかりました。失礼いたします」</p>
</td> 
        </tr>
<tr>
<td width="25%">
          コメント</td> 
          <td width="559">
          <p>こちらから聞くまでは、「1000円でクリーニングします」とか「換気扇の構造について」を延々と話すだけで、浄水器のアンケートのことも、一切、説明がありませんでした。しかも、アンケートでは無くて、「販売・宣伝」でしょう。</p>

          <p>突然電話を掛けてきてセールスを行うなど、相変わらずの悪徳体質のようです。名前を出されるダスキンさんも、えらい迷惑ですね。</p>
</td> 
        </tr>
<tr>
<td width="25%">
          リンク</td> 
          <td width="559">
          <a href="http://www.metro.tokyo.jp/INET/OSHIRASE/2003/03/20d3s100.htm">赤ちゃんや子供があぶないと不安がらせて　訪問販売で高額な浄水器や掃除機を販売する事業者を行政処分</a>
</td> 
        </tr>
</table><p></p>
