---
layout: post
title: "ＧＭＯインターネット株式会社を訴えました"
category: topics
tags:
- 2007年の記事
---
<p>当方に対する名誉毀損やプライバシーを行っている「<a href="http://www.gmo.jp/">GMOインターネット株式会社</a>（代表取締役会長兼社長　熊谷正寿）」に対し、2007年3月26日付けで、1200万円の損害賠償を求めて民事訴訟を起こしました。
      <p>GMOグループに対する訴訟が続いていますが、これは対応が非常に悪質なためです。他にも悪質なところは幾つかあるので、次に訴えるのは、<a href="http://www.livedoor.com/">ライブドア</a>か<a href="http://www.hatena.ne.jp/">はてな</a>あたりになるかと思います。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://blog.a902.net/topics/2007/0205.html">個人情報を公開しプライバシーを侵害していた「田中三郎」に、勝訴しました</a>
        </li>
<li>
<a href="http://blog.a902.net/topics/2006/0119.html">田中三郎とＧＭＯホスティング＆セキュリティ株式会社を訴えました</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/action/">悪徳商法？マニアックス
        活動報告</a>
      </li>
</ul><p></p>
