---
layout: post
title: "中杉弘さんから、変な電話が掛かってきました"
category: topics
tags:
- 2007年の記事
---
<p>先日、中杉弘を名乗る人物より、変な電話が掛かってきました。
      <blockquote>
        <p>中杉 「中杉だが」<br>
        び 「どちらの中杉さんですか？」<br>
        中杉 「中杉って言ったら、天下に有名な中杉弘だろ」<br>
        び 「知りませんよ。どちらの中杉さんですか？」<br>
        中杉 「本の主人公の、中杉だよ」<br>
        び 「主人公って言っても分からないんですが、どちらの中杉さんですか？」<br>
        中杉 「東京の中杉だ」<br>
        び 「東京に中杉さんって、いっぱいいると思うんですけどねぇ」</p>
      </blockquote>
      <p>と、こんな感じなんですが、結局、用件を全く述べずにガチャ切りされました。なんのために電話掛けてきたのか、さっぱり分かりません。選挙じゃないんですから、用事も無く、名前を言うだけのために電話掛けてくるのは暇なんでしょうか。</p>
      <p>あと、関係あるかどうか知りませんが、同じ日、実家の方にも変な電話が掛かってきました。</p>
      <blockquote>
        <p>アガタ 「アガタ商事のアガタ　ホウセイだけど、息子にお金を貸しているんだが、返してくれない。親が保証人になっているので、返して欲しい」</p>
      </blockquote>
      <p>新手の振り込め詐欺かと思って、ナンバーディスプレイを見たところ、電話番号は <a href="http://www.iond-u-c.com/ecsv/front/bin/ptdetail.phtml?Part=Free-d05">03-5307-3061</a>
      だったそうです。イオンド大学の国際投資研究所（登録番号 関東財務局長 第1607号）と同じ番号です。最近のディプロマミルは、色んな事業をやっているようです。多角化でしょうか？</p>
      <p>さて、イオンド大学と言えば、グロービートジャパン（ラーメン花月）・平和神軍事件の、<a href="http://yama-ben.cocolog-nifty.com/ooinikataru/2007/04/post_ab86.html">次回公判がやっと決まった</a>そうです。前回が、12月ですから、約5ヶ月ぶりです。なんと、グロービートジャパンの自称会長である黒須英治氏の証人尋問も行われるそうです。非常に楽しみです。傍聴は誰でも自由に行えますので、有名人の黒須英治氏を一目見るチャンスです。</p>
      <blockquote>
        <p></p>
<table border="0" cellspacing="2" cellpadding="4">
<tr>
<td width="50%" nowrap>
            2007年5月25日 午後3時半〜4時半</td> 
            <td width="50%">
            書証の関係や更新手続きなどの手続き</td> 
          </tr>
<tr>
<td width="50%" nowrap>
            2007年6月18日 午後1時半〜5時</td> 
            <td width="50%">
            黒須英治に対する証人尋問　</td> 
          </tr>
<tr>
<td width="50%" nowrap>
            2007年6月19日 午後1時半〜5時</td> 
            <td width="50%">
            黒須英治に対する証人尋問</td> 
          </tr>
<tr>
<td colspan="2">
            　※いずれも、東京地裁 428号法廷</td>
             
          </tr>
</table>
</blockquote>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://cultwatching.cocolog-nifty.com/cult/2006/07/post_075f.html">宗教＆カルト・ウォッチ:
        英治さん、「迷惑です」（平和神軍ネタ）</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2006/0926.html">反社会的集団とグロービートジャパン（ラーメン花月）の蜜月関係</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2006/0703.html">グーグルとは何か
        第3回 〜google八分の酷い現実〜</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2007/0408.html">Wikipedia日本語版の異常な偏向具合</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2006/0522.html">グロービートジャパン会長の異常な言動</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2005/1222.html">グロービートジャパンの社長は、1億円以上の報酬をもらいながらも単なる「お飾り」か？？</a>
      </li>
</ul><p></p>
