---
layout: post
title: "週刊新潮に学位商法「イオンド大学（グロービートジャパン）」の記事"
category: topics
tags:
- 2007年の記事
---
<p><a href="http://blog.a902.net/topics/2006/0208.html" class="subject"><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0420.jpg" width="120" height="173" align="LEFT" border="0" naturalsizeflag="3"></a>先日、中杉弘を名乗る人物より、変な電話が掛かってきました。現在発売中の、週刊新潮4月26日号に「サスケに『名誉教授』を打診した米大学の実体は『ラーメンチェーン』」という記事が掲載されています。
      <p>元岩手県議員のザ・グレート・サスケ氏に名誉教授就任のオファーを出した「イオンド大学とは何者だ？」ということで、実体は「”大学ごっこ”みたいなもの（学長の中杉氏）」であって単なる株式会社であることや、ラーメン花月や宗教団体「日本平和神軍」と繋がりがあることが書かれています。</p>
      <p>サスケ氏側としては「株式会社から名誉教授をもらっても仕方がないので、辞退するよう言っておきました」とのことで懸命な判断です。</p>
      <p><br clear="ALL"></p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="3"><tr>
<td width="100%">
          <p>2007年04月10日(火) 08時01分</p>

          <h4>サスケ氏明言「政界復帰なし」（スポーツ報知）</h4>

          <p>　岩手県知事で惨敗を喫したザ・グレート・サスケ氏（３７）が選挙から一夜明けた９日、盛岡市内で今後について〈１〉大仁田厚参院議員（４９）の下で出直し修行〈２〉プロレス専念〈３〉ＵＦＯ研究家として再出発、と３つの可能性を口にした。政界復帰については「ありません」と完全否定した。<br>
          写真はコチラ</p>

          <p>　〈１〉については大仁田氏の呼びかけに応じたもので「うれしい限りです」と歓迎し「岩手のためになるならやります」と快諾。〈２〉については「私は生涯プロレスラー。県議をやっている間は出来なかったことまで範囲を広げる」。〈３〉については法人の「イオンド大学」からＵＦＯの実態を解明する「名誉教授」就任のオファーが届いており「書類に名前を書いて提出する」という。名前に「大学」とあるが文科省には認められていないという。</p>
</td> 
        </tr></table><p>参考リンク：</p>
      <ul><li>
<a href="http://ja.yourpedia.org/wiki/%E3%82%A4%E3%82%AA%E3%83%B3%E3%83%89%E5%A4%A7%E5%AD%A6">イオンド大学</a>（Yourpedia）
      </li></ul><p></p>
