---
layout: post
title: "週刊アスキーに記事を書きました"
category: topics
tags:
- 2007年の記事
---
<p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0424.jpg" width="120" height="163" align="LEFT" border="1" naturalsizeflag="3">現在発売中の、週刊アスキー 5/8,15合併号に、ネットトラブルに関する記事を書きました。なかなか面白い特集だと思いますので、是非、読んでみてください。掲載テーマが決まってから締め切りまで3日というハードスケジュールの中、<a href="http://beyond.2log.net/akutoku/topics/2007/0408.html">Wikipedia日本語版の偏向具合</a>や<a href="http://beyond.2log.net/akutoku/topics/2006/0703.html">グーグル八分</a>のことも、頑張って書きました。
      <p>まあ、グーグル八分の実例は、編集部の判断で一部実名は削除されてしまいましたが、アスキーと言えば拙著「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/">グーグル八分とは何か</a>」の中で、グーグル八分を申請した疑いのある企業として痛烈に批判した先の会社です。にもかかわらず、堂々とグーグル八分のことを載せてくれているのですから、太っ腹としか言いようがありません。本のために取材したところ、<a href="http://beyond.2log.net/akutoku/topics/2006/1204.html">「刑事告訴する」と脅してきた朝日新聞</a>とは、えらい違いです。</p>
      <p>というわけで、素晴らしい英断を下してくれたアスキーのためにも、是非、ご購入ください。「この程度の説明では、物足りない」という方は、「グーグル八分とは何か」をどうぞ（笑）。</p>
      <p></p>
