---
layout: post
title: "グロービートジャパン・平和神軍事件、プレゼント"
category: topics
tags:
- 2007年の記事
---
<p>5月25日（金）に行われる、グロービートジャパン（ラーメン花月）・平和神軍事件<a href="http://blog.a902.net/topics/2007/0416.html">裁判の期日</a>が、せまってまいりました。最近のWikipedia騒動で、なぜか<a href="http://blog.a902.net/topics/2007/0408.html">特別待遇される平和神軍グループ</a>について、興味をもたれた方も多いかと思います。傍聴すれば、テレビでおなじみの弁護士らによる詳細な解説を聞くことが出来、ネットの表現の自由を巡る騒動の核心がご理解頂けると思います。
      <p>とは言え、Wikipedia騒動で、この事件のことを知った方は、一体全体どういう事件なのか良く分からないと思います。何も分からないまま裁判を見ても、いまいち面白くないでしょう。</p>
      <p>そこで、<b>傍聴に行く予定の方</b>限定で、もれなく拙著「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/">グーグル八分とは何か</a>」をプレゼントいたします。</p>
      <p>この本は、グーグルの行っている私的検閲の実体を描いたものですが、世界最大のグーグル八分団体「グロービートジャパン」の説明として、裁判のことも詳しく解説してあります。１章まるまるグロービートジャパンです。この本を読んでいただければ、なぜグーグル八分が起こるのか、またWikipedia八分とも言える現状とグーグル八分の共通点について、そしてグロービートジャパンの問題点が、速やかに判明すると思います。</p>
      <p>先着順の発送ですので、タイトル「ラーメン花月裁判の傍聴に行きます！」として、郵便番号・住所・氏名を書いて<a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">メールください</a>。なお、当日の受け取りも可能です。事前にメール頂いた数だけ、裁判所に持って行きます。</p>
      <p>P.S.</p>
      <blockquote>
        <p>裁判終了後、ミニOFF会を開催する予定です。どうぞ、ご参加ください。</p>
      </blockquote>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://www.13hz.jp/2007/05/wikipedia_2f70.html">Wikipedia、企業のクレームに従って項目編集</a>
        </li>
<li>
<a href="http://www.13hz.jp/2007/05/digg_d0f6.html">削除要請に徹底抗戦を掲げた、ニュースサイトDigg</a>
        </li>
<li>
<a href="http://www.13hz.jp/2007/03/wikipedia_569c.html">日本のWikipediaは企業の広告媒体に成り下がるかもしれません</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/akutoku/2007/03/wikipedia_80af.html">Wikipediaの記述に不満のある人は、クレームを送ると良いようです。</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/akutoku/2007/05/wikipedia_c025.html">Wikipedia管理者の人間性に疑問</a>
        </li>
<li>
<a href="http://ja.yourpedia.org/wiki/%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%93%E3%83%BC%E3%83%88%E3%82%B8%E3%83%A3%E3%83%91%E3%83%B3">グロービートジャパン</a>
      </li>
</ul><p></p>
