---
layout: post
title: "業者ホイホイ掲示板を開設しました"
category: topics
tags:
- 2007年の記事
---
<p>最近、嫌がらせか宣伝か知りませんが、掲示板のspamが酷いことになっています。<a href="http://www.a902.net/bbs/neways/">ニューウエイズ専門会議室</a>なんかは、完全にspamで占拠されています。地道にアクセス制限したり消したりしているのですが、もはや対処できるレベルを超えています。5月30日現在、アクセス制限しているアドレスは、1800件以上です。たぶん、ボットネットか何かを使っているのでしょう。
      <p>そこで、少しでもspam書き込みを判別しやすくするために、<a href="http://www.a902.net/bbs/hoihoi/">業者ホイホイ掲示板</a>を開設しました。いわゆるハニーポットってやつです。spam業者が見つけやすいように、どうぞリンクしてやってください。</p>
      <p>この掲示板に書き込むと、全自動でアクセス制限されます。ついでに、アクセス制限している<a href="http://www.a902.net/akutoku/spam/blocklist.txt">アドレス一覧</a>を、公開します。同じような被害で困っている方もいらっしゃるでしょうから、.htaccessなどに組み込んでお使いください。</p>
      <p>参考リンク：</p>
      <ul><li>
<a href="http://ja.yourpedia.org/wiki/%E3%83%8F%E3%83%8B%E3%83%BC%E3%83%9D%E3%83%83%E3%83%88">ハニーポット
        - Yourpedia</a>
      </li></ul><p></p>
