---
layout: post
title: "クリスタルグループに関するグーグル八分"
category: topics
tags:
- 2007年の記事
---
<p>グーグル八分を見つけるために、時々、<font color="#ff0000">ネガティブな単語</font>で検索を行っています。ポジティブな情報をグーグル八分する理由はありませんから、グーグル八分があるとすればネガティブな単語に関係すると思われるからです。
      <p>で、「脱税」というキーワードで検索したところ、我らがグーグル先生の御神託によると「”クリスタル 脱税”で、検索してたもれ」だそうです。さっそく、クリスタルについて検索してみると、一番上に、山岡俊介さんのブログ「<a href="http://straydog.way-nifty.com/yamaokashunsuke/2005/09/post_93fb.html">クリスタルグループの１社、ついに業務停止命令に</a>」というのが見つかりますから、どうも「クリスタルグループ」のことみたいです。</p>
      <p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0531.gif" width="404" height="196" align="BOTTOM" border="0" naturalsizeflag="3"></p>
      <p>そこで、「クリスタルグループ 脱税」を検索してみると、一番下に、グーグル八分表示が出てきました。</p>
      <p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/0531-2.gif" width="438" height="215" align="BOTTOM" border="0" naturalsizeflag="3"></p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/">グーグル八分とは何か</a>
        − 山岡さんのブログが八分にあっている事例を書きましたが、クリスタルグループに関係するものでは無いようです。
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2006/0703.html">グーグルとは何か
        第3回 〜google八分の酷い現実〜</a>
      </li>
</ul><p></p>
