---
layout: post
title: "GMOインターネットを訴えた裁判の経過報告"
category: topics
tags:
- 2007年の記事
---
<p>GMOインターネット株式会社に対し、名誉毀損とプライバシー侵害で<a href="http://blog.a902.net/topics/2007/0402.html">合計1200万円の損害賠償を求めた裁判</a>の途中報告です。
      <p>5月17日に、第1回口頭弁論（GMOインターネット側は出席せず）、6月11日に弁論準備（実質的な1回目）が開かれ、次回は7月5日に弁論準備が行われます。弁論準備とは、非公開で行われる訴訟手続きで、傍聴などは出来ません。主に書類のやり取りです。3月に訴えて、実質まだ１回しか進んでなくて遅いようですが、裁判と言うのはこんなものです。気が長くないと、やってられません。</p>
      <p>ちなみに、GMOインターネット側の代理人は、佐藤貴夫、佐藤明夫、糸井千晴、高木彰臣、若松俊樹となっており、いずれも佐藤総合法律事務所所属の弁護士の方々です。</p>
      <p>当方に対するプライバシー侵害が問題となっている裁判であり、途中報告は行わないつもりでしたが、GMO側があまりにも酷い主張を行ってきたので、次回の経過次第では詳しい内容をアップするかもしれません。とりあえず、ご報告です。</p>
      <p></p>
