---
layout: post
title: "文科省、海外から授与された「ニセ学位」の調査開始"
category: topics
tags:
- 2007年の記事
---
<p>文部科学省が、ついに重い腰をあげ学位商法の実態調査に乗り出したようです。
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="3"><tr>
<td width="100%">
          <h3>全大学教員対象、海外から授与された「ニセ学位」実態調査</h3>

          <p>教育活動の実態がないにもかかわらず、大学として博士号などのニセの学位を授与する海外の団体が増えているとして、文部科学省は、ニセの学位を持つ大学教員の実態調査に乗り出した。</p>

          <p>　対象は国公私立すべての大学で、同省では、秋ごろに結果をまとめ、公表したいとしている。</p>

          <p>　同省が「ニセ学位」を授与している疑いがあるとしているのは、アメリカ、中国、イギリス、オーストラリアに所在地を設定しているが、それぞれの国から大学と認定されていない団体。国内の各大学に対して、教員がこれらの団体が授与した学位を経歴に使用していないかや、この学位を基に採用されたり、昇進したりしていないかを尋ねる。</p>

          <p>　同省によると、アメリカでは、大学と名乗る団体で取得した学位を就職などに悪用するケースが相次いでおり、こうした団体は「ディグリーミル（学位工場）」と呼ばれている。国内でも、国会などで、ニセ学位とみられる学位を持つ大学教員の存在が指摘されていた。</p>

          <p>（2007年7月23日13時52分 読売新聞）</p>

          <p><a href="http://www.yomiuri.co.jp/national/news/20070723i105.htm">http://www.yomiuri.co.jp/national/news/20070723i105.htm</a></p>
</td> 
        </tr></table><p>このような、ニセ学位を発行する大学は、ディプロマミルやディグリーミルと呼ばれ、日本ではイオンド大学が有名です。</p>
      <p>イオンド大学（実態は、黒須英治という自称・宗教家）は、<a href="http://www.kagetsu.co.jp/index.html">グロービートジャパン</a>（ラーメン花月）から活動資金を得て活動し、様々なサイトに圧力を掛けたり、ウィキペディア日本語版の管理者に利益供与し都合の悪い記述を削除させるなど、ネット上の言論を妨害しているカルト団体です。アメリカの州政府という信頼出来る情報源によって、「無意味な学位」であることがハッキリしているにもかかわらず、日本で堂々と営業活動を行っています。黒須英治氏は、先日もグロービートジャパン・平和神軍裁判の検察側証人として出廷し、「ウェブサイトで批判をするようなやつは穢多（エタ）だ」などと独自の理論で証言を行っていました。</p>
      <p>それで、その裁判の様子を<a href="http://www.ohmynews.co.jp/news/20070621/12388">オーマイニュースに投稿</a>したのですが、「差別表現が含まれている」などと良く分からない理由で検閲され大幅に書き直しを求められたため、黒須英治氏の素晴らしい人間性が全く伝わらない記事となってしまいました。というわけで、「<a href="http://beyond.cocolog-nifty.com/akutoku/2007/07/post_ff05.html">人間的な魅力あふれる「教祖」の証言・完全版</a>」を載せておきます。どうぞ、読み比べてみてください。</p>
      <p></p>
