---
layout: post
title: "参考文献：インターネット消費者相談Ｑ＆Ａ 第２版"
category: topics
tags:
- 2007年の記事
---
<p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4896283864/spj-22/ref%3Dnosim" class="subject"><img src="http://www6.big.or.jp/~beyond/akutoku/ref/books/9784896283860.jpg" width="120" height="175" align="LEFT" border="0" naturalsizeflag="3"></a>ネットで起こる典型的なトラブルについて、違法性や問題点を解説した本。執筆は、第二東京弁護士会の消費者問題対策委員会に所属する弁護士の方々。ネットオークションや掲示板での名誉毀損などについて、31個のＱ＆Ａが掲載されている。
      <p>どちらかというと、相談を<b>受ける</b>人向けの参考になるように書かれていて、単に「違法」と言うだけでなく、民法の第何条とか商法の第何条に違反するから問題といった、具体的な根拠まで書かれている。だから、たとえば「ネットに詳しそうだから、教えて欲しいんだけど」と相談を持ちかけられる人や、ネット事件のことを書いているブロガーやライターの方の「ネタ本」として、お勧め。最近話題の「情報商材」や、ブログにアフィリエイト広告を掲載することの危険性も書かれてある。「オークションの評価も名誉毀損になり得る」という話題も、目新しいかもしれない。</p>
      <p>いずれも、消費者問題に詳しい弁護士が直接執筆しているので、大変参考になるだろう。ただし、専門家が責任を持って書いているためか、実質80ページで900円は、ちょっと高め。たぶん、実際に相談を受けた経験をもとに書かれたと思われるので、どのような問題が世の中で発生しているのか、知るだけでも価値がある。</p>
      <p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4896283864/spj-22/ref%3Dnosim">amazon.co.jpで購入</a></p>
      <p></p>
