---
layout: post
title: "未踏ソフト採択記念オフ開催のお知らせ"
category: topics
tags:
- 2007年の記事
---
<p>未踏ソフトウェア創造事業に「グーグル八分発見システムの開発」が採択されたことを記念して、<a href="http://www.13hz.jp/">13Hz</a>管理人／<a href="http://rikunabi-next.yahoo.co.jp/tech/docs/ct_s04400.jsp?p=blog_top,blog_top">Tech総研</a>公式ブロガーのわくたまさんが、オフ会を企画してくださいました。もちろん、私も参加します。
      <p>参加希望の方は、<a href="http://beyond.cocolog-nifty.com/akutoku/2007/08/post_d0aa.html">ココログ支店の記事</a>にコメントを付けてくださるか、幹事のわくたまさんにメールしてください。</p>
      <p>わくたまさんから貰った案内文↓には、悪マニに肯定的な意見の方しか参加できないようですが、別にそんなことは無いと思うので「ぐぐる先生をいじめる方は許しませんことよ」とか「グーグルを倒すのは、この俺の役だ！」とかいう方も、どうぞお気軽にご参加ください。まさに、当オフは誰でもウェルカム、宇宙人も未来人も超能力者も、どうぞお気になさらず、ご自由にお楽しみください状態です。</p>
      <p></p><table width="85%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          <p>場所：東京都内のどこか<br>
          費用: 5000円以下を想定<br>
          開催日：以下のいずれかの日の、たぶん18:00〜<br>
          9/22(土),9/23(日),9/24(祝),9/29(土),9/30(日)</p>

          <p>とりあえずおおざっぱに人数を把握したいので、参加希望はこの記事のコメント欄もしくは幹事のメールアドレス（siegbeyon@13hz.jp）へ、以下の内容をお願いします。</p>

          <p>・ハンドル名<br>
          ・メールアドレス<br>
          ・参加できる日時</p>

          <p>日時等の詳細は参加状況を見て確定させようと思います。詳細が決まりましたら、再告知＆メールアドレス宛にご連絡します。</p>

          <p>Beyondを応援したい方、<br>
          Google八分に問題意識を持ってる方、<br>
          ジークビヨンって叫びたい方<br>
          ぜひご参加ください。</p>

          <p>幹事： わくたま siegbeyon@13hz.jp<br><a href="http://www.13hz.jp/">http://www.13hz.jp</a></p>
</td> 
        </tr></table><p></p>
