---
layout: post
title: "告訴された偽大学を、かばい続けるウィキペディア日本語版"
category: topics
tags:
- 2007年の記事
---
<p><a href="http://degreemill.exblog.jp/">小島茂氏のブログ</a>によると、ついにイオンド大学がハワイ州消費者保護局によって<a href="http://www.hawaii.gov/dcca/areas/ocp/udgi/lawsuits/ionduniversity/">告訴された</a>ようです。なお、小島茂氏は、ディプロマミル（学位商法）に詳しい静岡県立大学の教授です。
      <p>当サイトでも、イオンド大学や関連する「ラーメン花月」の異常性を再三に渡って伝えてまいりましたが、ついにハワイ州当局も重い腰をあげましたね（個人サイトより、行政の方が腰が重いのは当たり前ですが）。しかし、それにしても驚きなのは、アメリカ各州の公的資料や報道などで、「偽学位であることが明らか」なイオンド大学について、「イオンド大学に不利な記述は、一切許可しない」というウィキペディア日本語版管理者の姿勢です。当然、告訴された「事実」についても、記述は許されていません。</p>
      <blockquote>
        <p>ウィキペディア日本語版の<a href="http://ja.wikipedia.org/wiki/%E3%82%A4%E3%82%AA%E3%83%B3%E3%83%89%E5%A4%A7%E5%AD%A6">イオンド大学の項目</a></p>
      </blockquote>
      <p>今もって被害者を出し続けているイオンド大学やラーメン花月。それについて、「ウソ」を書き続けるウィキペディア日本語版の管理者の対応が、今後どう変わるのか、要注目です。さすがに告訴されたとなれば、いくら利益を受けているといっても、考えが変わるかもしれません。</p>
      <p>参考：</p>
      <ul><li>
<a href="http://blog.a902.net/topics/2007/0725.html" class="subject">文科省、海外から授与された「ニセ学位」の調査開始</a>
      </li></ul><p></p>
