---
layout: post
title: "グーグル八分発見システムの公式サイトをオープンしました"
category: topics
tags:
- 2007年の記事
---
<p>未踏ソフト創造事業の支援を受けて、現在開発中の<a href="http://www.google8bu.com/8eyes/">「グーグル八分発見システム」の公式サイト</a>をオープンしました。プロジェクトの通称は、「∞Eyes（エイト・アイズ）」です。
      <p>まだ開発中のため、全機能が実装されているわけではありませんが、簡易的な八分チェックが行えるようになっています。今後、バージョンアップによって、機能が充実していきますのでご期待ください。</p>
      <p>なお、このシステムは、分散コンピューティング技術を利用しています。どういうことかと言うと、皆様のパソコンの処理能力の一部を使って統計解析を行い、八分が発生していないかどうか調べるソフトということです。つまり、沢山インストールされればされるほど、強力な監視ツールへと成長していくのです。YOU、インストールしちゃいなよ！</p>
      <p><a href="http://www.google8bu.com/8eyes/">グーグル八分発見システム Project
      ∞Eyes（エイト・アイズ）</a></p>
      <p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/1015.gif" width="409" height="456" align="BOTTOM" border="0" naturalsizeflag="3"></p>
      <p></p>
