---
layout: post
title: "ハッカージャパンに、「グーグル八分発見システム」の記事を書きました"
category: topics
tags:
- 2007年の記事
---
<p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2007/1010.jpg" width="120" height="174" align="LEFT" border="0" naturalsizeflag="3">現在発売中の、<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000WC3KSK/spj-22/ref%3Dnosim">ハッカージャパン2007年11月号</a>に「Google八分発見システムとIPA未踏ソフト事業」という記事を書きました。これは、<a href="http://blog.a902.net/topics/2007/0731.html">未踏ソフトウェア創造事業に採択された</a>「グーグル八分発見システムの開発」の説明を行うとともに、未踏ソフトがどのような事業なのかを簡単に説明したものです。
      <p>現在、プロジェクトの方は順調に進んでおり、2008年3月の完成に向けて頑張っているところです。近日中に、β版を公開します。お楽しみに。<br clear="ALL"></p>
      <p>参考リンク：</p>
      <ul><li>
<a href="http://japan.cnet.com/news/media/story/0%2C2000056023%2C20354894%2C00.htm">IPAが採択した「グーグル八分発見システム」の深意</a>（CNET
        Japan）
      </li></ul><p></p>
