---
layout: post
title: "対GMOインターネット裁判は、GMOインターネットが謝罪したため和解しました"
category: topics
tags:
- 2007年の記事
---
<p>当方に対する名誉毀損やプライバシー侵害を行っているとして「<a href="http://www.gmo.jp/">GMOインターネット株式会社</a>（代表取締役会長兼社長　熊谷正寿）」に対して、<a href="http://blog.a902.net/topics/2007/0402.html">計1200万円の損害賠償を求めていた訴訟</a>ですが、GMOインターネットが削除依頼に対する対応の遅れについて遺憾の意を示し謝罪したため、11月12日付けで和解しました。
      <p>和解であるため比較的早く決着しましたが、弁護士を付けていない本人訴訟なので色々と大変でした。とはいえ、ネット上で権利侵害を受けている方は、泣き寝入りする必要ないので、どんどん訴えていった方が良いと思います。本人訴訟であれば、出費は裁判費用と交通費くらいで済みます。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://blog.a902.net/topics/2007/0205.html">個人情報を公開しプライバシーを侵害していた「田中三郎」に、勝訴しました</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/action/">悪徳商法？マニアックス
        活動報告</a>
      </li>
</ul><p></p>
