---
layout: post
title: "２ちゃんねるをコピペするだけの簡単なお仕事です"
category: topics
tags:
- 2007年の記事
---
<p>２ちゃんねるのスレッドまとめサイトが面白いので、一つ作ってみたいと思います。
      <p>ですが、面白スレッドを発見するノウハウも、編集するセンスも無いので、実際に作業してくれる方を募集します。興味のある方は、氏名（ハンドル名可）、ブログ運営経験の有無、普段良く見るサイト、アピールポイントを書いた上で<a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">メール</a>ください。</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4">
<tr>
<td width="104">
          作業場所：</td> 
          <td width="542">
          自宅（必要に応じて、作業用のパソコンを貸与します）</td> 
        </tr>
<tr>
<td width="104">
          契約種別：</td> 
          <td width="542">
          業務委託契約</td> 
        </tr>
<tr>
<td width="104">
          報酬：</td> 
          <td width="542">
          1スレッド800円の固定報酬 ＋ 広告費などから算出される成果報酬（条件は相談の上決定）</td> 
        </tr>
<tr>
<td width="104">
          作業時間：</td> 
          <td width="542">
          時間の空いた好きな時に、作業を行っていただけます。</td> 
        </tr>
<tr>
<td width="104">
          ノルマ：</td> 
          <td width="542">
          週3回以上の、更新を行ってください。</td> 
        </tr>
<tr>
<td width="104">
          採用人数：</td> 
          <td width="542">
          最大4人</td> 
        </tr>
<tr>
<td width="104">
          採用方法：</td> 
          <td width="542">
          書類選考（メール）の上、面接もしくは電話審査を行って決定</td> 
        </tr>
<tr>
<td width="104">
          資格など：</td> 
          <td width="542">
          <p>特に必要ありませんが、ウェブブラウザの操作に習熟している必要があります。まとめサイト、まとめブログの運営未経験者でも大丈夫です。経験者の方は、優遇します。</p>

          <p>性別・年齢・国籍不問。ただし、日本国内に居住している方のみ。</p>
</td> 
        </tr>
<tr>
<td width="104">
          備考：</td> 
          <td width="542">
          サーバーの準備などは当方が行いますので、そこから個人が特定されるおそれはありません。</td> 
        </tr>
</table><p>【追記】 募集自体は、真面目に募集しています。ネタでは、ありません。</p>
      <p></p>
