---
layout: post
title: "悪のベストセラー2007"
category: topics
tags:
- 2007年の記事
---
<p>悪マニでは、Amazonアソシエイトを利用した広告を行なっています。Amazonでは、どのような商品がどのくらい売れたか分かるようになっているので、2007年に悪マニ経由で売れた商品のランキングを作ってみました。今年は、何と言っても「グーグル八分とは何か」が圧倒的に1位ですね。買ってくださった皆様、本当にありがとうございます。
      <p>昨年までは、ニューウエイズ関連が上位を占めていたのですが、今年は結構バラエティのあるランキングです。強いて言えば、弁護士関連の本が多く出ているようです。</p>
      <p></p><table border="1" cellspacing="0" cellpadding="3" bordercolor="#f0f0f0">
<tr>
<th bgcolor="#006a00" nowrap>
          <font color="#ffffff">順位</font>
</th> 
          <th bgcolor="#006a00" nowrap>
          <font color="#ffffff">書名</font>
</th> 
          <th bgcolor="#006a00" nowrap>
          <font color="#ffffff">売り上げ数</font>
</th> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          1</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/ref%3Dnosim/">グーグル八分とは何か</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          117</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          2</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/487177189X/spj-22/ref%3Dnosim/">ニューウエイズビジネスへの疑惑—化粧品類・栄養補助食品の安全性に疑問の声</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          25</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          3</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4882028433/spj-22/ref%3Dnosim/">NOVA商法の魔力—“急成長”のカラクリとトラブル解決法</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          22</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          4</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/487177225X/spj-22/ref%3Dnosim/">ニューウエイズ、ナチュラリープラス商品・商法への疑問</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          20</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          5</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4620315796/spj-22/ref%3Dnosim/">首都圏版
          相談しやすい弁護士40人</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          12</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          6</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4871771644/spj-22/ref%3Dnosim/">ニュースキン・ビジネスへの疑問</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          10</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          7</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4121500237/spj-22/ref%3Dnosim/">よい弁護士、わるい弁護士—弁護士とのつきあい20か条
          (中公新書ラクレ)</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          10</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          8</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4896283864/spj-22/ref%3Dnosim/">インターネット消費者相談Q&amp;A 第2版</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          7</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          9</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/478253020X/spj-22/ref%3Dnosim/">ニューウェイズのすべてがわかる本
          決定版—必ず成功するためのニューウェイズ徹底研究</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          7</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          10</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4880960365/spj-22/ref%3Dnosim/">ニューウエイズQ&amp;A—本当のことが知りたい</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          6</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          11</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/438097295X/spj-22/ref%3Dnosim/">弁護士にはもうだまされない—「悪徳不良弁護士」撃退マニュアル</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          6</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          12</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4426234107/spj-22/ref%3Dnosim/">弁護士の上手な探し方・頼み方—裁判を考えたら・まずこの1冊</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          6</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          13</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4010326174/spj-22/ref%3Dnosim/">合格小論文の書き方</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          6</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          14</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4774510033/spj-22/ref%3Dnosim/">夢の実現奇跡のアロマセラピー—アロマで開運!</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          5</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          15</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4813603947/spj-22/ref%3Dnosim/">乳がんリスクファクターのすべてを知る!—エプスタイン博士から、全世界の女性たちへ</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          5</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          16</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000VCZ75A/spj-22/ref%3Dnosim/">VOCALOID2
          キャラクターボーカルシリーズ01 初音ミク HATSUNE MIKU</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          5</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          17</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4896281861/spj-22/ref%3Dnosim/">Q&amp;A 宗教トラブル110番—しのびよるカルト
          (110番シリーズ)</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          5</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          18</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000GVT2KC/spj-22/ref%3Dnosim/">(お徳用ボックス)
          山口県産みかんジュース(ストレート果汁) 1L×6本</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          4</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          19</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4930774314/spj-22/ref%3Dnosim/">MICHELIN
          GUIDE東京 2008 (2008)</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          4</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          20</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4795814538/spj-22/ref%3Dnosim/">食品・化粧品危険度チェックブック—買ってはいけない商品を成分表示から判定できる</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          4</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          21</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4871771741/spj-22/ref%3Dnosim/">ネットワーク・ビジネス5社への疑問—収入・品質を徹底チェック</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          4</td> 
        </tr>
<tr>
<td align="CENTER" bgcolor="#fffff0">
          22</td> 
          <td bgcolor="#fffff0">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4883806154/spj-22/ref%3Dnosim/">.net実話アングラーEX
          Vol.5 (5)</a>
</td> 
          <td align="CENTER" bgcolor="#fffff0">
          4</td> 
        </tr>
</table><p></p>
