---
layout: post
title: "日本ペンネットの旗揚げイベント"
category: topics
tags:
- 2010年の記事
---
<p>　告発サイトや社会問題に関連するサイト・ブログを運営する一般市民を中心として、このたび一般市民のネット表現の自由を守る目的で新団体「日本ペンネット」が結成され、5月22日、東京・新宿区のネイキッド・ロフトにおいて旗揚げイベントを行われることになりました。
      <p>土曜日の真昼間という時間帯ですが、私も呼ばれたので何か喋ります。</p>
      <p>詳しくは、<a href="http://dailycult.blogspot.com/2010/05/522.html">やや日刊カルト新聞の記事</a>を見てください。</p>
      <p></p>
