---
layout: post
title: "謹賀新年"
category: topics
tags:
- 2008年の記事
---
<p>新年あけましておめでとうございます。
      <p>昨年は暇だろうと思って、<a href="http://blog.a902.net/topics/2007/1204.html">GMOを本人訴訟で訴えた</a>ら、<a href="http://blog.a902.net/topics/2007/0731.html">未踏ソフトウェア創造事業に採択された</a>りして忙しい年になりました。今年は、3月までの仕事はありますが、それ以降の予定が無いのでニートになりそうです。誰か仕事ください。っていうか、グーグルに対抗しようっていうパトロンの方、募集中です。ぜひ。</p>
      <p>さて、新年早々、「<a href="http://www6.big.or.jp/~beyond/akutoku/news/2007/0101-44.html">消費者庁の創設を検討</a>」なんて、良いニュースも舞い込んできましたが、どこまで権限を持ったものになるんでしょうか？一時期は、<a href="http://www6.big.or.jp/~beyond/akutoku/news/2007/1207-71.html">国民生活センターすら廃止</a>なんて話があっただけに、消費者重視の姿勢は歓迎すべきことです。しかし、消費者を重視する割には、ネットを規制しようとする動きは多く、またネットストーカー（ネット右翼、ネットイナゴ）など、ネット上の表現の自由に対する脅威も増大しています。</p>
      <p>私は、評論家やジャーナリストではなく「クリエイター」ですので、自らが理想とする社会を実現するために、口だけではなく手も動かして行きたいと思っています。とりあえず、現在進行中の、<a href="http://blog.a902.net/topics/2007/1003.html">元祖・闇サイト管理人「奥平明男」に対する訴訟</a>のほかに、数件の訴訟を準備中です。さすがに、「<a href="http://www.cm.kj.yamagata-u.ac.jp/blog/index.php?logid=7295">謹賀新年、提訴しました</a>」なんてことは出来ないのですが、あらゆる手段で持って「社会悪」と戦っていく所存です。</p>
      <p>また、2月には「<a href="http://es.geocities.com/dempauyo/">ラーメン花月・平和神軍事件</a>」の一審判決が言い渡されます。告発サイトの趨勢を決定付ける重要な判決であり、要注目です。この裁判は、民事をあわせると、実に5年という長きに渡って行われているのですが、ずっと戦い続けて来た「平和神軍観察会」管理人の努力には頭が下がります。司法や行政のスピード感と、ネットのスピード感では大きな隔たりがあり、それに戸惑うことも多いのですが、両方に対応できるようやっていきたいと思います。</p>
      <p>何はともあれ、日本初の悪徳商法総合情報紹介ページは、今年も健在です。日常に潜む悪徳商法や、誰も指摘しないけど実は悪徳商法など、様々な悪徳商法を紹介していきたいと思いますので、どうか応援のほどを、よろしくお願いいたします。</p>
      <p></p>
