---
layout: post
title: "参考文献：学位商法−ディプロマミルによる教育汚染"
category: topics
tags:
- 2008年の記事
---
<p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861672090/spj-22/ref%3Dnosim"><img src="2008/9784861672095.jpg" width="120" height="171" align="BOTTOM" border="0" naturalsizeflag="3"></a>「偽」という漢字が世の中を席巻した2007年末、九天社から「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861672090/spj-22/ref%3Dnosim">学位商法−ディプロマミルによる教育汚染</a>」という本が出版されました。著者は、静岡県立大教授の小島茂氏。「<a href="http://degreemill.exblog.jp/">学歴汚染（ディプロマミル・ディグリーミル＝米国型学位商法による被害、弊害）</a>」というブログもやっておられる方です。日本で問題になりつつある学位商法とはどのようなものか、豊富な実例をあげて詳しく解説しています。
      <p>こういった大学教授が執筆する本というと、どうも小難しい印象があるのですが、この本は良くも悪くも「素人くさい」つくりになっていて（誉め言葉）、大変面白く読むことが出来ます。「○○大学の件がＴＶで取り上げられると、早速、読者からメールが来た」って、文章は淡々としていますが、どっかの潜入取材番組の様なノリです（笑）。なお、ここでは○○大学と書きましたが、実際の本の中には、パシフィック・ウエスタン大学、国際学士院大学、クレイトン大学、そしてイオンド大学など、全て実名で登場します。偽大学や読者とのやり取りが、そっけなく、そしてその分リアルに克明に描かれています。</p>
      <p>値段は、2,625円と、ちょっと、いやかなり高めなのですが、是非買ってみてください。ちなみに、九天社は拙著「グーグル八分とは何か」を出版した際には、毎日（ほんとうに毎日）イオンド大学からクレームの電話が掛かって来ていたそうですが、今でも掛かってきてるんでしょうか？（良く知らない）</p>
      <p>あれだけ嫌がらせされておいて、また喧嘩売るような本を出す会社ってのもスゴイです。全くもって、何を考えているのか分かりません（誉め言葉）。それだけの価値のある本だと思います。</p>
      <p>関連記事：</p>
      <ul><li>
<a href="http://blog.a902.net/topics/2007/0725.html">文科省、海外から授与された「ニセ学位」の調査開始</a>
      </li></ul><p></p>
