---
layout: post
title: "ネクシィーズBBから勧誘電話がありました"
category: topics
tags:
- 2008年の記事
---
<p><table border="1" cellspacing="0" cellpadding="3" width="90%">
<tr>
<td width="25%">
          名称</td> 
          <td width="560">
          <b><font size="+1">ネクシィーズBB</font></b>
</td> 
        </tr>
<tr>
<td width="25%">
          初期コンタクト</td> 
          <td width="560">
          勧誘電話</td> 
        </tr>
<tr>
<td width="25%">
          出会いの日/掲載日</td> 
          <td width="560">
          2007年2月9日／2007年2月12日</td> 
        </tr>
<tr>
<td width="25%">
          会社情報</td> 
          <td width="560">
          <p>会社名： 株式会社 <a href="http://www.nexyzbb.ne.jp/">Nexyz.BB</a></p>

          <p>東京都渋谷区桜丘町20番4号 ネクシィーズ スクエアビル<br>
          代表取締役　近藤 忍</p>

          <p>代表電話番号不明。ナンバーディスプレイに表示されていた番号「<a href="http://www.google.co.jp/search?q=0926889013&amp;sourceid=navclient-ff&amp;ie=UTF-8&amp;rlz=1B2GGGL_jaJP205JP205&amp;aq=t">0926889013</a>」で検索すると、「ワン切り最新情報」とか、そんなページばかり見つかる。</p>
</td> 
        </tr>
<tr>
<td width="25%">
          勧誘の内容</td> 
          <td width="560">
          ADSLを引きませんか？</td> 
        </tr>
<tr>
<td width="25%">
          勧誘の状況</td> 
          <td width="560">
          ネ「こちら、ネクシィーズBBの地域担当をしております、私、アラカワと申します。実は、今回お住まいの地域でも、ソフトバンク回線の増設を行いまして、今後、今よりも1500円ほどお安く、ご利用いただけるようになりましたので、そのご連絡になるのですが。今は、ADSLを使ったインターネット回線で、インターネットはご利用でしょうか？」<br>
          私「これは、勧誘の電話でしょうか？」<br>
          ネ「はい、営業の電話になります。今は、ソフトバンクを使った回線で、お安くご提供できるようになっておりまして…」<br>
          私「うちの電話番号は、どちらでお知りになりましたか？」<br>
          ネ「これねぇ、番号順なんですけど、電話番号の下4桁を順番にお電話させてもらってます」<br>
          私「そういうような順番に掛けるって方法、良く悪徳会社がやっている方法ですけど、そちらは悪徳会社ですか？」<br>
          ネ「いいえ、違いますね」<br>
          私「じゃあ、何でいきなり勧誘電話なんか掛けてきてるんですか？」<br>
          ネ「大変申し訳ありません。ただ、インターネットの案内を行っているだけなんで…」<br>
          私「でも、相手の都合とか全く考えずに、適当に掛けまくってるわけなんですよね？」<br>
          ネ「はい。ただ、僕らの方も、純粋にインターネットの案内を…」<br>
          私「そんなの、テレアポじゃないですか」<br>
          ネ「テレアポですね」<br>
          私「だから、そんな相手の都合なんて考えずに営業して、悪徳業者じゃないですか。そんな商売やってて楽しいですか？」<br>
          ネ「申し訳ございません」<br>
          私「あなた、そんな仕事やってて楽しいですか？」<br>
          ネ「申し訳ございません。それじゃあ、これからは掛けないようにしますので」</td> 
        </tr>
<tr>
<td width="25%">
          コメント</td> 
          <td width="560">
          <p>人が風邪で寝込んでいるにもかかわらず、長々とソフトバンク回線の説明を始める悪徳業者。</p>

          <p>勧誘電話なら、まず冒頭で勧誘電話である旨を告げるべきであり、単なるアンケートか何かを装って話を進めるのは、違法だろう。</p>

          <p>だいたい、順番に掛けて掛かった先で、何かが1500円安くなる（電話代？ネット代？携帯代？）かどうかは分からないのだから、1500円安くなることを前提にした話しぶりというのもおかしい。</p>

          <p>最近、個人情報保護法のせいかどうか知らないが、「順番に掛けている」と答える業者が増えてきている。迷惑なので、そのような勧誘方法は禁止すべき。</p>
</td> 
        </tr>
</table><p></p>
