---
layout: post
title: "はてなを便利に使うためのツール、「はてなde」を公開しました"
category: topics
tags:
- 2008年の記事
---
<p>はてなダイアリーなどで有名な「はてな」を、便利に使うためのツール「<a href="http://www.hatenade.jp/">はてなde</a>」を作成・公開しました。
      <p>メインは、ウィキスキャナーの「はてな」版とも言える「<a href="http://s.hatenade.jp/">はてなdeスキャン</a>」です。これは、あるユーザーの編集履歴を一覧で見ることの出来るツールで、これを使えば「誰が、どんなキーワードに興味あるのか」また「どんな編集を行っているのか」知ることが可能になります。</p>
      <p></p><center><table width="450" border="0" cellspacing="0" cellpadding="0"><tr>
<td width="50%">
          <a href="http://www.hatenade.jp/"><img src="2008/0326-2.gif" width="217" height="168" align="BOTTOM" border="1" naturalsizeflag="3"></a>
</td>
          <td width="50%">
          <a href="http://s.hatenade.jp/"><img src="2008/0326.gif" width="200" height="168" align="BOTTOM" border="1" naturalsizeflag="3"></a>
</td>
        </tr></table></center>
      <p>たとえば、はてなの社長である <a href="http://s.hatenade.jp/hatenamins/jkondo">jkondo</a>氏の場合、最初に編集したのが「<a href="http://d.hatena.ne.jp/keyword/%C3%E6%C5%E7%A4%DF%A4%E6%A4%AD?kid=835">中島みゆき</a>」の項目で、最近でも、行ってきたばかりの「<a href="http://d.hatena.ne.jp/keyword/%BF%CA%A1%B9%C6%B2?kid=231249">進々堂</a>」の項目を作ったりしているということが分かります。また、意外にも、ガンダムの「<a href="http://s.hatenade.jp/histories/7331">セイラ</a>」さんや、MMRの「<a href="http://s.hatenade.jp/histories/482862">キバヤシ</a>」の項目も編集したりしているということが分かります。</p>
      <p>まあ分かったから何なんだって気もしないでもありませんが、色々なところで案外便利なので、どうぞ活用してみてください。とりあえず、ご自身のIDやお友達のIDを入れて遊んでみてください。</p>
      <p>あと、はてなブックマークで、その日、一番人気を集めたページを一覧できるページ、「<a href="http://t.hatenade.jp/">はてなdeトップ</a>」もあります。一覧にすることで、ネットの歴史のようなものが見えてくるかもしれません。</p>
      <p></p>
