---
layout: post
title: "Wiki専用URL圧縮・短縮サービスを、作りました"
category: topics
tags:
- 2008年の記事
---
<p>いつも思うんですが、WikipediaのURLって長いですよね。%E3%83…って、意味不明な文字列が延々と続いて、見づらいです。はてなキーワードとか日本語の辞書的サイトは、みんなそんな感じです。
      <p>というわけで、メールや掲示板にURLを書いたときに、少しでも途中で改行する確率が減るよう「<a href="http://swiki.jp/">Wiki
      専用 URL 圧縮・短縮サービス</a>」を作ってみました。このサービスを使えば、WikipediaのメインページのＵＲＬも、</p>
      <blockquote>
        <p>http://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8<br>
        　↓<br>
        http://swiki.jp/w/eckxb0f0a5g8b</p>
      </blockquote>
      <p>と、かなり短くなります。</p>
      <p>「私的録音録画補償金制度」の、はてなキーワードも、</p>
      <blockquote>
        <p>http://d.hatena.ne.jp/keyword/%BB%E4%C5%AA%CF%BF%B2%BB%CF%BF%B2%E8%CA%E4%BD%FE%B6%E2%C0%A9%C5%D9<br>
        　↓<br>
        http://swiki.jp/h/y3q7zp30avww8obdwiq35af3px2ca005k</p>
      </blockquote>
      <p>こんな感じで、なんとか1行に収まるようになります。</p>
      <p>ちなみに、URLの圧縮は、日本語ドメインにも使われている「ぷにコード」というアルゴリズムを使用して行っています。ぷにコード自体は誰でも使えるアルゴリズムなので、これからWikiとか作る人はURLエンコーディングの代わりに使うと良いと思います。っていうか何で使わないんでしょうか？ぷに</p>
      <ul><li>
<a href="http://swiki.jp/">Wiki 専用 URL 圧縮・短縮サービス</a>
      </li></ul><p></p>
