---
layout: post
title: "判例ペディアを開設しました"
category: topics
tags:
- 2008年の記事
---
<p>世の中のあらゆる判例情報を収集・整理するためのサイト「<a href="http://www.hanreipedia.com/wiki/">判例ペディアβ版</a>」を開設しました。
      <p>さて、私たち一般市民が普段生活する中で、法律を意識することは、ほとんどありません。しかし、法律もしくは「法律的な考え方」を知っておくことは、いざトラブルになったときに大変役立ちます。なぜなら、トラブルの最終的な解決手段は裁判ということになりますが、その勝ち負けは法律によって決められるからです。そして、法律には、個別のトラブルについての解答は条文のどこを読んでも書いていませんが、裁判官が「法律的な考え方」によって正解を導きだした集大成が、判例ということになります。</p>
      <p>たとえば、「正当防衛」という言葉を聞いたことがあると思います。これは、刑法第36条で「急迫不正の侵害に対して、自己又は他人の権利を防衛するため、やむを得ずにした行為は、罰しない」となっていることから、認められる行為です。ところが、「やむを得ず」というのは、どこまでが「やむを得ず」なのか、線引きについては分かりません。</p>
      <p>仮に、あなたが、気に入らない相手を問い詰めようと思い、「木刀を持って」相手に会いにいったとします。ですが、仲間の説得によって、いったんは木刀を破棄するのですが、今度は逆に、相手が木刀を拾って殴りかかってきたとしたら、どうでしょう。そして、不意に相手に怪我をさせてしまったら、正当防衛は成り立つでしょうか？そもそも、木刀を持っていかなければ、相手に拾われることは無かったはずです。</p>
      <p>このような、ややこしい事件に対しても、裁判所は考え方を示します。あらゆるトラブルについて、絶対的に線引きをするのが、裁判所の仕事だからです。</p>
      <p>そういった社会的な知の集大成である判例ですが、普通の人が調べようにも「検索キーワードが分からない」「条文がたくさん出てきて、六法を読むだけでも大変」ということで、なかなか触れる機会がありません。そこで、ハイパーリンクを駆使し、ぱらぱらと読んでいくだけでも役に立つ「ネット百科事典」形式のサイトを立ち上げました。</p>
      <p>まだ、あまり項目はありませんが、今後、充実させていく予定です。今のうちから、時々読みに来ていただければ、「いきなり途方も無い量があって大変」ということは無いはずです(^^)。よろしくお願いいたします。</p>
      <p>リンク：</p>
      <ul><li>
<a href="http://www.hanreipedia.com/wiki/">判例ペディアβ版</a>
      </li></ul><p></p>
