---
layout: post
title: "九天社が自己破産"
category: topics
tags:
- 2008年の記事
---
<p>拙著「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/ref%3Dnosim">グーグル八分とは何か</a>」を始め「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861672090/spj-22/ref%3Dnosim">学位商法</a>」や「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861672325/spj-22/ref%3Dnosim">ウィキペディアで何が起こっているのか</a>」など、社会的に意義のある本を出していた<a href="http://www.9-ten.co.jp/">九天社</a>ですが、6月10日付で自己破産したそうです。<a href="http://www.jdc.jp/">JDC</a>がバックにいるので大丈夫かと思っていたのですが、ネット時代に出版で食べていくのは、大変だったのでしょう（ちなみにJDCの株主総会は、18日です。紛糾するんでしょうか？）。
      <p>九天社の社長の方とは、何度かお会いしたことがあるのですが、しっかりとした信念を持った大変尊敬できる方です。「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/ref%3Dnosim">グーグル八分とは何か</a>」を出したせいで、イオンド大学から毎日（冗談じゃなく本当に毎日）クレームの電話が掛かってきていたそうですが、そのせいで潰れたのではないことを祈るばかりです。</p>
      <p>とりあえず、上にあげた3冊は、持っておいて損の無い本です。今後、絶版になる可能性が高いので今のうちに購入しておくことをお勧めします。でも、売れても著者には印税は入ってきません（涙）。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://blog-tech.rikunabi-next.yahoo.co.jp/blog/wakutama/851">わくたまの「ジャンクな人とモノ」</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/akutoku/2008/06/amazon_7aa6.html">Amazonで売ってる九天社の書籍一覧</a>
      </li>
</ul><p></p>
