---
layout: post
title: "松永英明氏より、はてなブックマークに対して発信者情報開示請求がありました"
category: topics
tags:
- 2008年の記事
---
<p>私は、<a href="http://b.hatena.ne.jp/Beyond/">はてなブックマーク</a>というソーシャルブックマークサービスを利用しています。ソーシャルブックマークとは、その名のとおり基本的には「ブラウザのブックマーク」と同様、興味があることについての「個人のメモ」として使うサービスなのですが、何人の利用者がブックマークしているか分かるようになっていて、その被ブックマーク数によりページの重要性が分かるようになっているものです。また、「ウェブサービス」ですから、パソコンを複数使っているような場合に、「情報の集約が容易」という特徴もあります。
      <p>それで、先日、松永英明氏に関するサイトをいくつかブックマークし、また松永英明氏のブログ記事に対する感想を書いたところ「プライバシー侵害、名誉毀損、信用毀損、誹謗中傷、侮辱」を理由として、「情報送信停止ならびに個人情報開示」を求める請求がはてなに対してありました。</p>
      <p>たとえば、開示請求の対象となっている感想とは、松永英明氏の<a href="http://d.hatena.ne.jp/matsunaga/20080618#1213717556">この記事</a>、</p>
      <blockquote>
        <p>■ekkenさんに煽られた。</p>
        <p>* はてなブックマーク - ウィキを使う人を何と呼ぶか - 備忘録ことのはインフォーマル</p>
        <blockquote>
          <p>id:ekken なんでもカテゴライズしないと気がすまない人。カテゴライザーと命名。（死）　ブロガーでいいんじゃん？　wikiとブログを区別する必要あんの？</p>
        </blockquote>
        <p>ウィキとブログが同じ？　えっ？　えっ？　カテゴライズ？　それを同一視するなら、もうブログと掲示板も区別なしでいいじゃん。全部ネチズンでいいじゃん。わらい。</p>
        <p>マジレスしておくと、ブログ記事を書くときと、ウィキの項目を作るときは、思考回路が変わります。表現方法が違います。</p>
      </blockquote>
      <p>に対して、</p>
      <blockquote>
        <p>何でもカテゴライズしないと気がすまない人。縦書きの人は縦書キスト、横書きの人は横書キスト、原稿用紙使う人は文筆家として、ワープロ使う人は何て呼ぼう。</p>
      </blockquote>
      <p>と書いたものです。松永氏の主張によると、「当方の記事に対して『何でもカテゴライズしないと気がすまない人』といった決めつけを行ない、誹謗中傷を行なっている」とのことです。</p>
      <p>そもそも、私は松永氏のプライバシー（私生活に関する行状）についての記述を行っていませんし、全く理由も挙げず当方が「信用毀損」しているなどとして請求を行うこと自体が嫌がらせのようなものです（信用毀損とは、<b>虚偽の風説</b>によって<b>経済的な評価</b>を落とすものです。たとえば、「○○社は給料を未払いしている」とか。もちろん、そのような記述はしていません）。当然、理由の無い請求ですから削除および発信者情報開示は拒否したのですが、当方といたしましては「はてなを間に挟んだ、やりとりは本意では無い」ことから、別途、はてなに対しては松永氏に私の連絡先を伝えていただけるよう回答しました。ちなみに、全く同じ感想を書いているid:ekken氏に発信者情報開示請求が出されているかどうか分かりませんが、たぶん出されて無いでしょう。</p>
      <p>なお、削除要請や発信者情報開示請求が来たからと言って、いちいちトピックスで報告はしていないのですが、松永氏は<a href="http://alphabloggers.com/alphabloggers/cat170/post_45.html">アルファブロガーにも選ばれ</a>ており、（自称）<a href="http://www.kotono8.com/2008/06/20examination.html">日本で始めて試験問題に引用されたブロガー</a>であることから、お伝えした次第です。</p>
      <p>【追記】</p>
      <p>私が書面を送った場合は、原則として<a href="http://beyond.cocolog-nifty.com/action/">活動報告ブログ</a>に掲載するのですが、相手方が個人の場合は「金額だけ」ということになるかもしれません（現在は未定。名称くらいは場合によるかも）。あしからずご了承ください。</p>
      <p>【追記２】</p>
      <p>松永英明氏は、<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4798107042/spj-22/ref%3Dnosim">はてなの本</a>などを執筆した有名なライターです。なお、松永英明は、本名ではなくハンドル名です。以前は、「河上イチロー」という名前で活動していました。</p>
      <p></p>
