---
layout: post
title: "NTTコミュニケーションズに対し、発信者情報を開示せよとの判決が出ました"
category: topics
tags:
- 2008年の記事
---
<p>ＮＴＴコミュニケーションズ株式会社に対し、２ちゃんねるに当方の住所や親族一覧といった個人情報を書き込んでいた者の発信者情報を開示せよという裁判を起こしていたのですが、7月4日、ＮＴＴコミュニケーションズに対し「発信者情報を開示せよ」との判決が言い渡されました。
      <p>この裁判は、匿名の何者かが、２ちゃんねるの「悪マニ管理人、吉本敏洋が企業恐喝？」というスレッドに、当方の個人情報及び親族一覧みたいな個人情報リストを掲載し、当方のプライバシー権および名誉権を侵害したことに関する裁判です。この書き込みを行った者は、ＯＣＮの契約者であることが分かったのですが、ＮＴＴコミュニケーションズは「プライバシー侵害では無い」として、発信者情報の開示を拒否したため、東京地裁に訴えました。</p>
      <p>ＮＴＴコミュニケーションズは、発信者から送られてきたメールを元に、</p>
      <ul>
<li>当方は、ウェブサイトを開設しており、本を出版している公人であるから、住所や親族一覧をウェブに書かれても仕方が無い
        </li>
<li>裁判を傍聴するなど、公の場に出てきているから公人
        </li>
<li>企業を批判しているから、連絡先を教えるという意味で公益性がある
      </li>
</ul><p>などと意味不明な主張をしていましたが、全て一蹴され、「書き込みはプライバシー侵害だから、発信者の情報を開示せよ」という当然の判決が下されました。そもそも、このような主張をしてくるＮＴＴコミュニケーションズの企業姿勢こそが、神経を疑います。</p>
      <p>なお、まだ発信者情報は開示されていないため、発信者がどこの何者かは分かっていませんが、企業を批判しているから２ちゃんねるに個人情報を書くなどといった行為は、「告発サイト潰し」を目的とした明らかな嫌がらせ行為です。匿名の陰で行う卑劣な行為に対しては、表現の自由ひいては消費者の利益を護るために、断固として戦っていかなければいけません。</p>
      <p>実際に訴えるなどした場合は、トピックスや<a href="http://beyond.cocolog-nifty.com/action/">活動報告ブログ</a>などで報告してきます。どうぞ、応援よろしくお願いいたします。</p>
      <p>関連リンク：</p>
      <ul><li>
<a href="#0610">本日、株式会社はてなを訴えました</a><br>
        「はてな」でも、当方に対するプライバシー侵害が行われているため、発信者情報の開示を求めて訴えたものです。<br>
        一部サイト等で、「表現の自由を守ろうとする者が、発信者情報開示訴訟を行うのは間違っている」などとする言論がありますが、プライバシー侵害が表現の自由に該当するとは考えられませんので、明らかな事実誤認か事実を見ようとしていない主張です。プライバシー侵害を平気で行うものに対して、反論することは不可能です（たとえば、反論のためリンクをすることでも、プライバシー侵害が助長される）。
      </li></ul><p></p>
