---
layout: post
title: "創作物の規制に反対する署名募集が行われています"
category: topics
tags:
- 2008年の記事
---
<p>現在、国会において、「児童ポルノ法」の改定審議が開始されようとしています。そこでは、「児童の人権擁護」の大義名分で以下のような規制が追加されようとしているのですが、その規制に対する<a href="http://www.savemanga.com/">反対署名活動</a>が行われています。
      <ul>
<li>ＣＧ、絵画、イラストなど、実写以外の架空表現も規制対象とする
        </li>
<li>単純所持も処罰の対象とする
      </li>
</ul><p>現在でも規制されている、児童ポルノの製造や販売目的所持については、（一部のロリコンを除いて）反対する人はいないと思いますが、新たに追加されようとする規制は、児童の人権擁護という範囲を大きく逸脱するものです。つまりは、改悪です。改悪に対して、<a href="http://yama-ben.cocolog-nifty.com/">山口貴士弁護士</a>を代表世話人として、反対の署名募集が行われています。</p>
      <p>まあ、簡単に言うと、「<a href="http://www.savemanga.com/2008/07/blog-post.html">署名用紙をダウンロードして、リンク法律事務所に送ってください</a>」とのことのようです（出来れば9月10日までに）。興味のある方は、ぜひ。</p>
      <p></p>
