---
layout: post
title: "ニュース一覧サイト「1000件ニュース」を公開しました"
category: topics
tags:
- 2008年の記事
---
<p>ニュースをとにかく一覧するサイト「<a href="http://1000news.jp/">1000件ニュース</a>」を公開しました。
      <p>意外とファンの多い、<a href="http://sonar.a902.net/">悪ティブソナー</a>の後継サイトです。今後、<a href="http://www6.big.or.jp/~beyond/akutoku/news/">悪のニュース記事</a>も統合する予定です。</p>
      <p></p>
