---
layout: post
title: "著名なインターネットプランナー「御堂岡啓昭」氏を訴えました＆緊急カンパのお願い"
category: topics
tags:
- 2008年の記事
---
<p>著名なインターネットプランナーである「御堂岡啓昭」氏が、２ちゃんねるに当方の住所や親族一覧の住所と言った個人情報を掲載し当方のプライバシーを侵害すると言った嫌がらせを行っていたため、8月8日、損害賠償を求めて東京地裁に提訴しました。
      <blockquote>
        <p>参考： <a href="http://www.aruze.com/company/column/aruzekun/2008/290.pdf">インターネットプランナー御堂岡啓昭</a>（PDF）</p>
      </blockquote>
      <p>これは、２ちゃんねるおよびOCNからの発信者情報の開示を受けてのものです。これまで、２ちゃんねる管理人の西村博之氏を訴えた裁判は多数ありますが、実際に嫌がらせを行った本人を訴えたものは珍しいかと思います。私としては、このような嫌がらせ投稿の一義的な責任は書き込んだ本人にあると思います。しかも、御堂岡氏は実名を出して<a href="http://www.ohmynews.co.jp/news/20080727/27510">平沢勝栄・衆議院議員のパーティを開いたり</a>、自身のブログも持っているにもかかわらず、裏では２ちゃんねるの匿名性を利用してプライバシー侵害を行うなど、その責任は極めて大きいものだと言わざるを得ません。</p>
      <p>また、御堂岡氏は、これとは別に、8月17日に当方の実家をアポ無しで突然訪問し（「今、家の前に居ますから入れてください」と電話を掛けてきたらしい）、「<a href="http://www.kyoto.zaq.ne.jp/araki/">アラキ工務店</a>」や「<a href="http://www.kotono8.com/">松永英明</a>」氏の名前を出した上で、「息子さんのサイトを削除するように」などと要求してきています。御堂岡氏は、松永英明氏からの「要求事項」なるものを持参し、それによると「松永英明への批判および、批判をしているページへのリンクは一切禁止する。サイトも削除せよ」ということのようです。当方の元には、なんら通知は来ていないのですが、いきなり無関係の親族の元を訪れサイトの閉鎖を要求するなど、異常としか言いようがありません。</p>
      <p>もし仮に、何か主張があるのだとしても、正当な手段によってのみ主張すべきなのであって、２ちゃんねるに個人情報をばら撒いたり、親族を人質に取るような形で実現をはかるのは、<font color="#ff0000">言論に対するテロリズム</font>です。</p>
      <blockquote>
        <p>参考：　<a href="http://blog.a902.net/topics/2007/0117.html">【Google八分】アラキ工務店から、クレームが付きました</a><br>
        参考：　<a href="#0623" class="subject">松永英明氏より、はてなブックマークに対して発信者情報開示請求がありました</a></p>
      </blockquote>
      <p>まあこういうのは、無関係な人に嫌がらせして、心理的圧力を掛けるのが常套手段なのでしょう。当然、このことが親族の間で問題となっており、悪マニ始まって以来の閉鎖の危機に直面しております。</p>
      <p>もちろん、こちらとしては正攻法で対応し訴訟を行うということになります。しかし、それには多大な費用と時間が掛かります。そこで、サイトへのカンパをお願いするとともに裁判の情報をお知らせするために「<a href="http://www.a902.net/midooka/">御堂岡啓昭から、悪マニを守る会</a>」のページを作成いたしました。よろしければ、カンパ＆ご入会をお願いいたします。</p>
      <p>さて、悪マニでは、これからも幅広く消費者問題に関する事柄を取り上げて行きたいと考えております。ブログを開設することが普通になった今、悪意を持つ者に対する問題は普遍的なものになっていくかと思います。この裁判が、そういった者への抑止力となるような判決となるよう、全力を尽くして行きたいと考えております。どうか皆様からの暖かいご支援とご声援をよろしくお願いいたします。</p>
      <ul><li>
<a href="http://www.a902.net/midooka/">御堂岡啓昭から、悪マニを守る会</a>
      </li></ul><p>【追記】 御堂岡氏が、また新たにブログを開設し誹謗中傷を行っています。ブログの内容は事実に反するものでありプライバシーを侵害するという目的の元に開設されたことは明らかですので、聡明なる皆様におかれましては、彼のブログをリンクして、当方へのプライバシー侵害を拡大させることなど行わないよう、お願いします。</p>
      <p></p>
