---
layout: post
title: "MIAUの「Googleストリートビュー」シンポジウムに行ってきました"
category: topics
tags:
- 2008年の記事
---
<p>先日、「インターネット先進ユーザーの会（通称、MIAU）」で「<a href="http://miau.jp/1219397839.phtml">Google
      ストリートビュー"問題"を考える</a>」というシンポジウムが開催されたので見に行ってきました。私としては、GoogleストリートビューはGoogle八分と全く同じ問題を抱えており、反対する立場です。
      <p></p><center><img src="2008/0828.jpg" width="600" height="199" align="BOTTOM" border="0" naturalsizeflag="3"></center>
      <p>それで、途中、司会の方がGoogleストリートビューに賛成の人の挙手を求めたところ、「無条件で賛成」という方が半数以上、「条件付で賛成」という方も2割以上（合計7割以上）いたのには驚きました。賛成する方々は、「百度ストリートビュー」とか「NAVERストリートビュー」もしくは「Microsoftストリートビュー」でも、無条件に賛成するのかどうか、気になります。</p>
      <p>シンポジウム自体は、真面目に話す2人とそれ以外という感じで、淡々と進んでいきました。</p>
      <p>河村真紀子（<a href="http://shufuren.net/">主婦連合会</a>常任委員）氏は、消費者重視の立場から「ストリートビューは、圧倒的な網羅性と詳細さで、スナップ写真などとは質が異なる」「拒否の方法も分からないような、ネット弱者の家まで見境無く写しているのは良くない」と主張しており、私としては妥当な意見だと思いました。郵便のダイレクトメールと、ボットネットによるspamでは、宣伝メールに「技術的な罪」は無いとしても質が全く違います。フィルタリングやらなんやらで、コストを支払うのは直接的にも最終的にも消費者です。</p>
      <p>山田健太（専修大学准教授）氏は、新聞協会に所属していたときに「<a href="http://www.asahi.com/information/copyright/copyright8.html">新聞社のサイトへの無断リンク・ディープリンク禁止</a>」を主張していた方ということで「今でも基本的な考え方は変わっていない」とのことですが、「ビジネス的に安くあげるために、オプトアウト方式を採用するのは良くない」「グーグルは既に『発信者』なのだから、法的規制を呼び込むような見切り発車は良くなかった」と、歴史的経緯などを考慮した論理的な発言でした。</p>
      <p>ところが、MIAUの発起人である八田真行氏は釣り発言なのでしょうが、「グーグルストリートビューは、気持ち悪くない。何が悪いのか分からないので、反論のしようが無い」「新しい技術を気持ち悪いなんていう人は、明治時代に『写真を撮られると魂を抜かれる』と言っていたのと同じ」としながらも、「私としては、ストリートビューのここをクリックしたという履歴や、検索履歴がグーグルに蓄積されていくのが気持ち悪い」と発言。良く分かりませんが、あえて自分からクリックするようなことをしなければいいと思うよ！！と思いました。</p>
      <blockquote>
        <p></p>
<table border="0" cellspacing="0" cellpadding="0"><tr>
<td width="100%" style="font-family: 'MS PGothic',IPAMonaPGothic; font-size: 12pt;">
            ＼　　バカ丸出しですね<br>
            　　‾‾‾‾‾‾‾‾‾‾‾‾‾∨‾‾‾<br>
            　　 　, - ─‐‐- 、.　　　　　　　　　　 ,_ ' ‾_`丶、<br>
            　　 //⌒ニニ⌒ヽi　　　　　　 　 ／ 　‾ 　 `i 　|<br>
            　 . |.!. -‐　 　‐-、 !|　　　　　　　 !=、　 ,=ニニ ,-'_　|<br>
            　 rt.l ‐- ,　 、-‐　iyi　　　　　　　i゜-|　.!゜- ''　|iб! |<br>
            　 !=.|　.ノ{＿_ハ　 .lソ　　　　　　　.|..{.__,}.　 　 |!ソ　.|<br>
            　　/i　ヾ三三ヲ . ハ. 　　　　　　　 |ミ三三ラ /＼ 　 |<br>
            ／|　ヽ、.___=___,.ノ　 |＼ 　　　　　　!　=　　./　　|.＼ |<br>
            　.|　　＼　　　／　　|　　　　　 ／/ ヽ、_／　　　|　 | ＼<br>
            　　＿＿＿∧＿＿＿＿＿＿＿＿＿＿＿＿＿<br>
            ／　　バカだからね…</td> 
          </tr></table>
</blockquote>
      <p>あと、<a href="http://danblog.cocolog-nifty.com/index/">壇俊光</a>（弁護士）氏は、「今日は、いっぱい話して行きたいと思います！」と意気込んでいたわりにはシャイな方で、これと言った主張をしていませんでした。</p>
      <p>と言うことで、グーグルストリートビューについて、何故かCOOL!COOL!COOL!と思っている人がいっぱい居るようで、Google大好きな私としては「オマエの力は、こんなものでは無いはずだ！」という気持ちで一杯です。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://www.itmedia.co.jp/news/articles/0808/28/news032.html">「Googleストリートビュー」は何が問題か——MIAUがシンポ</a>
        </li>
<li>
<a href="http://internet.watch.impress.co.jp/cda/news/2008/08/28/20682.html">「ストリートビュー」はどこが問題か、MIAUシンポジウムで議論</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/akutoku/2008/08/google_be23.html">Googleストリートビューの応用例</a>
      </li>
</ul><p>【追記】</p>
      <p>河村真紀子氏は、「住所と家の概観や周囲の状況が容易に結びつくような状態だと、小学校のクラス名簿を作るのも躊躇せざるを得なくなる」とも言っていました。西日本とかだと「部落問題」が根強いと思いますが、「○○ちゃんの家は、こんなに綺麗なのに、△△ちゃんの家は、こんなにボロ」とか噂されれば、「弱い人」の魂は抜けちゃうかもしれませんね。って言うか、「写真で魂は抜けない」と思う人だけ、写真を撮られていれば良いと思います。「クラス一丸」とか「全社員一致団結して」とか、やりたい人だけどうぞって感じです（一致団結させたいなら、あらじめモチベーションを高める努力をすべき）。</p>
      <p></p>
