---
layout: post
title: "【提言】こんにゃくゼリーを、ゾーニング販売せよ"
category: topics
tags:
- 2008年の記事
---
<p>誤解があるといけないのですが、私はむしろ「規制反対派」です。行政権力の過剰な規制とは、戦っていかないといけないと考えています。
      <p>だから、平成１８年に<a href="http://law.e-gov.go.jp/htmldata/H05/H05HO088.html">行政手続法</a>が施行されおり、既に非関税障壁だと槍玉に挙げられた「ギョーセーシドー」の時代でも無いのですから、マンナンライフは行政指導に対して逆切れ的に「切腹」する前に、やれることは全てやるべきでした（切腹で同情が買えるのですから、日本は、安い国です）。</p>
      <p>しかし、子供が食べてはいけないような「洋菓子」を、普通にお菓子として販売するのは、どう見てもおかしいでしょう。</p>
      <p>児童書のカテゴリーで、猥褻本（もしくは、U15写真集）を売ったとすれば、規制されて当然です。</p>
      <p>おもちゃの「ままごとセット（大きなお友達用）」に、「リアル志向だから」と言って、刃のついたミニ包丁が入っていたとすれば、規制されて当然です。</p>
      <p>ですから、きちんとした判断の出来る大人が、自らの責任で「ゼリー風こんにゃく」を買えるようにするために、スーパーの一角に「成人コーナー」を設けて、そこで販売すれば良いかと思います。もちろん、危険度の高い「餅」も、そこで売ります。酒類も、そうですね。<br>
      # 「大人のふりかけ」は、含まれません</p>
      <p>事故の起きやすさというのは、さまざまな危険因子が積み重なって起きるものです。ですが、こんにゃくゼリーと、コーヒーゼリーの安全性の差は、どっから来るんですか？どうか、私のようなお馬鹿さんにもわかりやすいように説明してください。「段差あり危険」と書かれてあっても、転ぶ人は転ぶんです。今、若い方々も、年を取ってくれば、<a href="http://allabout.co.jp/house/longlifehouse/closeup/CU20031115A/index2.htm">畳のヘリで転んで死にます</a>。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="#1010">マンナンライフは、腹を切って死ぬべき</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/akutoku/2008/10/1-0e8c.html">業界任せ、改善進まず　こんにゃくゼリー、１０年前より硬さ増　注意表示守らぬ製品も（朝日新聞）</a>
      </li>
</ul><p></p>
