---
layout: post
title: "御堂岡啓昭によるプライバシー侵害訴訟、第2回期日のお知らせ"
category: topics
tags:
- 2008年の記事
---
<p>自称「ネットプランナー」の御堂岡啓昭なる人物が、私や私の親族の住所氏名一覧と言った個人情報を２ちゃんねるに投稿したこと、に対する損害賠償請求訴訟の第2回口頭弁論が、
      <blockquote>
        <p>2008年10月22日（水）　13時20分から、東京地裁705号法廷</p>
      </blockquote>
      <p>にて行われます。</p>
      <p>御堂岡啓昭は、第1回目の期日に、大方の予想に反して姿を現しましたが（1回目は、来ても来なくてもいい）、その場で、何故か弁護士を付けずに本人訴訟でやると明言しましたので、次回以降も、本人が出廷するかと思われます。</p>
      <p>で、15日に、本人が書いたと思われる、被告の反論書面が届きました。</p>
      <p>被告（御堂岡啓昭）によると、</p>
      <ul>
<li>「原告との感情のもつれ（または原告が反対取材をしないことへの公憤）から、腹を立てた訴外第三者」が個人情報を投稿した
        </li>
<li>「原告は権利救済を目的として本訴訟を提起したのではなく、裁判制度を利用した売名及び被告攻撃に過ぎない」
      </li>
</ul><p>そうです。1回訴訟起こすごとに100万くらい貯金が吹っ飛ぶのに、売名で起こすなんて、エラく金持ちだな。「第三者が勝手にやった」というのは<a href="http://blog.a902.net/topics/2007/1003.html">奥平明男</a>も主張していたので珍しくありませんが、「売名目的」というのは新たな視点です（まあ、カルト集団が主張していたのは見たことある）</p>
      <p>そして、驚くべきことに、</p>
      <blockquote>
        <p>「先ず本件書き込みは、原告のプライバシーを侵害するものではない。第一に個人の氏名や住所は、プライバシーという他人に知られたくない自由の対象外である。住民基本台帳法は、住民の利便の増進と行政の合理化のため、住民一人一人に対して住所の届出を義務付けており、個人の住所は、住民基本台帳に登載され、公開されるべき性質の事柄である」</p>
      </blockquote>
      <p>とのことです。</p>
      <p>まあ、御堂岡啓昭は、自分自身の住所や実家住所のプライバシー性を放棄し、いつどこに掲載されても気にしないのでしょうが（裁判上で主張しているのですから、「禁反言の法理」により自分の時には「プライバシー侵害である」とは言えない）、そういったユニークな考え方を他人に押し付けるのはご勘弁願いたいものです。</p>
      <p>と言うか、住民基本台帳法では閲覧を出来る場合を「統計調査、世論調査、学術研究」や「訴訟目的」に厳しく制限していますし、氏名や住所といった個人情報を「公開されるべき性質」などとする滅茶苦茶な考え方は、「個人の権利利益を保護することを目的」として作られた個人情報保護法の理念にも著しく反するものです。</p>
      <p>被告は、「アメリカ留学中に、現在のアメリカ大統領選のネットプランを立てた人物とも交友を結び、現在、渋谷のベンチャー企業の管理本部長、海外オークションの英語コーディネーター、企業やタレントのネット戦略、調査会社のネット顧問、企業のネットクレーム対応顧問など多くの仕事を兼任しているネットプランナーであると自称し、インターネット上のトラブル解決を業として行っていると自称する人物である」ことを認めましたが、このような非常識な考え方の者が「ネット戦略」を立てている企業やタレントは「本当に、大丈夫かいな？」と心配になります。</p>
      <p>でも、被告自身が認めたように、あくまでも「自称する人物」ですからね！（笑）</p>
      <p>と言うわけで、10月22日に東京地裁にお越しいただければ、このようなスゴイ経歴の持ち主本人を、生で見ることが出来ます。ぜひ応援しに来てください。</p>
      <p>参考リンク：</p>
      <ul><li>
<a href="http://www.a902.net/midooka/">御堂岡啓昭から、悪マニを守る会</a><br>
        「サイトを潰す目的で、ネットに個人情報晒し」することに反対していただける方は、ぜひともご支援をお願いします。
      </li></ul><p></p>
