---
layout: post
title: "はてなブックマーク訴訟、第１回期日のお知らせ"
category: topics
tags:
- 2008年の記事
---
<p>はてなブックマークと言えば、本来の使い方以外に「安全圏から他人を誹謗中傷するのに格好の場」として有名ですが、そのはてなブックマークを悪用し、当方に対して嫌がらせを行っていた者の発信者情報を開示するよう求める裁判を、はてなに対して起こしました。
      <p>第一回口頭弁論は、11月12日午後1時10分より、東京地裁八王子支部304号法廷にて行われます。</p>
      <p>請求の内容としては、beyondows や、 beond といった故意に私のハンドルと紛らわしいハンドルを名乗り、当方のサイトばかりをブックマークした上で、「子供のポルノが好き」「募金詐欺、援助金詐欺」などと誹謗中傷を延々と繰り返していたネットストーカー的人物の、発信者情報の開示を求めるものです。</p>
      <p>もちろん、はてなに対しては、訴訟を起こす前に任意で開示するよう求め、当該ページを削除するよう要求したのですが、なにぶん<a href="#0919">住所氏名を暴露しやすい環境を守るのがはてな</a>ですから、当然のごとく拒否されました。とりあえずは発信者への責任追及を進めていく方針ですが、名誉毀損文章の削除を求め、第3弾、第4弾という形で、はてなを訴えることになるかもしれません。</p>
      <p>ところで、時折、「はてなブックマークで誹謗中傷されている」ことを主張している人を見かけます。しかし、私よりも金も知識もあるようなのに、実際に訴えるようなことはしてないようですから、そういう人は単に「被害者ぶっているだけ」か「そんなに被害を感じていない」のでしょう。</p>
      <p>本当に被害を受け困っている方は、正しいことをするのに躊躇する必要はありませんから、そういった「ガス抜き」的言説で満足するのでは無く、どしどし訴えて行ったほうが良いかと思います。</p>
      <p></p>
