---
layout: post
title: "御堂岡啓昭によるプライバシー侵害訴訟、第3回期日のお知らせ"
category: topics
tags:
- 2008年の記事
---
<p>私や私の親族に対する嫌がらせを行っていた、自称「ネットプランナー」の御堂岡啓昭を訴えた裁判の第3回口頭弁論が、11月26日の午後1時半から、東京地裁705号法廷で行われます。被告は、書面の中で「<a href="http://d.hatena.ne.jp/matsunaga/">松永英明</a>(*1)から送られてきたmixiのメッセージを持って、悪マニ管理人の実家に行った」などと主張し、松永英明からのメッセージを証拠として提出しているのですが、それと「２ちゃんねるに個人情報を書いた」ことの関連性が全く分かりません。書面は全体として何を言いたいのか意味不明で、今後、どのような展開になるか全く未知数です。ぜひ、傍聴と応援のほどをお願いします。
      <p>さて、第2回期日は、20席以上ある傍聴席がほぼ満員になるという盛況ぶりでしたが、なんと被告は裁判を無断欠席しました。御堂岡被告の素晴らしい答弁振りを期待して見に来てくれた方も、肩透かしを食らってがっかりです。</p>
      <p>で、欠席した理由ですが、どうも<a href="http://qb5.2ch.net/test/read.html/saku2ch/1224177412/1">10月16日に警視庁本所警察署に別件で逮捕され、拘留中であったため</a>らしいです（裁判は22日）。それなら出てこれないのも仕方ありません。とはいえ、たとえ逮捕されていたとしても、接見にきた弁護士や知人を通じて、裁判所に連絡することくらいは可能ですから、御堂岡被告の不誠実さが分かります。</p>
      <p>逮捕と言えば、私や私の親族に嫌がらせを行っていた<a href="http://blog.a902.net/topics/2005/1004.html">探偵業・奥平明男も別件で逮捕されました</a>が、奥平を訴えていた裁判では書類をほとんど出してこずに無意味に長引きました。親族に嫌がらせを繰り返すような人物は、得てしてそういう人となりなのかも知れませんね。裁判くらいは、きちんと対応してほしいものです。</p>
      <p>と言うわけで、御堂岡啓昭も次回こそは出席すると思われますので、懲りずに傍聴していただけると幸いです。</p>
      <ul><li>
<a href="http://www.a902.net/midooka/">御堂岡啓昭から、悪マニを守る会</a><br>
        裁判に仕事に忙しくて更新が滞っておりますが、書面はこちらにアップして行きます。
      </li></ul><p>(*1) 地下鉄サリン事件を起こしたカルト宗教団体「オウム真理教」の一員として、積極的なネット対策・世論誘導を行っていたとされる人物。河上イチローというハンドルで活動を行っていた。現在でも、「アルファブロガー」として、ネット世論の形成に大きな影響力を持つ。元オウム信者とはいえ、昔は、親族に嫌がらせを行うような人ではなかった、はず。御堂岡啓昭の主張からは、２ちゃんねるへの個人情報掲載に関係していたようだが。</p>
      <p></p>
