---
layout: post
title: "あけまして
    おめでとうございます"
category: topics
tags:
- 2004年の記事
---
<p>昨年は、いろいろなイベントが発生して、なんだか長く感じました。そして、消費者ポータルJAPAN
      の開設や、構造改革（IT革命）の成果が出始め、新たな可能性が見えてきた年でもありました。
      <p>私は、技術者でありクリエイターでもあります。ですから、「素晴らしいインターネットで、個人のメディアがどうのこうの」とお題目を唱えたり、批判・批評をするだけで無く、WEBサイトという「成果」を、継続して出して行きたいと考えています。今年も、しつこくサイトを運営し、さらなる発展を目指していきたいです。</p>
      <p>とは言え、様々な問題が出てきそうな年でもあります。当サイトのことを不満に思う組織（例えば、<a href="http://www6.big.or.jp/~beyond/akutoku/topic/wedding.html">ウェディング</a>や<a href="topics2003.html#0506">産経</a>）や、<a href="topics2003.html#0919">警察も動いている</a>ようですし、逮捕や訴訟などの障害がついに発生するかもしれません。ここで、唐突に聖書を見てみると、「使徒たちは、御名のために辱められるに値する者とされたことを喜び（使徒の働き
      5章41節）」とあります。この「御名」とは、イエス・キリストのことですが、私はクリスチャンではありませんから「神から与えられたもの」とでも言い換えてみます。「神から与えられたもの」とは、人間が本来持つ権利、すなわち「自然権」のことであり、言論・表現の自由もまた自然権のひとつであります。</p>
      <p>つまり、表現の自由を信奉する者は、それで迫害を受けても、むしろ喜ばないといけないと言うことです。まあ、実際そう言うことになったら面倒だし困るのですが、市民の利益を損なう企業や著作権と言ったものとは、そのくらいの気持ちを持って戦っていきたいものです。これは、市民運動というより、「防衛運動」です。</p>
      <p>それでは、今年もよろしくお願いいたします。</p>
      <p></p>
