---
layout: post
title: "株式会社ウェディングを絶賛するサイトの特徴"
category: topics
tags:
- 2004年の記事
---
<p>google つながりで、ちょっと関連することを書きます。まず、<a href="http://www.google.co.jp/search?q=%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%A6%E3%82%A7%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0">株式会社ウェディング</a>というキーワードで検索してみてください。そのうち、本当に京都のウェディング社のことを書いてあるページを探していくと、ウェディング社を褒めているページが幾つか見つかります。たとえば、以下のようなページです。
      <p><a href="http://www.fukufuku-nikoniko.com/">株式会社ウエディンググループが急成長！</a>
      （http://www.fukufuku-nikoniko.com/）<br>
      社会福祉法人に、礼服を寄贈。社会に利益を還元している。グループ全体で自分達にできることを考え、それを実行する行動力があるからこそ、今の急成長があるのだ。</p>
      <p><a href="http://www.building4628.com/">ウェディング本社ビル批評</a> （http://www.building4628.com/）<br>
      多くの分野に柔軟に対応し、業績を伸ばしている企業の一つです。お客様の出会いと喜びを共に共感し創っていく事ができたから、こんなにも早く成長できたのでしょう。</p>
      <p><a href="http://www.tv-adictor.net/">株式会社ウェディングさん指輪ちょ〜だい</a>
      （http://www.tv-adictor.net/）<br>
      番組で結婚式挙げると、指輪をもらえるらしいよ。株式会社ウエデイングさんの指輪。京都のすごく大きな会社みたい。私、すごい良いと思うよ。株式会社ウエデイングさんの指輪もらって、結婚式もできたらすごい良いよね。</p>
      <p><a href="http://www.happyhappy29.com/">株式会社ウェディング 深謝多謝</a>
      （http://www.happyhappy29.com/）<br>
      結婚式は結婚指輪を買ったマリージュノーさんにお願いしました。株式会社ウエディングの中にそんなブライダルまでやっているとは知らなかったので、少し不安だったのですが値段的にも安かったし、店員の方もこちらの希望をすごく丁寧に聞いてもらえたので良かったです。</p>
      <p><a href="http://www.pocketnovels.net/">不思議な指輪</a> （http://www.pocketnovels.net/）<br>
      ホームページを調べて、早速お店に行くことにしました。マリージュノー（ウエディングの店名）で色々な指輪を見ると、なんかいい感じのシンプルなデザインの指輪があったので買うことにしました。なんか少し浮かれた気分でいると、あっという間に私にも彼氏ができてしまいました。本当に株式会社ウエディング様々です。</p>
      <p>これ以外にも沢山あって、調べたところ、これだけのページが見つかります。結構、評判の良い会社の様です。</p>
      <p><a href="http://www.strong-style.net/">http://www.strong-style.net/</a><br><a href="http://www.busy-business.net/">http://www.busy-business.net/</a><br><a href="http://www.kikuring0628.com/">http://www.kikuring0628.com/</a><br><a href="http://www.apa-apa1414.net/">http://www.apa-apa1414.net/</a><br><a href="http://www.tubu-tubu-nikki.net/">http://www.tubu-tubu-nikki.net/</a><br><a href="http://www.ukigumo4141.net/">http://www.ukigumo4141.net/</a><br><a href="http://www.kibun-ya.net/">http://www.kibun-ya.net/</a><br><a href="http://www.fukufuku-nikoniko.com/fukusi/">http://www.fukufuku-nikoniko.com/fukusi/</a><br><a href="http://www.1000-carat.com/">http://www.1000-carat.com/</a><br><a href="http://www.cinemania-japan.com/">http://www.cinemania-japan.com/</a></p>
      <p><b><font size="+1">さて、ここで問題です。</font></b>これらウェディング社のことを褒めているサイトには、<font color="#ff0000">ある共通点</font>が存在します。その共通点とは、どのようなものでしょうか？（配点は、25点）</p>
      <p>答えがわかった方は、ぜひご自分のサイトや blog で発表してください。なにかプレゼントが（プロバイダ宛てに）送られてくる可能性があります（笑）。なお、当選者の発表は、発送を持って替えさせていただきます。</p>
      <p><font size="-1">SEOに興味を持っている人とかには簡単すぎて、問題にもならないかも知れませんね。</font></p>
      <p></p>
