---
layout: post
title: "たし目2月号は、「電子マネー」特集"
category: topics
tags:
- 2004年の記事
---
<p><a href="http://www.kokusen.go.jp/book/data/me.html"><img src="http://spj.to/topics/2004/tasime02.jpg" alt="たしかな目2月号表紙" border="0" style="float: left; margin-right: 0.8em;" align="BOTTOM">たし目</a>2月号の特集は、「電子マネー」特集です。
      <p>なんだか、ごちゃごちゃとして良く分かりません。ページ数の割には内容が薄く、デメリットに対するツッコミも浅い記事となっています。ハッキリ言って、イマイチです。<br><br style="clear: left" clear="ALL"></p>
      <p></p>
