---
layout: post
title: "株式会社ウェディングを絶賛するサイトの特徴・解答編"
category: topics
tags:
- 2004年の記事
---
<p><a href="#0110">1月10日のトピックス</a>の解答です。正解は、<font color="#ff0000">全てのサイトが、同じサーバー（211.130.204.177）上にある</font>でした。
      <p>別解として、<font color="#ff0000">全てのドメインを、株式会社ニューコンセプトが取得している</font>でも結構です。</p>
      <p>（解説）</p>
      <p>Windows なら、まず スタート＞プログラム＞アクセサリ＞コマンドプロンプト を開きます。そして、それぞれのサイトに対して
      ping を打ってみるとIPアドレスがわかります。下の図で、黄色く色分けした部分が、ＩＰアドレス、つまりサーバーの真の住所です。</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%" bgcolor="#000000">
          <p><font color="#ffffff">C:\&gt;ping www.fukufuku-nikoniko.com</font></p>

          <p><font color="#ffffff">Pinging www.fukufuku-nikoniko.com [</font><font color="#ffff00">211.130.204.177</font><font color="#ffffff">]
          with 32 bytes of data:</font></p>

          <p><font color="#ffffff">Reply from 211.130.204.177: bytes=32
          time=32ms TTL=50</font></p>

          <p><font color="#ffffff">C:\&gt;ping www.building4628.com</font></p>

          <p><font color="#ffffff">Pinging www.building4628.com [</font><font color="#ffff00">211.130.204.177</font><font color="#ffffff">]
          with 32 bytes of data:</font></p>

          <p><font color="#ffffff">Reply from 211.130.204.177: bytes=32
          time=31ms TTL=50</font></p>
</td> 
        </tr></table><p>IPアドレスが同じと言うことは、見かけは違っても<b><font color="#ff00ff" size="+1">実体は同じ</font></b>と言うことです。理由は分かりませんが、何故か、ウェディングを絶賛するサイトは同じサーバーに集まってくるようです。</p>
      <p>また、ドメインの所有者を <a href="GLOBAL%20MEDIA%20ONLINE%2C%20INC">whois</a>（所有者を検索するサービス）を使って調べると、「GLOBAL
      MEDIA ONLINE, INC」所有であることが分かります。GLOBAL MEDIA ONLINEと言えば、<a href="http://www6.big.or.jp/~beyond/akutoku/spam/index.html#interq">元interQ</a>ですが、今は「<a href="http://www.onamae.com/">お名前.com</a>」で有名です。お名前.comで取得したドメインは、先ほどの
      whois では調べられないので、<a href="http://www.onamae.com/domain/whois/">専用のwhois</a>
      を使います。</p>
      <p>すると、偶然にも全て<a href="http://www.newconcept.jp/company.html">株式会社ニューコンセプト</a>が取得していることが分かります。ニューコンセプト社のやっているサービスに、<a href="http://www.newconcept.jp/searchengine1.html">検索エンジンの検索結果の上位に表示されるようにする</a>と言うサービスがありますが、山のような絶賛ページは、そのためのものでしょうか？勧誘を受けた人が
      googleで調べると、<a href="2004/wedding0114.jpg">上位は全て絶賛サイト</a>です。明日から、何を信じて生きていけば良いのでしょうか？</p>
      <p>ところで、ニューコンセプト社は「<a href="http://www.newconcept.jp/products.html">女帝</a>」と言う映画を製作したそうです。「製作：中坊進二」とあるのは、<a href="http://www6.big.or.jp/%7Ebeyond/akutoku/news/1999/0121.html">株式会社ウェディング元社長の中坊進二さん</a>でしょうか？</p>
      <p>女帝／キャスト・スタッフ</p>
      <p><a href="http://www.wedding-japan.com/pc/bell_heat/showcase/yakushiji.html">薬師寺保栄</a><br><br>
      製作総指揮：<a href="http://www.wedding-japan.com/pc/corporate/guide/04/04.html">矢野生男</a><br>
      製作：中坊進二<br>
      　<br>
      製作：メガストーンエンタテイメント<br>
      製作協力：株式会社ニューコンセプト　フィルム・シティ 　<a href="http://www.wedding-japan.com/pc/corporate/guide/04/04.html">ウエディングライフサービス</a><br>
      配給：ムービーテレビジョン株式会社<br>
      ビデオ販売：徳間ジャパンコミュニケーションズ</p>
      <p></p>
