---
layout: post
title: "ぐぐるさんに、メール"
category: topics
tags:
- 2004年の記事
---
<p>1月21日に、再度、質問のメールを送ってみました。返事は、まだありません。
      <p></p><table width="90%" border="1" cellspacing="0" cellpadding="8" bordercolor="#339900"><tr>
<td width="100%" bgcolor="#f0fff8">
          <p>Google御中</p>

          <p>ページが検索出来ない原因についてお答えいただき、どうもありがとうございます。それで、御社の対応方針について、お聞きしたいことがございますので、お答えいただけますでしょうか？</p>

          <ol>
<li>検索できなくなったページが、再び検索できるようになる可能性は、ございますでしょうか？
            </li>
<li>可能性があるとすれば、どのような手続きを行えばよいのでしょうか？
            </li>
<li>日本の法律に違反していると判断されたそうですが、各ページについて、具体的にどの部分が法律に違反していると判断されたのでしょうか？
            </li>
<li>クレームを付けたユーザーの情報を、教えてください。
            </li>
<li>詳細情報を記載した文章が提出されたとのことですが、FAX にて送っていただけますでしょうか？<br>
            FAX番号：************
          </li>
</ol>
<p>以上、5点、よろしくお願いいたします。</p>
</td> 
        </tr></table><p>さて、googleで検索できなくなって、3週間ほど経ちました。プロバイダからも嫌われるなど、順調に衰退の一途をたどっております。</p>
      <p>このサイトを抜き、悪徳商法業界のトップサイトに踊り出る絶好のチャンスです。ここぞとばかりに新サイトを作ったり、ここぞとばかりに更新しまくってください。どこかに一極集中していると良くないと言うのは、今回の教訓ですよ。</p>
      <p></p>
