---
layout: post
title: "テレアポ商法にひっかかってみました@探偵ファイル"
category: topics
tags:
- 2004年の記事
---
<p>探偵ファイル2002年7月の記事に、こんな記事がありました。
      <p><a href="http://www.tanteifile.com/tamashii/scoop/0207/31_01/index.html">テレアポ商法にひっかかってみました・前編</a><br><a href="http://www.tanteifile.com/tamashii/scoop/0208/06_01/">テレアポ商法にひっかかってみました・後編</a></p>
      <p></p><table width="90%" border="1" cellspacing="0" cellpadding="8" bordercolor="#333399"><tr>
<td width="100%">
          <p>携帯電話に、全く聞き覚えのない女性の声で突然電話がかかってきた。『京都の○○○ウェディング』というブライダル関連の会社の女性らしい。非常に明るい声で話す。</p>

          <p>女性 「当社では、全国的に、年齢を問わず独身の男女を対象に結婚に対する意識調査を行い、ストーリー性のある婚約指輪のレクチャーを行なっております」</p>

          <p>な、なんだストーリー性のある婚約指輪の買い方って？</p>
</td> 
        </tr></table><p>伏字になっていて、何と言う会社なのか分かりません。<a href="http://www.wedding-japan.com/pc/corporate/guide/01/01.html">株式会社ウェディング</a>や<a href="http://www.wedding-japan.com/pc/corporate/guide/02/02.html">マリーウェディング</a>と同じく、<font color="#ff0000">京都にあるテレアポ業者</font>のようです。</p>
      <p>google八分の件で、色々とサイトを観て回っていて見つけましたが、探偵ファイルの記事のことを取り上げているのは、たったひとつのサイトだけでした。すごい！（某弁護士風の驚き表現）
      記念にリンクしておきたいのですが、どこのサイトか分からなくなりました(^^;。是非、ご連絡ください。</p>
      <p><b>2月4日追加。</b></p>
      <p>ご本人より連絡を、いただきました。探偵ファイルの記事を知ったのは、<a href="http://freerise.jp/sv/index.php">SUMMER
      VACATION</a> さんのところです。どうも、ありがとうございます。</p>
      <p></p>
