---
layout: post
title: "フォースの暗黒面に引きずり込まれつつあるグーグル？"
category: topics
tags:
- 2004年の記事
---
<p>株式会社ウェディングのことを取り上げている、<a href="http://mw.air-nifty.com/mine_log/">mine
      log</a> さんが、google八分にされたそうです。偶然でしょうか？それとも…。
      <p>mine log さんのサイトは、@nifty がやっている<a href="http://www.cocolog-nifty.com/">ココログ</a>というサービスを利用して作られています。@nifty
      は、昔から訴訟を沢山抱えていて、はてなとは違って「クレームに強い」という印象がありますから、誰かが googleの方に要請を出したのかもしれませんね。</p>
      <p>ちなみに、googleで「株式会社ウェディング」を検索すると、2番目に<a href="http://d.hatena.ne.jp/keyword/%B3%F4%BC%B0%B2%F1%BC%D2%A5%A6%A5%A7%A5%C7%A5%A3%A5%F3%A5%B0">はてな</a>（内容は削除されています）、3番目に<a href="http://slashdot.jp/articles/04/02/02/095240.shtml?topic=19">スラッシュドット・ジャパン</a>が見つかります。そのうち、スラッシュドットも、google八分にされてしまうのでしょうか？</p>
      <p></p>
      <p></p>
