---
layout: post
title: "世界の中心で、愛(?)をカタチにする企業"
category: topics
tags:
- 2004年の記事
---
<p>これまで分かっている情報を元に、株式会社ウェディングと悪マニの関係（主に、マスコミ周辺）を、図にしてみました。間違いや、書かれていないつながりがありましたら、是非教えてください。
      <p></p><center><img src="2004/wedding0214.gif" width="641" height="591" align="BOTTOM" border="0" naturalsizeflag="3"></center>
      <h3>参考文献</h3>
      <blockquote>
        <p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4062568179/akutokushouho-22">京都に蠢く懲りない面々—淫靡な実力者たち</a></p>
        <p>京都のフィクサー故・山段芳春氏と、KBS京都のつながりが書かれている。</p>
      </blockquote>
      <h3>キーワード解説</h3>
      <blockquote>
        <h4>キャンディ・キャンディ裁判</h4>
        <p>いがらしゆみこ氏とフジサンケイアドワークが、「複製原画」と呼ばれるものを高額で販売していることについて、原作者の水木杏子氏が、販売差し止め請求したもの。水木氏側の勝訴で確定しています。</p>
      </blockquote>
      <ul><ul>
<li>
<a href="http://www.geocities.co.jp/AnimeComic/7867/fujisankei_ad.html">フジサンケイアドワークの情報開示の嘘</a>
          </li>
<li>
<a href="http://page.freett.com/nekotamaiyaxa/japan_genga.htm">キャンディ・キャンディ原画について</a>
        </li>
</ul></ul><blockquote>
        <h4><a href="http://www.artvivant.net/">アールビバン</a></h4>
        <p>「有名作家の展示会」と偽って客引きをし、高額な版画（シルクスクリーン）を販売するキャッチセールス会社。同様の商法をやる会社として、<a href="http://www.artbrillant.co.jp/">アールブリアン</a>がある。どちらも、秋葉原に行けば勧誘を体験できる（普通に断れば、1回2時間）。今まで、両者あわせて5回勧誘されているけど、なぜか営業マンは全員、自社の絵を持っているのが不思議。街頭で配られるポストカードには、小さい字で「展示即売会」と書いているけど、販売のことを説明されたことは
        1回も無い。</p>
        <ul><li>
<a href="http://www.geocities.co.jp/HeartLand-Yurinoki/6139/index.html">絵のある生活？</a>
        </li></ul>
<h4>産経新聞</h4>
        <p>当サイトに対し、<a href="topics2003.html#0506">「著作権侵害」とクレーム</a>を付けてきた。</p>
      </blockquote>
      <p></p>
