---
layout: post
title: "どんどん増殖する、株式会社ウェディングを絶賛するサイト"
category: topics
tags:
- 2004年の記事
---
<p>株式会社ウェディングを絶賛するサイトが、まるでエージェント・スミスの様にネットを埋め尽くそうとしています。今回のは、金をかけた豪華な作りですね。
      <p><a href="http://www.r-queen.jp/index.html">BOX BOOSTER</a>
      （http://www.r-queen.jp/index.html）</p>
      <blockquote>
        <p>ウェディングと仲の良い「薬師寺保栄」氏を紹介するサイトでしょうか？「このサイトのスポンサー、株式会社ウェディングさんのサイトもご覧ください」との事で、「世界で一番輝きたければこのダイヤモンドをまとえばいい」と宣伝しています。</p>
        <p><a href="http://whois.nic.ad.jp/cgi-bin/whois_gw?key=R-QUEEN.JP">Whois</a>
        によると、ドメインの持ち主は、</p>
        <p>佐川　一<br>
        604-8162　京都府京都市中京区七観音町629番地1<br>
        075-231-8555</p>
        <p>となっていて、株式会社ウェディングの住所と同じです。ちなみに、サーバーは、<a href="http://www.denet.ad.jp/">株式会社ディーネット</a>さんです。<br></p>
      </blockquote>
      <p><a href="http://www.koto-kyoto.jp/">京都観光情報ミヤビスタ</a> （http://www.koto-kyoto.jp/）</p>
      <blockquote>
        <p>京都の観光案内のページでしょうか？「協賛：株式会社ウェディング，マリーウェディング，マリージュノ各社」となっております。</p>
        <p><a href="http://whois.nic.ad.jp/cgi-bin/whois_gw?key=koto-kyoto.jp">Whois</a>
        によると、ドメインの持ち主は、</p>
        <p>山本　太郎<br>
        604-8162　京都府京都市中京区七観音町629番地1<br>
        075-231-8555</p>
        <p>となっていて、株式会社ウェディングの住所と同じです。ちなみに、サーバーは、<a href="http://www.denet.ad.jp/">株式会社ディーネット</a>さんです。</p>
      </blockquote>
      <p><a href="http://www.go-fight.jp/">BATTLE BULLETIN BOARD</a>
      （http://www.go-fight.jp/）</p>
      <blockquote>
        <p>格闘技の掲示板サイトのようです。「株式会社ウェディング グループは、格闘技イベントＰＲＩＤＥを応援しています」とのこと。「初心者歓迎！マニアックなファンの方は大歓迎！！
        」と書いてありますが、マニアックスのファンの方も歓迎でしょうか？</p>
        <p><a href="http://whois.nic.ad.jp/cgi-bin/whois_gw?key=go-fight.jp">Whois</a>
        によると、ドメインの持ち主は、</p>
        <p>山田　一彦<br>
        604-8162　京都府京都市中京区七観音町629番地1<br>
        075-231-8555</p>
        <p>となっていて、株式会社ウェディングの住所と同じです。ちなみに、サーバーは、<a href="http://www.denet.ad.jp/">株式会社ディーネット</a>さんです。</p>
      </blockquote>
      <p><a href="http://www.geocities.jp/jwel_stone/">ジュエリー・アイランド</a>
      （http://www.geocities.jp/jwel_stone/）</p>
      <blockquote>
        <p>誕生石や宝石言葉を、紹介するサイトのようです。「ウエディングジュエリーなら株式会社ウエディング」とのことで、<a href="http://www.geocities.jp/jwel_stone/link.html">リンク集</a>は全てウェディンググループです。</p>
      </blockquote>
      <p><a href="http://www.geocities.jp/robertpich9/index.html">HUSTLERS</a>
      （http://www.geocities.jp/robertpich9/index.html）</p>
      <blockquote>
        <p>ビリヤードの面白さやプロになるための日常を伝えていくサイトとの事です。個人サイトの様に作ってありますが、キーワードが「株式会社ウェディング、ハスラーズ」だそうです。</p>
        <p>「<a href="http://www.geocities.jp/robertpich9/sponsor2.html">僕なりに優良スポンサー候補を探してみました</a>」と言うことで、あげられているのが、以下の3つ。どういう基準なんでしょう？</p>
      </blockquote>
      <ul><ul>
<li>株式会社ウェディング様　http://www.wedding-japan.com/
          </li>
<li>ダイドードリンコ株式会社様　http://www.dydo.co.jp/
          </li>
<li>ダイコク電機株式会社様　http://www.daikoku.co.jp/
        </li>
</ul></ul><p><a href="http://www.geocities.jp/nyarubo/">ＧｉｒｌｙSelect</a>
      （http://www.geocities.jp/nyarubo/）</p>
      <blockquote>
        <p>2002年からある超お役立ちリンク集らしいです。その割に、google、MSNなどサーチエンジンでは見つかりませんけどね。今月の注目サイトが、「マリーdeショッピン♪」とのこと。2004/01/26に登録されたばかりの「<a href="http://www.r-queen.jp/index.html">BOX BOOSTER</a>」や、BellHeart.vg
        も早速リンクされています。情報が早いですね。</p>
      </blockquote>
      <p></p>
