---
layout: post
title: "京都府警が捜査しているようです"
category: topics
tags:
- 2004年の記事
---
<p>検非違使、京都所司代の血を引く、ネット最強警察「京都府警」から、捜査の手が伸びてきました。以下、プロバイダのメールから引用。
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          本日京都府五条警察署からお客様の氏名・住所・連絡先などについての捜査関係事項照会書が届きました。弊社では捜査当局から捜査関係事項照会書が届いた場合にはお客様の情報を提出しております。今回の照会についても提出となりますのでご報告させて頂きます。</td> 
        </tr></table><p>京都府五条警察署刑事課知能特捜担当からの照会のようですが、刑事事件になるようなことは、全く身に覚えがありません。もしかして、<a href="http://www6.big.or.jp/~beyond/akutoku/news/1999/0121.html">京都府警の不祥事</a>をサイトに載せているのが、癇に障ったのでしょうか？</p>
      <p>場所が京都だけに、</p>
      <blockquote>
        <p><font color="#ff0000" size="+1">ヤツは、知りすぎた</font></p>
      </blockquote>
      <p>って感じに消されないか心配です（オヤジギャグ）。</p>
      <p></p>
