---
layout: post
title: "コンテンツ移転のお知らせ"
category: topics
tags:
- 2004年の記事
---
<p>拝啓　梅かおるの候、ご清栄のこととお喜び申し上げます。いつもお世話になり、誠にありがとうございます。
      <p>　さて、当サイトを預かるプロックスシステムデザインより、「ページを削除しないなら、個人情報を公開します」との通告を受け、移転先を探していましたところ、<a href="http://chbox.com/">電波２ちゃんねる</a>（現ちゃんねるぼっくす）管理人の深水英一郎さんよりオファーがあり、そちらに置かせてもらうことになりました。</p>
      <p>　おかげさまをもちましてアクセスもなんとか伸びておりますので、これからも今まで通り業務を遂行し、またより多くの皆様の御愛顧をいただくことが出来ます様、スタッフ一同精いっぱい努めて参る所存でございます。</p>
      <p>　どうか今後とも、倍旧のご支援ご愛顧を賜りますようお願い申し上げます。</p>
      <p>　まずはご案内かたがたお願い申し上げます。</p>
      <p align="RIGHT">敬具</p>
      <p></p><center>記</center>
      <p>１．移転先URL</p>
      <blockquote>
        <p>他コンテンツ移転先については、今後の運営の中でお知らせしていきます。</p>
        <p>会議室過去ログ<br><a href="http://beyond.2log.net/akutoku/archives/qa/">http://beyond.2log.net/akutoku/archives/qa/</a></p>
      </blockquote>
      <p>２．移転日</p>
      <blockquote>
        <p>2004年2月11日</p>
      </blockquote>
      <p align="RIGHT">以上</p>
      <p></p>
