---
layout: post
title: "はてなに個人情報を開示されました"
category: topics
tags:
- 2004年の記事
---
<p>はてなダイアリーを運営している「はてな」より、以下のようなメールが来ました。
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="6"><tr>
<td width="100%" bgcolor="#eef7ff">
          <p>本日、京都府五条警察署から、Beyond様について弊社が管理する個人情報についての照会がございました。</p>

          <p>はてな利用規約<br><a href="http://www.hatena.ne.jp/help/rules">http://www.hatena.ne.jp/help/rules</a><br>
          4条2項3<br>
          「当社の業務提携先、広告主、その他の第三者に本サービスについて説明する際、ユーザーの統計情報を用いる場合。その場合、当社関係者以外の者がユーザー個々の登録情報を閲覧することはありません。但し、法的拘束力のもとで要求された場合、あるいは当該ユーザー自身の権利、財産を保護する目的が生じた場合は登録情報を開示する場合があります。
          」</p>

          <p>に基づき、</p>

          <p>・ユーザー名<br>
          ・氏名<br>
          ・メールアドレス<br>
          ・生年月日<br>
          ・郵便番号<br>
          ・性別<br>
          ・ユーザー登録日時<br>
          ・ログイン回数<br>
          ・最終ログイン日時</p>

          <p>を開示させて頂きましたので、ご報告いたします。<br>
          どうぞよろしくお願いします。</p>
</td> 
        </tr></table><p>警察の「捜査関係事項照会書」は、<a href="http://www.telesa.or.jp/guide/guide1f.html">インターネット接続サービス等に係る事業者の対応に関するガイドライン</a>にも書いてある通り、「法的拘束力の無い照会」ですので、規約を書いてそれらしく見せていますが、<font color="#ff0000">はてなが自由意志で開示した</font>と言うことだと思います。</p>
      <p>あと、どの程度の範囲の情報が収集され、また公開されるのか規約には書いてませんね。プライバシーポリシーは、どこに書いてあるんだろう？</p>
      <p></p>
