---
layout: post
title: "オウム真理教教祖に死刑判決"
category: topics
tags:
- 2004年の記事
---
<p><img src="2004/0228.jpg" width="180" height="240" align="LEFT" border="0" naturalsizeflag="3" alt="近所で配っていた号外">麻原彰晃こと、松本智津夫被告に死刑判決が下されました。左は、近所で配っていた号外です。
      <p>まあ、私はオウムとの関わりは、ほとんど無いのですが、もう8年も経ったのかと思うと感慨深いです。あの頃の秋葉原は、白いマハポーシャ集団が沢山いました。<br clear="ALL"></p>
      <p>と、ゆーわけで、記念にオウムソングでも載せておきます。今となっては、知らない人とかも多いんでしょうか？</p>
      <ul>
<li>
<a href="http://www.makani.to/cult/sect/aum/shugyousuruzo.mp3">修行するぞ！修行するぞ！修行するぞ！</a>
        </li>
<li>
<a href="http://www.makani.to/cult/sect/aum/kazoeuta.mp3">閻魔の数え歌</a>
      </li>
</ul><p>ところで、<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B00005QWIT/spj-22/ref%3Dnosim">日本の黒い夏
      [冤enzai罪] </a>と言う映画をご存知でしょうか？松本サリン事件の被害者がマスコミによって犯人に仕立て上げられる様子を、リアルに描いた傑作です。映画は、Aパートの「警察とマスコミによる人権侵害編」と、Bパートの「サリン散布編」に分かれており、Bパートの迫力は、ものスゴイです。化学兵器の恐ろしさが良く分かります。主題であるAパートも良く出来ていますので、未見の方は、この機会に是非ご覧になってみてください。</p>
      <p></p>
