---
layout: post
title: "はてなから謝罪のメールが届きました"
category: topics
tags:
- 2004年の記事
---
<p>昨日の、<a href="#0226">はてなが個人情報を自分の意志で開示した</a>件について、謝罪のメールが来ました。公式に違反を認め、規約の改定を行うとの事です。
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="6"><tr>
<td width="100%" bgcolor="#f0f0ff">
          <p>さて、先日お問い合わせいただきました、はてなからの個人情報開示につきまして、弊社利用規約に不備がありましたのでお詫びとご報告をいたします。</p>

          <p>Beyond様の情報開示の根拠について、弊社利用規約4条2項3</p>

          <p>「当社の業務提携先、広告主、その他の第三者に本サービスについて説明する際、ユーザーの統計情報を 用いる場合。その場合、当社関係者以外の者がユーザー個々の登録情報を閲覧することはありません。
          但し、法的拘束力のもとで要求された場合、あるいは当該ユーザー自身の権利、財産を保護する目的が生 じた場合は登録情報を開示する場合があります。
          」</p>

          <p>を根拠とさせて頂きましたが、この度のような捜査関係事項照会依頼書が届いた際の対処については定めがなく、根拠として不足している点がございました。申し訳ございません。</p>

          <p>弊社では、明日をもって利用規約の改訂を行い、関係官庁の要請があった場合の対処について定めると共に、はてなユーザー様全員に規約改訂についてのお知らせを行うことにいたしました。</p>

          <p>この度はご説明に不備があり申し訳ございませんでした。<br>
          どうぞよろしくお願いいたします。</p>
</td> 
        </tr></table><p>これによって、不当に侵害された当方の権利が回復されると言うわけではありませんが、はてなの対応は評価に値するものだと思います。あらかじめ明示されていれば、ユーザーが比較・選択を行うことが出来ますから（ただし、明示されているから全てが許されるかと言うと、そうではありませんし、社会的な意義や影響によって妥当性も変わって来ます）。</p>
      <p>まあ、未だ特定のキーワードが登録できないことについて具体的な説明が無いなど、依然、はてなの運営ポリシーは不透明ですが、徐々に改善されていくのかもしれません。とりあえず現在のところは、</p>
      <blockquote>
        <p><font color="#ff0000">はてなダイアリーでは、ゴマスリ発言しか許されない</font></p>
      </blockquote>
      <p>または、</p>
      <blockquote>
        <p><font color="#ff0000">はてなダイアリーでは、訴えてこないような弱者しか、批判してはいけない</font>（個人サイトを
        こき下ろすのは、大抵ＯＫ）</p>
      </blockquote>
      <p>ってことだと思いますが。</p>
      <p>（補足）</p>
      <p></p>
