---
layout: post
title: "RSS/RDF
    の配信を開始しました"
category: topics
tags:
- 2004年の記事
---
<p>トピックスのRSS/RDFの配信を開始しました。
      <blockquote>
        <p><a href="http://www6.big.or.jp/~beyond/akutoku/rss/topics.rdf">トピックス最新記事（RSS）</a></p>
      </blockquote>
      <p>また、「RSSとか、よ〜わからん」と言う方でも、以下のタグをページに埋め込むことで、あなたのページに最新のトピックスが表示されるようになります。</p>
      <p></p><table width="95%" border="1" cellspacing="0" cellpadding="5" bordercolor="#0066cc"><tr>
<td width="100%" bgcolor="#ffffd7">
          &lt;script language="JavaScript" src="http://www6.big.or.jp/~beyond/akutoku/rss/topics.js"&gt;<br>
          &lt;/script&gt;</td> 
        </tr></table><p>↓JavaScript がONになっていれば、表示されます。</p>
      <p></p><table width="95%" border="1" cellspacing="0" cellpadding="5" bordercolor="#0066cc"><tr>
<td width="100%" bgcolor="#ffffd7">
          <script language="JavaScript" src="http://www6.big.or.jp/~beyond/akutoku/rss/topics.js"></script>
</td>
        </tr></table><p></p>
