---
layout: post
title: "SPA！3月16日号に、株式会社ウェディングの記事"
category: topics
tags:
- 2004年の記事
---
<p><img src="2004/0309.jpg" width="120" height="157" align="LEFT" border="0" naturalsizeflag="3" hspace="8">現在発売中の
      SPA3月16日号に、「デジタル利権を考える」と言うタイトルで、悪徳商法?マニアックスが google で検索できなくなったことについての記事が掲載されています。
      <p>記事中、ウェディングだけが W社と匿名になっておりますが、google、ウェディングそれぞれの見解が掲載されています。興味のある方は、ご覧になってください。</p>
      <p></p>
