---
layout: post
title: "ココログ始めました"
category: topics
tags:
- 2004年の記事
---
<p><a href="http://beyond.cocolog-nifty.com/akutoku/">ココログに支店</a>を作ってみました。
      <p>まあ、特別変わったことをするわけではありませんが、1990年ノーベル経済学賞受賞者ハリー・マーコビッツ（Harry
      Markowitz）氏の教えに従い、「卵を、ひとつのかごに入れるな」と言うわけです。マーコビッツ、マーコビッツ、マーコビッツ、マーコビッツ…</p>
      <p></p>
