---
layout: post
title: "株式会社ウェディングが、訴訟を取り下げました"
category: topics
tags:
- 2004年の記事
---
<p>第１回口頭弁論が明日に迫った、平成16年（ワ）第510号　損害賠償等請求事件についてですが、原告の株式会社ウェディングが訴訟を全て取り下げました。先ほど、京都地裁から電話がありまして、当然「口頭弁論は中止」とのことです。
      <p>私の書いた答弁書が、あまりにも素晴らしい出来で、「感動した。取り下げる」ってことでしょうか（笑）。</p>
      <p>まあ、いまさら民事を取り下げられても、Google八分されたままですし、匿名掲示板（仮）は閉鎖されたままです。ウェディングの告訴により、プロックスシステムデザインからは解約されてしまいました。家宅捜索で色々と持っていかれ、出費もかさんでいます。刑事事件の方はどうなるか分かりませんので、今後の対応については、よく考えたいと思います。</p>
      <p>なにはともあれ、ウェディング側としてはネットの評判を大変気にしているようで、取り下げたのも、皆様がいろんなところで話題にし、応援してくださったおかげだと思います。今後も、ネットの自由を脅かす勢力との戦いは続くと思います。引き続き、応援のほどをよろしくお願いいたします。</p>
      <p>(補足)</p>
      <p>実際に訴訟が取り下げられるためには、被告（Beyond）の同意が必要です。既に、答弁書を提出しているので。</p>
      <p>一応、２週間の期限があります。同意はまだ行っていません。</p>
      <p></p>
