---
layout: post
title: "たし目5月号は、「消費者の権利」特集"
category: topics
tags:
- 2004年の記事
---
<p><a href="http://www.kokusen.go.jp/book/data/me.html"><img src="http://spj.to/topics/2004/tasime05.jpg" alt="たしかな目5月号表紙" border="0" style="float: left; margin-right: 0.8em;" align="BOTTOM">たし目</a>5月号の特集は、「暮らしに生かそう『消費者の権利』」と題して、36年ぶりに改正が行われる「消費者保護基本法」について解説されています。
      <p>「消費者の権利」とイキナリ言われましても、何があってどういう権利なのか分かりませんから、この特集は大変に役立つと思います。今後は、「自立した消費者」意識が求められるとのことですから、これらの権利については知っておいて欲しいと思います。</p>
      <p>あと、第２特集の商品テストでは「ベビーカー」の比較テストが行われています。私には関係のない特集ですが、様々なテストの結果が、沢山の図や写真で説明されているため、とてもわかりやすい記事だと思いました。ベビーカーの購入を検討されている方だけでなく、現在使用中の方にも、是非読んで欲しいと思います。<br style="clear: left" clear="ALL"></p>
      <p></p>
