---
layout: post
title: "17日に、講演を行います"
category: topics
tags:
- 2004年の記事
---
<p>4月17日（土）の<a href="http://www.makani.to/wedding/meeting-1st.html">ウェディング問題を考える会・第1回総会</a>で、講演を行います。是非お越しください、と言いたい所ですが、初めての講演なので、あまり期待しないでください(^^;。
      <p>なお、不特定多数向けの講演については、今までお断りしてきたのですが、今後は下記の通り対応します。密かに講演人生を目指しているので（笑）、お気軽にオファーしてください。</p>
      <h4>○ 講演、講義等</h4>
      <p>有料です。OHPか、パワーポイントが使えるようでしたら、お引き受けします。講演費については、そちらの基準で構いません。</p>
      <h4>○ 討論会、対談、座談会等</h4>
      <p>有料です。</p>
      <h4>○ 勉強会等、少人数でのセミナー形式</h4>
      <p>なんらかの、消費者問題に関する活動を行っている団体からのオファーでしたら、無料でお引き受けします。交通費だけお願いします。それ以外の場合は、有料です。</p>
      <h4>○ 取材やコメントを希望される場合</h4>
      <p>基本的に無料です。謝礼金などはいりません（くれるものは、貰います(^^)）。ただし、実際にどこかで会う場合は、交通費を取材時にお支払いください。ただし、東京都内に限ります。</p>
      <p>写真撮影は、紙面にデカデカと載らないのでしたら可能です。TV 撮影も、自宅で無いなら可能です。</p>
      <h4>○ 記事の執筆</h4>
      <p>有料です。原稿料については、そちらの基準で構いません。</p>
      <h4>□ 交通費について</h4>
      <p>交通費は、以下の基準でお支払いください。</p>
      <dl>
<dt>１．東京都内の場合
        </dt>
<dd>一律、2,000円<br>
</dd>
<dt>２．東京駅から、新幹線（のぞみ）で2時間以内
        </dt>
<dd>東京駅からの新幹線（のぞみ）料金 ＋ 2,000円<br>
</dd>
<dt>３．それ以外の場所
        </dt>
<dd>実費（事前にお知らせします） ＋ 宿泊料金（施設はご用意ください）
      </dd>
</dl><h4>□ 肩書き等について</h4>
      <p>消費生活専門相談員、消費生活アドバイザーのほかに、.com Master 2002 ★★ も持っています。本職は、プログラマーです。</p>
      <h4>□ 得意分野</h4>
      <p>消費者問題、ITセキュリティ、サーバ管理、インターネット全般。CGI や、WEBサーバ技術（Apache）については、かなり詳しいです。</p>
      <p></p>
