---
layout: post
title: "朝日新聞より削除要請が来ました"
category: topics
tags:
- 2004年の記事
---
<p>かなり前のことですが、載せてなかったので。
      <p>4月21日現在、1ヶ月経っても返事は来ておりませんから、一社員のイタズラもしくは、「権利侵害の事実は、確認されなかった」と言うことかと思います。</p>
      <p></p><table width="90%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          <p>日時：3月10日17時8分</p>

          <p>朝日新聞社の著作権センターです。このホームページの中の「悪のニュース記事」には、アサヒ・コムの記事が無断で転載されています。記事本文を無断転載することは、弊社の著作権を侵害するものです。即刻、記事見出しと記事ページへのリンク部分との間に設けている記事本文の転載部分を削除するよう求めます。</p>

          <p>　アサヒ・コムから記事見出しを取り出し、それに該当する記事ページのURLを記載して記事ページに直接リンクをはるのであれば、弊社としてはとくに問題はありません。</p>
</td> 
        </tr></table><p></p><table width="90%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          <p>日時：3月21日1時54分</p>

          <p>朝日新聞社著作権センター御中</p>

          <p>&gt; 　朝日新聞社の著作権センターです。このホームページの中の「悪のニュース<br>
          &gt; 記事」には、アサヒ・コムの記事が無断で転載されています。記事本文を無断<br>
          &gt; 転載することは、弊社の著作権を侵害するものです。即刻、記事見出しと記事<br>
          &gt; ページへのリンク部分との間に設けている記事本文の転載部分を削除するよう<br>
          &gt; 求めます。</p>

          <p>悪のニュース記事は、不特定多数の者が、当サイトの掲示板内で論評する目的で、記事を投稿するシステムです。各投稿は自動的に公衆送信化され、管理者が事前にチェックを行っているものではありません。</p>

          <p>ですから、どのページが、御社の著作権を侵害しているのかが分からないので、具体的な URL を列挙してください。</p>

          <p>また、削除要請は、お使いになったフォーム上の注意点を良くご覧になって、適切な方法にて行ってください。</p>

          <p><a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html</a></p>
</td> 
        </tr></table><p></p>
