---
layout: post
title: "早すぎる死か。永遠の自由か"
category: topics
tags:
- 2004年の記事
---
<p>P2Pファイル共有ソフト「Winny」の作者が、IT革命を起こそうとした罪で逮捕されました。
      <p>「ソフト自体は、中立だ」「新技術（新流通システム）の芽が摘まれる恐れがある」と言う声や、「幇助犯の拡大は、ネットの自由を無くす」と言う声に対し、京都府警のマリー・アンチネット氏は、こう答えたとされています。</p>
      <blockquote>
        <p>「ネットが使えないなら、TV局や出版社などで表現すればいい」</p>
      </blockquote>
      <p>参考記事：</p>
      <ul>
<li>
<a href="http://www6.big.or.jp/~beyond/akutoku/news/2004/0510-25.html">「著作権法への挑発的態度」が逮捕理由　京都府警（朝日新聞）</a>
        </li>
<li>
<a href="http://www6.big.or.jp/~beyond/akutoku/news/2004/0510-17.html">＜ファイル交換ソフト＞ウィニー開発の東大助手を逮捕（毎日新聞）</a>
        </li>
<li>
<a href="http://www6.big.or.jp/~beyond/akutoku/news/2004/0510-16.html">交換ソフト「Ｗｉｎｎｙ」開発の東大助手を逮捕（読売新聞）</a>
        </li>
<li>
<a href="http://www6.big.or.jp/~beyond/akutoku/news/2004/0510-14.html">Ｗｉｎｎｙ開発の東大助手を逮捕　著作権法違反幇助容疑（朝日新聞）</a>
      </li>
</ul><p></p>
