---
layout: post
title: "はてなと悪徳商法のコラボレーション？"
category: topics
tags:
- 2004年の記事
---
<p>人力検索サイト「はてな」は、有料で質問を受け付けているのですが、悪徳商法に関する質問をすると<a href="http://www.hatena.ne.jp/1085040178">会社名が削除</a>されるようです。例によって、まったく説明が無い模様。質問者の利益よりも優先すると言うことですから、関連会社か何かでしょうか？
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          （はてなにより削除しました）という会社の人が、勤務先の会社名を地図に載せているので広告代を払う様にと訪れています。払わなければ行けないのでしょうか？<br>
          以前、事務員が誤って支払ってしまった際の領収書には「尚以後は自動更新とします」と書かれています。<br>
          同じように困っているかたのページや法的に断れることが判るページを教えてください。</td> 
        </tr></table><p>参考：<a href="#0201">はてなとウェディングの蜜月関係？</a></p>
      <p></p>
