---
layout: post
title: "YahooBBマガジン7月号に、ウェディング問題の記事"
category: topics
tags:
- 2004年の記事
---
<p><img src="2004/0527.jpg" width="120" height="161" align="LEFT" border="0" naturalsizeflag="3">ちょいと紹介が遅れましたが、YahooBBマガジン7月号に、ウェディング問題の記事が掲載されています。0.75ページに渡って掲載されています。
      <p>なお、記事中、私が「あと10年経ったら状況が変わるかもしれません」と言ったようになっていますが、そのようなことは言っていません。「10年間、悪マニを匿名でやれたら、何か変わるかもしれないと思った（だが、7年しか出来なかった）」と、取材で答えたことの間違いです。</p>
      <p>まあ、事前にゲラは送ってもらったのですが、仕事でも無いし、一々見てないので(^^;。</p>
      <p></p>
      <p></p>
