---
layout: post
title: "ハッカージャパンに圧力をかけようキャンペーン"
category: topics
tags:
- 2004年の記事
---
<p>ハッカージャパン7月号プレゼントに、多数のご応募を頂きありがとうございました。大変な反響でしたので、急遽、当選者の数を倍の6名様に致しました。当選者の方々には、既に連絡を送っておりますが、外れた方も、是非、読んでいただきたいと思います。なお、応募メールのタイトルは、以下のような割合になっていました。
      <p></p><center><img src="2004/0706.gif" width="300" height="225" align="BOTTOM" border="0" naturalsizeflag="3"></center>
      <p>ところで、ついさっき気が付いたのですが、ハッカージャパンには「愛読者アンケート葉書」が付いていますね。そこで皆様にお願いなのですが、ハッカージャパンを買って、アンケート葉書に「Beyondさんの記事が読みたい」と書いて送ってください。皆様の圧力で、私に、原稿執筆の仕事を（笑）。</p>
      <p></p>
