---
layout: post
title: "ハッカージャパン7月号に、ウェディング問題の記事"
category: topics
tags:
- 2004年の記事
---
<p><img src="2004/0701.jpg" width="120" height="171" align="LEFT" border="0" naturalsizeflag="3">現在発売中の<a href="http://www.byakuya-shobo.co.jp/hj/index.html">ハッカージャパン</a>7月号に、ウェディング問題についての記事が、8ページにも渡って掲載されています。ハッカーだから、当然、ウェディングは実名で出てきます。
      <p>事件の経緯や問題点について分かりやすく解説されており、かなりこの問題に詳しい人物が書いているようです。って、私が書いたんですが。</p>
      <p>カラーページには、私のインタビューとともに写真(!)が掲載されており、お買い得(?)な1冊です。1冊と言わず3冊くらい買って、正・副・予備の3系統で、ご利用ください。</p>
      <p>ちなみに、ハッカージャパンは隔月刊ですが、紹介が遅れたので手に入りにくいかもしれません。そういう方のために、<font color="#ff0000">プレゼント</font>を用意しました。抽選で 3名様の方に、ハッカージャパン7月号をお送りします。7月3日（土）AM10:00
      までに、件名「二十日は、ジャスコ」または「ハッカージャパン希望」と書いて、<a href="http://spj.to/mail.html">メール</a>してください。</p>
      <p>それでは、Happy Hacking！</p>
      <p></p>
