---
layout: post
title: "紀藤弁護士の新刊のオビを書きました"
category: topics
tags:
- 2004年の記事
---
<p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4901873180/akutokushouho-22/ref%3Dnosim"><img src="../ref/books/4901873180.jpg" width="120" height="177" align="LEFT" border="1" naturalsizeflag="3"></a>紀藤弁護士待望の新刊、「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4901873180/akutokushouho-22/ref%3Dnosim">インターネット犯罪大全
      決定版</a>」が、発売になりました。
      <p>この本は、MacFanに連載中の「サイバー・レッドカード」を単行本化したもので、7年にわたる2冊分25万字の原稿の中から、厳選に厳選を重ね作った本だそうです。ちょっと高いのですが、なかなかお買い得な一冊のようです。<br clear="ALL"></p>
      <p>ところで、タイトルにもあるように、この本のオビの「アオリ文句」を書かせていただきました。初オビです(^^)。まあ、3人書いているうちの１人なのですが、一番良い出来だと、一人悦に入っています（笑）。最初、「サイバー・レッドカードの本」だと聞いていたので、それに合わせて考えたのですが、いつの間にかタイトルが変わっていました(^^;。</p>
      <p>さて、肝心の本の内容ですが、長すぎてボツになったアオリ文句で説明すると、</p>
      <p><font size="+1">「インターネットは、犯罪者をあぶりだすための、政府の罠（トラップ）だったんだよ！」</font></p>
      <p><font size="-1">　　　　　　　　　ナ ゝ　　　ナ ゝ　/　 　 十＿"　 　 ー;=‐　　　　　　　　　|!
      |!　 　 <br>
      　　　　　　　　　　cト　　　　cト　/＾、_ノ　 | 、.__　つ　 （.__ 　 ‾‾‾‾ 　 ・ ・　　　 <br>
      　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　 <br>
      　　　　　　　　　　　 ,. -─- 、._　　　　　　　　　　　　 　 ,. -─v─- 、._　　　　　＿ <br>
      　 　 　 　 　 　 ,. ‐'´　　　　　　`‐、　　　　　　　　__, ‐'´　　 　 　 　 　 ヽ, ‐''´~　　
      ｀´‾`‐、 <br>
      　　　　　　　／　　　　　　　　　　　ヽ、_／)ノ　　 ≦　　　　　　　　　ヽ‐'´　　　　　　　　　 　 `‐、 <br>
      　　　　　　/　　　　 ／‾~`'''‐- 、.._　　　ノ　　　≦　　　　　　　　 ≦　　　　　　　　　　　　　　 ヽ
<br>
      　　　　　　i. 　　　／　　　　　　　　 ‾l　7　　　　１　 イ/l/|ヘ ヽヘ　≦　　　,　,ヘ 、　　 　 　 　
      　 i <br>
      　　　　　　,!ヘ.　/ ‐- 、._　　　u　　　　|/　　　　　 l |/ !　! | ヾ ヾ ヽ_、l　イ/l/|/ヽlヘト、　　　　　　│
<br>
      .　　　　　 |〃、!ミ:　　 -─ゝ、　 　 ＿_ .l 　 　 　 　 レ二ヽ、 、__∠´＿ |/ |　! |　 |
      ヾ ヾヘト、　　　 l <br>
      　　　　　　!_ヒ;　　　 Ｌ(.:)＿ `ー'"〈:)_,` /　　　　 　 rｉヽ_(:)_i　　'＿(:)_/
      ! ‐;-、 　 、__,._-─‐ヽ.　,.-'、 <br>
      　　　　　　/｀゛i　u 　 　 　 ´　　　 ヽ　 !　　　 　 　 !{　　　,!　　 `　　 （ } ' (:)〉　　´(.:)｀i　
      　 |//ニ ! <br>
      　　　　_／:::::::!　　　　　　 　 　 　 ,,..ゝ!　　　　　　 ゛!　　 ヽ '　　　　　 .゛! 　７　　　
      ‾　　　　| トy'/ <br>
      _,,. -‐ヘ::::::::::::::ヽ、　　　 r'´~｀''‐、　 ／　　　　　　　 !、　 ‐=ニ⊃　 　 /!　
      `ヽ"　　　　u　 　 ;-‐i´ <br>
      　!　 　 ＼::::::::::::::ヽ　　　`ー─ '　／　　 　 　 　 　 　 ヽ　　‐-　　 ／　ヽ　 `‾二)　　　
      　 /ヽト、 <br>
      　i、　　 　 ＼:::::::::::::::..、　　~"　／　　　　　　　　　　　　 ヽ.＿__,.／　　//ヽ、　ー　　
      　 　 　</font></p>
      <p>と言うような事が書いてある本です。</p>
      <p>ちなみに、オビは、こんな感じ↓です。モザイクの下に何が隠されているか、是非、書店で確認してください（<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4901873180/akutokushouho-22/ref%3Dnosim">amazonで買っても</a>、確認出来るはずです(^^)）。</p>
      <p><img src="2004/0724.jpg" width="240" height="127" align="BOTTOM" border="0" naturalsizeflag="3"></p>
      <p>P.S.</p>
      <p>トラップも、もちろん「レッドカード」に掛けています（説明しないと、わからないネタ）。</p>
      <p></p>
