---
layout: post
title: "広報けいしちょう"
category: topics
tags:
- 2004年の記事
---
<p>「広報けいしちょう」と言う冊子が配られてきました。名前のとおり、警視庁の広報誌です。それに、<a href="http://www.keishicho.metro.tokyo.jp/anzen/sub3.htm#kyoyu">Winnyのこと</a>が取り上げられていました。日ごろ、警視庁にはお世話になっているので、広報に協力しとこうかと思います(^^)。
      <p>ところで、挿絵は、紙媒体のやつと同じなのですが、ネットの強みを生かし「アニメーション」するようになっています。前号までは、単なる静止画ですから、今回から（今回だけ？）やる気を感じさせます。</p>
      <p></p>
