---
layout: post
title: "週刊アスキーで、記事を書きました"
category: topics
tags:
- 2004年の記事
---
<p><img src="2004/0804.jpg" width="120" height="163" align="LEFT" border="0" naturalsizeflag="3">現在発売中の、週刊アスキー 8/17,24合併号で、「ネットで本当にあった怖い話」と言う記事を書きました。
      <p>まあ、本当にあったかどうかは兎も角として、弘中絵里弁護士（通称、絵里タン）の話や、<a href="http://atom11.phys.ocha.ac.jp/wwatch/intro.html">水商売ウォッチング</a>管理人のapjさんのインタビューまである豪華版です。是非読んでください(^^)。本文よりも、<a href="http://www7.plala.or.jp/ui/">森越公代</a>さんの挿絵の方が面白いと言うのは、公然の秘密です（笑）。</p>
      <p>ところで、弘中弁護士の話は写真付きなのですが、実物の方が、2.71828倍くらいカワイイですね（手持ちの分度器で5回計測したうち、最大と最小を除いた3回の平均値）。最近、実際会った記者の方がテレビに出てたりすることもあるのですが、やはり実物の方が美人です。「案外、映像は本当のことを伝えないな」と思ったりした、夏の夜でした。</p>
      <p></p>
      <p></p>
