---
layout: post
title: "ハッカージャパンで、記事を書きました"
category: topics
tags:
- 2004年の記事
---
<p><a href="http://www.byakuya-shobo.co.jp/hj/"><img src="2004/0811.jpg" width="120" height="172" align="LEFT" border="0" naturalsizeflag="3"></a>現在発売中の、ハッカージャパン9月号で記事を書きました。しかも、連載です！これもひとえに、<a href="#0706">皆さんが圧力を掛けてくれた</a>お陰だと思います(^^)。ハッカージャパンを、Hacking
      成功！
      <p>書いた記事は、「インターネット事件簿」と言う、まあ、ありがちと言えばありがちな記事です。ハッカー的視点が、あると言えばあるし、無いといえば無いのですが、読んだ方は感想でも送っていただけると幸いです。</p>
      <p>ところで、総力特集と銘打って、「Winnyユーザーが危ない」と言う記事が載っているのですが、これが非常に良い出来です。私の記事なんか読まずに、こっちを読んだ方が面白いと思います。ホントに。でも、やっぱり、私の記事も読んでください（笑）。</p>
      <p></p>
      <p></p>
