---
layout: post
title: "「国際特許」表示に公正取引委員会のメス"
category: topics
tags:
- 2004年の記事
---
<p>株式会社ウェディングが、<a href="topics2004a.html#0220">「国際特許を取得」と紛らわしい表示</a>をしていたことについて、<a href="http://www.jftc.go.jp/">公正取引委員会</a>に調査を求めたところ、「景品表示法違反につながるおそれがあるため、注意を行いました」との返事が来ました。注意とは、いわゆる「行政指導」ってやつです。
      <p>そのせいかどうか、現在の<a href="http://www.wedding.vg/index.html">ウェディング社のサイト</a>では、「国際的に特許(意匠権)を取得した商品」となっていますが、これも意味が分からない表現です。少なくとも日本においては、特許権と意匠権は全く別の権利です。法律も、特許登録は特許法、意匠登録は意匠法によるものとなっています。あくまで、「なんらかの特許を持っている」と、主張したいのでしょうか？</p>
      <p>知的所有権の分類</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="2">
<tr>
<th bgcolor="#ffffd2">
          権利</th> 
          <th bgcolor="#ffffd2">
          法律</th> 
          <th bgcolor="#ffffd2">
          保護の対象</th> 
        </tr>
<tr>
<td align="CENTER">
          著作権</td> 
          <td align="CENTER">
          著作権法</td> 
          <td align="CENTER">
          表現全般</td> 
        </tr>
<tr>
<td align="CENTER">
          特許権</td> 
          <td align="CENTER">
          特許法</td> 
          <td align="CENTER">
          発明</td> 
        </tr>
<tr>
<td align="CENTER">
          実用新案権</td> 
          <td align="CENTER">
          実用新案法</td> 
          <td align="CENTER">
          形態</td> 
        </tr>
<tr>
<td align="CENTER">
          意匠権</td> 
          <td align="CENTER">
          意匠法</td> 
          <td align="CENTER">
          デザイン</td> 
        </tr>
<tr>
<td align="CENTER">
          商標権</td> 
          <td align="CENTER">
          商標法</td> 
          <td align="CENTER">
          マーク</td> 
        </tr>
</table><p>ちなみに、ウェディング社の<a href="http://www.wedding-japan.com/acc/bbs/bbs04/">ユーザーサポートQ&amp;A</a>には、以下のように書いてあります。修正してないだけかもしれませんが、ウソですね。</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          <p>Q　国際特許って？</p>

          <p>国際特許って何ですか？</p>

          <p>Ａ　Re: 国際特許って？</p>

          <p>全世界的な知的所有権の保護を促進することを目的として、1970年に発足した国際機関である世界知的所有権機関（ＷＩＰＯ）による、特許協力条約（ＰＣＴ）に基づく国際特許で、日本はもちろんのこと、ヨーロッパをはじめ、北米、アジアなど全世界約50ヶ国での特許を取得しております。</p>

          <p>取得した国によって、それぞれの国の取得番号を保有しています。（ヨーロッパ34269‐01号、日本1180242号等）</p>
</td> 
        </tr></table><p>とりあえず、「国際特許」なる表示は、違法性があることが確認できましたので、見つけた方は公取委の<a href="http://www.jftc.go.jp/JFTC_Guide/cyuikeihin.htm">景品表示法違反被疑事実についての申告ページ</a>からメールを送ると良いかもしれません。</p>
      <p>■送ったメール（２月２７日）</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          <p>景品表示法違反についての情報入力<br>
          −不当表示−</p>

          <p>A．不当表示を行っている事業者について</p>
<table width="100%" border="0" cellspacing="6" cellpadding="0">
<tr>
<td width="30%" nowrap valign="TOP">
              １．氏名又は名称</td> 
              <td width="70%">
              株式会社ウェディング</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ２．(ふりがな)</td> 
              <td width="70%">
              かぶしきかいしゃうぇでぃんぐ</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ３．所在地又は住所</td> 
              <td width="70%">
              京都市中京区烏丸通六角下ル七観音町629番地1 ウェディングビル</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ４．代表者氏名</td> 
              <td width="70%">
              田中 敦子</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ５．電話番号</td> 
              <td width="70%">
              075 231 6377</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ６．ホームページ</td> 
              <td width="70%">
              http://www.wedding.vg/index.html</td> 
            </tr>
</table>
<p>B．不当表示と思われる行為の具体的な様態，時期，場所，その他の事実について</p>
<table width="100%" border="0" cellspacing="6" cellpadding="0">
<tr>
<td width="30%" nowrap valign="TOP">
              １．表示媒体</td> 
              <td width="70%">
              ホームページ</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ２．表示時期</td> 
              <td width="70%">
              2004年1月〜</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ３．表示が行われた場所</td> 
              <td width="70%">
              ホームページの右下</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ４．表示の内容</td> 
              <td width="70%">
              このカットは国際特許(34269-01)を取得した当社だけがお届けできるハイクオリティーなダイヤモンドです。</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ５．表示から受けた印象</td> 
              <td width="70%">
              全世界に通用する国際特許と言うものがあり、34269-01の番号で取得してあるので、日本国内はもちろん、全世界で独占権を持つ。</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ６．実際にはどうか</td> 
              <td width="70%">
              WEBで調べてみたのですが、国際特許と言う制度は無いようです。で、日本やアメリカの特許庁で調べてみても、その番号のものが見つからず、「国際出願」と言うものがあるようなので調べてみたが、やはり見つからなかった。</td> 
            </tr>
<tr>
<td width="30%" nowrap valign="TOP">
              ７．その他</td> 
              <td width="70%">
              この会社は、電話で顧客を呼び出し販売勧誘する、いわゆるアポイントメントセールスを行っている会社ですが、嘘や曖昧な表現で、不適正な取引を行っている可能性があるため、調査していただきたく、ご連絡いたしました。</td> 
            </tr>
</table>
</td>
        </tr></table><p>■届いた通知書</p>
      <p>日付の部分だけが手書きで、あとはワープロ打ちでした。ありがちな処置ということでしょう。</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          <p align="RIGHT">公近通第61号<br>
          平成16年9月16日</p>

          <p align="RIGHT">公正取引委員会</p>

          <p></p>
<center>通知書</center>

          <p>平成16年2月27日に書面で報告を受けた件について下記のとおり処理したので、景品表示法第7条第1項により適用する独占禁止法第45条第3項の規定に基づき通知します。</p>

          <p></p>
<center>記</center>

          <p>調査の結果、法律上の措置は採りませんでしたが、景品表示法違反につながるおそれのある行為がみられましたので、同法違反を未然に防止する観点から、注意を行いました。</p>
</td> 
        </tr></table><p></p>
