---
layout: post
title: "捨てる神あれば、拾う神あり"
category: topics
tags:
- 2004年の記事
---
<p>突然ですが、検索エンジンgoo から、以下のようなメールが来ました（リンク・体裁等はこちらで修正）。
      <p></p><table width="85%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          <p>突然のメールで失礼いたします。</p>

          <p>私たちはポータルサイト<a href="http://www.goo.ne.jp/">goo</a>（http://www.goo.ne.jp）が運営する、<a href="http://dir.goo.ne.jp/">gooカテゴリー検索</a>（http://dir.goo.ne.jp/）担当です。</p>

          <p>現在gooカテゴリー検索では、旬な情報に関するサイトを週替わりでお薦めする、「<a href="http://dir.goo.ne.jp/">今週のおすすめカテゴリー</a>」（http://dir.goo.ne.jp/）を提供しています。</p>

          <p>つきましては、貴殿が一般に公開されているサイトを広くユーザの皆様にご紹介させていただきたく、「<a href="http://dir.goo.ne.jp/recommend/20041026/20041026-1.html">今週のおすすめカテゴリー　詐欺・悪徳商法対策</a>」に、</p>

          <blockquote>
            <p><a href="http://www6.big.or.jp/~beyond/akutoku/">悪徳商法？マニアックス</a><br>
            http://www6.big.or.jp/~beyond/akutoku/</p>
            <p>悪徳商法対策の情報交換サイト。告発された業者の逆恨みによるとされる、超大手検索エンジンから検索対象として外されたことでも、その影響力の大きさがうかがえる。</p>
          </blockquote>

          <p>と掲載させていただきましたことをご連絡差し上げます。</p>

          <p>なお、</p>

          <ul>
<li>掲載コーナー
            </li>
<li>掲載サイトの表示順位
            </li>
<li>掲載サイトの情報（タイトル・URL・紹介文）
          </li>
</ul>
<p>等は弊社の編集方針にもとづいて掲載させていただいております。</p>
</td> 
        </tr></table><p>「超大手検索エンジンから検索対象として外された」とは、もちろん google八分 のことです。でも、goo の通常検索は、内部的に
      google を使っているので、goo からも外されていることになります。</p>
      <p>gooに限らず、infoseek やexcite など、内部的にgoogleを使っている検索エンジンでも、カテゴリ検索があるサイトには、大抵、悪マニが登録されています。同じサイトでも、検索の仕方によって、出てきたり出てこなかったりするのは、面白いですね。</p>
      <p>ちなみに、google　のカテゴリ検索は、内部的に <a href="http://dmoz.org/">OpenDirectory</a>
      を使っています。で、悪マニを OpenDirectory で検索すると出てくるのですが、google では律儀に出てこないようにしています。</p>
      <p>（解説）</p>
      <p>google八分　−　<a href="http://www.wedding-japan.com/pc/top.html">株式会社ウェディング</a>が、検索エンジン最大手の
      googleにクレームを付けたことで、悪マニがgoogle の検索結果に表示されなくなったこと。2003年12月末より表示されなくなり、2004年10月26日現在、まだ表示されない。google
      八分により、悪マニのアクセス数は3割低下した。</p>
      <p></p>
