---
layout: post
title: "リンク総合法律事務所、順調に発展中"
category: topics
tags:
- 2004年の記事
---
<p>紀藤弁護士率いる「リンク総合法律事務所」に、<a href="http://www.h4.dion.ne.jp/~kito/link-ohshiro.htm">新たな仲間が加わった</a>そうです。丁寧にも、封筒で案内を送ってきてくれました。
      <p></p><center><img src="2004/1031.jpg" width="120" height="234" align="BOTTOM" border="0" naturalsizeflag="3"></center>
      <p>で、事務所の名前の下には、それぞれの弁護士さんの名前が書かれてあるのですが、このまま順調に発展していくと、7年後にはすごいことになりそうです。</p>
      <p></p><center>7年後の予測図<br><img src="2004/1031-2.jpg" width="300" height="193" align="BOTTOM" border="0" naturalsizeflag="3">
</center>
      <p>なお、大城弁護士以降の名前は適当ではありません。BPT（Beyond Prediction Technology）に基づき、ある法則を導き出した結果の、正確な「予測」です。さて、「ある法則」とは、何でしょう？</p>
      <p>ヒント：苗字と名前のそれぞれに、法則が一つずつあります。所長である紀藤弁護士は、苗字については、法則外です。</p>
      <p></p>
