---
layout: post
title: "株式会社イー・クラシスより、SPAMが届きました3"
category: topics
tags:
- 2004年の記事
---
<p><a href="#1202">12月2日のトピックス</a>の続きです。
      <p>ちょっと忙しくて、なかなか紹介できなかったのですが、12月6日にA8.netより返事が来ていました。簡単に言うと「通常の操作で、メールアドレスを知ることは不可能」とのことです。セキュリティーホール調査のことが言及されていないため、完全な回答とは言い切れないのですが、イー・クラシスからの回答とあわせて考えると、A8.net
      から漏洩した可能性は無さそうです。謹んでお詫び申し上げます。</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4" bordercolor="red"><tr>
<td width="100%">
          <p>広告主に公開しておりますのはＡＳＩＤ、会員名、サイト名称等のサイト情報になっております。</p>

          <p>住所、電話番号、メールアドレス、口座情報等は広告主には公表しておりません。</p>

          <p>弊社A8.netで広告主様に提供しておりますメール配信機能では、AS会員様のメールアドレスを公開しない状態で使用させて頂いておりますので、広告主様側で、AS会員様のメールアドレスをお調べすることはシステムの仕様上不可能でございます。</p>

          <p>また、広告主様が弊社A8.netで広告主様に提供しておりますメール配信機能でAS会員にお送りいたしましたメールの内容は弊社でも履歴として確認することができますが、この度お問い合わせを頂きましたメールの送信履歴を確認することができませんでした。</p>

          <p>よって、株式会社イー・クラシス様が弊社とは関係ない独自の方法を用いてメールアドレスを収集し、弊社で提供しておりますメール配信機能ではなく、株式会社イー・クラシス様のメールサーバーを使用して配信を行ったと思われます。</p>

          <p>弊社では、株式会社イー・クラシス様がどのような方法でメールアドレス収集を行ったのか分からないため、これ以上お答えすることができません。</p>

          <p>直接株式会社イー・クラシス様にお問い合わせをして頂いた方が宜しいかと存じ上げます。</p>
</td> 
        </tr></table><p></p>
