---
layout: post
title: "田中三郎とＧＭＯホスティング＆セキュリティ株式会社を訴えました"
category: topics
tags:
- 2006年の記事
---
<p>私の個人情報を違法にネットに公開し続けていた「<a href="http://www.art.gr.jp/">反富士銀行の会</a>」管理人、通称「田中三郎」および、「反富士銀行の会」のサーバーを管理しているプロバイダである<a href="http://www.gmo-hs.com/">GMOホスティング＆セキュリティ株式会社</a>に対し、名誉毀損とプライバシー侵害に対する損害賠償を求め、東京地裁に訴訟を起こしました。プライバシーに関することなので詳細は省きますが、合計880万円の損害賠償を求めるものです。第1回目の口頭弁論は、2月15日午前10時から、東京地裁
      512号法廷で行なわれます。
      <p>一昨年より、田中三郎や<a href="http://blog.a902.net/topics/2005/1004.html">奥平明男</a>と言ったストーカー・悪質業者による嫌がらせ行為が著しく、色々なプロバイダに削除要請をしてきました。たいていは、すぐに削除してくれるのですが、GMOホスティングなどは<a href="http://quote.yahoo.co.jp/q?s=3788.t&amp;d=t">上場会社</a>でありながら、当初、意味不明な理由で削除を拒んできました。今年は、色んなところを訴えることになりそうです。なんか訴訟貧乏なので、よろしければ<a href="http://www6.big.or.jp/~beyond/akutoku/etc/kyouryoku.html">運営費</a>にご協力くださいm(_
      _)m。</p>
      <p>訴訟にあたっての意気込みというかコメント：</p>
      <blockquote>
        <p>Beyond 「敗訴したら負けかなって思っている」</p>
      </blockquote>
      <p>良くある質問と、その答え：</p>
      <p></p><table width="90%" border="0" cellspacing="2" cellpadding="0">
<tr>
<td nowrap width="1%" valign="TOP">
          Ｑ１．</td> 
          <td>
          田中三郎って何者ですか？</td> 
        </tr>
<tr>
<td nowrap width="1%" valign="TOP">
          Ａ１．</td> 
          <td>
          <p>数年前、当サイトの掲示板で「非弁行為（弁護士で無いものが有料で、和解や契約解除などの法律事務を行なうこと）」を批判されたのをきっかけに掲示板を荒らしまくり、アクセス制限されたのを逆恨みして、それ以来嫌がらせ行為を繰り返している人物です。</p>

          <p>自称「アート探偵事務所所長」であり、色々なトラブルの解決を斡旋する「なんでも屋」のようなことをやっているようです。</p>

          <p>古くからのネットーワーカーには有名なストーカーで、２ちゃんねる管理人のひろゆき氏に対しても嫌がらせを行なっています。</p>
</td> 
        </tr>
</table><p></p><table width="90%" border="0" cellspacing="2" cellpadding="0">
<tr>
<td nowrap width="1%" valign="TOP">
          Ｑ２．</td> 
          <td>
          「反富士銀行の会」って、なんなんですか？</td> 
        </tr>
<tr>
<td nowrap width="1%" valign="TOP">
          Ａ２．</td> 
          <td>
          「富士銀行本店に口座を作ろうとしたら断られた」ことに抗議する、一種の「告発ページ」のような位置づけですが、表現の異常さや要求の不当性から、単なる「クレーマー」のページです。</td> 
        </tr>
</table><p></p><table width="90%" border="0" cellspacing="2" cellpadding="0">
<tr>
<td nowrap width="1%" valign="TOP">
          Ｑ３．</td> 
          <td>
          金銭的な協力をしたいのですが、「<a href="http://www.makani.to/wedding/donation.html">ウェディング問題を考える会（現：表現の自由を考える会）</a>」でも寄付を受け付けていますよね？どちらが良いのですか？</td> 
        </tr>
<tr>
<td nowrap width="1%" valign="TOP">
          Ａ３．</td> 
          <td>
          <p>考える会は、当方に対する支援のために設立された会ではありますが、現在はもっと広い問題を扱う一般的な会へ変わりつつあります。元々の経緯から言って、考える会に寄付されたものが当方への支援に回されることもありますが、100%ではありません。</p>

          <p>対して、「<a href="http://www6.big.or.jp/~beyond/akutoku/etc/kyouryoku.html">インターネット消費者問題研究会</a>」は、悪マニ（および消費者ポータルJapan）の運営母体であり、寄付金は100%悪マニの運営に利用されます。ただし、会計報告などは外部に公開しておらず（確定申告はしています）、使途は私の独断で決定されるため、透明性を求めるのでしたら、考える会のほうにお願いします。</p>
</td> 
        </tr>
</table><p></p><table width="90%" border="0" cellspacing="2" cellpadding="0">
<tr>
<td nowrap width="1%" valign="TOP">
          Ｑ４．</td> 
          <td>
          裁判を見に行きたいのですが。</td> 
        </tr>
<tr>
<td nowrap width="1%" valign="TOP">
          Ａ４．</td> 
          <td>
          裁判は公開で、誰でも見れます。是非、見に来てください。でも、第1回目は5分くらいで終わる（書類の確認だけ）ので、面白くないと思います。</td> 
        </tr>
</table><p></p><table width="90%" border="0" cellspacing="2" cellpadding="0">
<tr>
<td nowrap width="1%" valign="TOP">
          Ｑ５．</td> 
          <td>
          ネットで記者活動（blog）をしている者です。ＧＭＯからコメントを取りたいのですが、もらえるものなのでしょうか？</td> 
        </tr>
<tr>
<td nowrap width="1%" valign="TOP">
          Ａ５．</td> 
          <td>
          向こうに電話してみてください。訴状は、既にＧＭＯの方に送達されています。</td> 
        </tr>
</table><p></p>
