---
layout: post
title: "日経スペシャル「ガイアの夜明け」で、グロービートジャパンが紹介！"
category: topics
tags:
- 2006年の記事
---
<p>本日夜１０時からテレビ東京で放送される「<a href="http://www.tv-tokyo.co.jp/gaia/backnumber/preview060124.html">ガイアの夜明け</a>」で、ラーメン花月（グロービートジャパン）とYahoo!が行なった<a href="http://ramen.yahoo.co.jp/original/">共同企画</a>のことが紹介されるようです。
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="3"><tr>
<td width="100%">
          <p>【ネット大手が仕掛けるクチコミ・ラーメン】</p>

          <p>ウェブクチコミを利用して、ヒット商品を作ろうとしている異業種連合がある。仕掛けたのはネット大手のヤフー。カップめん大手やラーメンチェーン、スナック菓子会社などと組んで、オリジナルのラーメン作りに着手した。ホームページ上で「タレ」「スープ」「商品名」を一般ユーザーに投票してもらい、一番人気のものが採用される。</p>

          <p>「発売前にクチコミラーメンの認知度を広げよう」とヤフーが仕掛けたのが、ブログ。ラーメン通のブロガーを招いて試食会を開く一方、人気の「カリスマブロガー」にクチコミラーメンを食べてもらう作戦に出た。アクセス数の多いブログに「クチコミラーメン」の感想を書いてもらえば、認知度は一気に上がると睨んだのだ。</p>

          <p>ウェブ生まれのクチコミラーメンは、ヒットするのか？</p>
</td> 
        </tr></table><p>グロービートジャパンは既に、カルト団体である「日本平和神軍」や学位販売大学である「イオンド大学」との関係が明らかになっています。また、それを公表し注意を呼びかけたサイトを、高額な訴訟そして様々な嫌がらせ行為（自宅前にコーラの缶と傘を置き、掲示板で告知するなど）で潰そうとするなど、反社会的なグループです。暗の側面には目をつぶり、明の側面だけ取り上げ宣伝する日経の見識は、いかがなものでしょうか？</p>
      <p>「儲かるなら、何だってやっていい」ということでは、無いはずです。法的にだけでなく社会的に許される活動こそが、長期的な発展をもたらすはずです。私は、れっきとした<a href="http://beyond.cocolog-nifty.com/akutoku/2005/12/yahoo_9365.html">Yahooの株主</a>なのですが、ライブドア・ショックの二の舞になるようなことはホント止めて欲しいと思います。</p>
      <p>なお、ラーメン花月&amp;平和神軍裁判の次回公判は、今週金曜日1月27日の13：30より、東京地裁426号法廷で行なわれます。カルト団体に関する裁判のため、警備法廷（傍聴する前に、危険物チェックがされる。手荷物も警備員に預ける）となっております。ご注意ください。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://yama-ben.cocolog-nifty.com/ooinikataru/2006/01/post_c69b.html">【学位商法問題】健康不安に付け込んだ被害をなくすために</a>（弁護士山口貴士大いに語る）
        </li>
<li>
<a href="http://blog.a902.net/topics/2005/1222.html">グロービートジャパンの社長は、1億円以上の報酬をもらいながらも単なる「お飾り」か？？</a>
      </li>
</ul><p>(補足説明) グロービートジャパンは、「ラーメン花月」「豚そば銀次郎」などのラーメンチェーンを展開している株式会社です。</p>
      <p></p>
