---
layout: post
title: "インターネット協会のセミナーで講演を行います"
category: topics
tags:
- 2006年の記事
---
<p>財団法人インターネット協会が主催する「<a href="http://www.iajapan.org/hotline/seminar/20060228.html">インターネット有害情報対策セミナー</a>」にて、講演を行うことになりました。TVなどでも有名な、紀藤弁護士もやって来ます。
      <p></p><table border="0" cellspacing="2" cellpadding="2">
<tr>
<td valign="TOP" nowrap>
          日時：</td> 
          <td>
          2006年2月28日（火）13時30分〜16時30分</td> 
        </tr>
<tr>
<td valign="TOP" nowrap>
          会場：</td> 
          <td>
          商工会館 6階会議室 　東京都千代田区霞が関3-4-2　TEL : 03-3581-1634<br><a href="http://map.yahoo.co.jp/beta/index.html?m=map;s=5000;p=35/40/5.994,139/44/59.279">地図</a>
</td> 
        </tr>
</table><p>主催はインターネット協会ですが、話す内容も心情的にも「<a href="http://www.makani.to/wedding/index.html">インターネット上の表現の自由を考える会・第1.5回総会</a>」ぐらいの勢いなので、興味のある方は是非、お越しください。無料ですし。</p>
      <p>セミナーは、2回シリーズの1回目なのですが、両方通して参加していただければ、「本当にインターネットを使っているのは誰か？」「市民のことを考えているのは誰か？」と言うことが、お分かりになっていただけると思います。レベルの違いを、肌で感じ取ってください！</p>
      <p>なお、たぶん、「<a href="http://beyond.cocolog-nifty.com/akutoku/2004/04/post_4.html">ジーク・ビヨン</a>」は、やらないとおもいます(笑)。</p>
      <p></p>
