---
layout: post
title: "講演を行いました"
category: topics
tags:
- 2006年の記事
---
<p>2月28日に、インターネット協会主催の「<a href="http://www.iajapan.org/hotline/seminar/20060228.html">インターネット有害情報対策セミナー（その１）</a>」で、講演を行いました。真面目な財団法人の主催であることや、話題の詰め込みすぎで薄く広くなったため、ちょっと過激さが足りなかったかもしれませんが、それなりに面白く聞いていただけたかと思います。警察の方もお越しくださっていたようなのですが、面前で警察批判を繰り返す「チャレンジャー」ですので(^^;。
      <p># 有害情報の話題で、私に講演を頼むインターネット協会も、「チャレンジャー」かもしれません。</p>
      <p>講演タイトルは、「誰にとっての有害サイト？ − フィルタリング合戦の行き着く先」です。</p>
      <p><a href="http://beyond.2log.net/akutoku/topics/2004/0115.html">Google八分</a>の問題や、<a href="http://beyond.2log.net/akutoku/topics/topics2001.html#0420">有害サイト・フィルタリング</a>ソフトの問題を中心に、</p>
      <ul>
<li>紀藤弁護士を含め悪を批判する側は、脅迫が繰り返されるなど、ほとんど命がけでやっているのに、有害サイト規制をする側は軽く考えて規制している（どう見ても、本気で取り組んでいない）
        </li>
<li>フィルタリングは、ビジネスや政治、宗教に利用されやすい。仮に開発側が、「皆の利益と言う名目で、自らの利益のために利用しよう」と思っていても、今度は、別のフィルタリング権力の被害者となる可能性がある。もし本当に、「皆の利益のため」であるなら、信頼性や、フィルタリング合戦に負けたときの担保（勝ち負けにしない政策）が必要。
      </li>
</ul><p>と言うようなテーマを、いろいろな具体例をあげて話してきました。こういった講演と言うのは、比較的抽象的になりがちなので、ちょっと変わっていて良かったのではないでしょうか?</p>
      <p>興味を持ってくださった方は、場所と交通費さえ用意していただければ、日本全国伺いますので、是非<a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">呼んで</a>ください(^^)。</p>
      <p>行った人の感想：</p>
      <ul>
<li>
<a href="http://blog.livedoor.jp/m-98_33582/archives/50427380.html">ここにいる私</a>
        </li>
<li>
<a href="http://d.hatena.ne.jp/kamayan/20060301">カマヤンの虚業日記</a><br>
        「beyondさんはびっくりするほど美形」なんて書かれてますが、決して、そんなことはありません。こういうこと書かれると、いくら否定しても「以外と、そうかも」なんて勝手な期待が膨らんで、実際に会ったときのギャップが激しいので、止めて欲しいと思います（笑）。きっと、かなり後ろの方から聞いてくれていたのでしょう。「<a href="http://dictionary.goo.ne.jp/search.php?MT=%CC%EB%CC%DC&amp;kind=jn&amp;mode=0&amp;base=1&amp;row=1">夜目、遠目、傘の内</a>（＝誰でも美人に見える条件）」って言いますし。まあ、会う機会がなさそうな人は、「美形」と思っていてくださっても、結構です（爆）。
      </li>
</ul><p></p>
