---
layout: post
title: "GMOホスティング＆セキュリティ、第2回期日のお知らせ"
category: topics
tags:
- 2006年の記事
---
<p>「通称、田中三郎」および「GMOホスティング＆セキュリティ株式会社」への<a href="http://beyond.2log.net/akutoku/topics/2006/0119.html">損害賠償請求を求めた裁判</a>は、GMO
      H&amp;Sが全面的に争う姿勢を見せてきたため、第2回以降も行われることになりました。田中三郎からの答弁書は、まだ来ていません（訴状が届かなかったらしい）。
      <p>日時：<br>
      2006年3月27日 10：00〜<br>
      東京地裁 512号法廷</p>
      <p></p>
