---
layout: post
title: "Livedoor被害者の会について"
category: topics
tags:
- 2006年の記事
---
<p>Livedoor被害者の会（ライブドア被害者の会）には<a href="http://www.roodevil.jp/blog_body.html">ブログ</a>が設置されており、「<a href="http://164.46.173.169/roodevil/2006/03/post_1.html">情報交換</a>」としてコメントを受け付けるページがありますので、「ひとつの選択肢になれば」「参考のため」と思い、以下のような情報を投稿してみました。
      <p></p><table width="70%" border="1" cellspacing="0" cellpadding="6"><tr>
<td width="100%" bgcolor="#fffff0">
          株主被害弁護団の方の、説明会レポート<br><a href="http://blog.a902.net/topics/2006/0307.html">http://blog.a902.net/topics/2006/0307.html</a><br><a href="http://blog.netshoken.com/archives/50445198.html">http://blog.netshoken.com/archives/50445198.html</a><br><a href="http://blog.netshoken.com/archives/50446900.html">http://blog.netshoken.com/archives/50446900.html</a>
</td> 
        </tr></table><p>被害者の会のブログでは、コメントは「管理者が事前に検閲し、許可を得たものだけが公開」されるようになっています。3月12日16時頃に投稿を行ったのですが、19時現在、公開されていないようです。その後に投稿されたと思われるコメント（日時が、12日18時台）は公開されているので、未処理というわけではなさそうです。</p>
      <p>「不適切」と判断されたってことでしょうか？</p>
      <p>参考リンク：</p>
      <ul><li>
<a href="http://blog.a902.net/topics/2006/0307.html">ライブドア株主被害の被害者説明会に行ってきました</a>
      </li></ul><p></p>
