---
layout: post
title: "悪マニが、TVで紹介されます（かも）"
category: topics
tags:
- 2006年の記事
---
<p>最近、立て続けに「google八分」についての取材を受けました。google八分が<a href="http://blog.a902.net/topics/2004/0115.html">初めて確認されたのが2004年1月</a>で、その直後にインターネットマガジンとSPAの取材を受けただけですから、2年経って急にブームになったようです。色々聞いてみると、「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4480062858/spj-22/ref%3Dnosim/">ウェブ進化論</a>」がヒットして、その中でgoogleが賞賛されているらしいのですが、「本当にグーグルって良い企業なの？」と言う疑問からスタートしているようです。
      <p>私としては、グーグルは技術力もさることながら、政治力や巧妙な宣伝活動によって成功した企業だと思っています。簡単に言うと、「3倍優れた技術力を、10倍優れているように見せかけて成功した」って感じです。と言うのも、グーグルは、ずっと検索結果に検閲が行われていること（google八分のこと）を認めていませんでしたが、つい最近「<a href="http://internet.watch.impress.co.jp/cda/news/2006/01/30/10667.html">中国政府からの圧力によって、検閲を行う</a>」ことを発表しました。ご承知のとおり、グーグルが検閲を始めたのは、それよりも前、悪徳企業による要請によって行っているのですから、これは単に「中国と言う分かりやすい敵」に対抗していると言うパフォーマンスに過ぎません。</p>
      <p>スポンサーになる可能性のある「企業」に対しては甘く、訴訟のリスクが少ない個人に対しては厳しく当たるというのがグーグルの方針です。たとえば私は、グーグルに対して「<a href="http://blog.a902.net/topics/2006/0119.html">田中三郎</a>や<a href="http://blog.a902.net/topics/2005/1004.html">奥平明男</a>が、私の個人情報や親戚一覧と言ったものを公開しているので、検索できないようにして欲しい。またキャッシュも削除して欲しい」と要請したのですが、「検索結果やキャッシュに何を表示するかは全てグーグルが決定します。個人情報を入手できなくて困る人もいるため、検索結果からは削除いたしません。また、日本法人には責任が無いので、訴えるなら米国本社を訴えてください」と言う趣旨のトンチンカンな回答が返ってきました。</p>
      <p>ところで、調べてみたところ、ウェブ進化論の著者は「はてな」の取締役のようですね（<a href="http://www.asahi.com/digital/column/column03_1.html">朝日の記事</a>）。はてなにも大量に負の側面（<a href="http://blog.a902.net/topics/2004/0223.html">その1</a>、<a href="http://blog.a902.net/topics/2004/0225.html">その2</a>、<a href="http://blog.a902.net/topics/2004/0525.html">その3</a>、<a href="http://blog.a902.net/topics/2004/1103.html">その4</a>）がありますから、グーグルのように「広告戦略で、実態以上に良い企業に見せかけよう」ってことなんだろうと思います。</p>
      <p>ちなみに、google八分についてですが、最近のトレンドは「グロービートジャパン」に関するgoogle八分です。googleで「グロービートジャパン」を検索すると、なんと10件以上のページがgoogle八分にされています(下図)。ほとんどが、グロービートジャパンが告訴し、<a href="http://yama-ben.cocolog-nifty.com/ooinikataru/2006/02/post_f41a.html">現在進行形で行われている裁判</a>に関するページのようです。この裁判は、<a href="http://homepage1.nifty.com/kito/">紀藤弁護士</a>が弁護人をやっていて「個人のWEBサイトが起訴された日本初の裁判で、個人サイトの今後を決める重要な刑事事件（紀藤弁護士談）」だそうです。通常、個人の犯罪がマスコミで取り上げられることはありませんから、冤罪も疑われる裁判の進行についてWEBでレポートしようとすると、相手の一方的な申し出によりgoogle八分されるという、全く「ネットジャーナリズムなんて、嘘っぱち」もいいところな事例です（<a href="http://blog.a902.net/topics/2006/0318.html">参考記事</a>）。一人の人間が、誰にも知られないうちに裁かれようとしています。こういう事例を沢山知っていると、「マスコミの記事に圧力を掛けるのは難しい面もあるが、ネットの記事なら簡単に潰せる。ネットジャーナリズムを盛り上げよう」と言う陰謀とすら思えてきます。</p>
      <p><a href="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0419.gif"><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0419s.gif" width="200" height="129" align="BOTTOM" border="1" naturalsizeflag="3"></a>グロービートジャパンの検索結果（クリックで拡大）</p>
      <p>さて、長々と書いてまいりましたが、悪マニが紹介されるかもしれない番組は、MXテレビの「<a href="http://web-wac.co.jp/tv/">ガリレオチャンネル</a>」です。ガリレオといってもマサルガリレイとは、何の関係もありません。一応、著作権的に「画面の使用許可」を求めるメールが来たのですが、実際紹介されるかどうか分かりませんので、あしからずご了承ください。でも、取材協力の「佐々木俊尚」氏は、google八分の問題をいち早く取材してくれた方なので、内容に期待が持てそうです。</p>
      <p>東京MXテレビ　ガリレオチャンネル「検索テクノロジーが世界を呑み込む」<br>
      4月23日（日）午前8時〜8時半　<br>
      4月30日（日）午前8時〜8時半</p>
      <p>(補足説明) グロービートジャパンは、「ラーメン花月」「豚そば銀次郎」などのラーメンチェーンを展開している株式会社です。</p>
      <p></p>
