---
layout: post
title: "朝日新聞の特集で、紹介されました"
category: topics
tags:
- 2006年の記事
---
<p>朝日新聞が、<a href="http://news.livedoor.com/webapp/journal/cid__1868343/detail">阪神支局襲撃事件</a>を契機に「表現の自由と暴力」を考える特集として毎年やっている、「『みる・きく・はなす』はいま」（2006年5月1日分）に、当サイトのことが取り上げられました。
      <p><a href="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0506.gif"><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0506s.gif" width="120" height="179" align="TOP" border="0" naturalsizeflag="3">テキスト化が面倒なので、スキャン画像（クリックで拡大）</a></p>
      <p>記事中、嫌がらせをしている者として取り上げられている「サイトを運営する男(49)」とは、もちろん、<a href="http://blog.a902.net/topics/2005/1004.html">奥平明男</a>のことです。後半に、別の人の体験談がありますが、</p>
      <ul>
<li>右翼思想を打ち出す団体 ＝ 日本平和神軍
        </li>
<li>団体との関係が疑われる「とあるチェーン飲食店」 ＝ ラーメン花月で有名な「<a href="http://yama-ben.cocolog-nifty.com/ooinikataru/2005/11/post_6841_2.html">グロービートジャパン株式会社</a>」
      </li>
</ul><p>のことです。</p>
      <p>なお朝日新聞といえば、「<a href="http://blog.a902.net/topics/2005/1207.html">google八分申請FAX</a>」のことを思い出される方も多いかと思います。当然、取材時には記者の方に説明しています。しかし、「自社批判になるから」ということでしょうか、全く取り上げられませんでした。「朝日新聞の記事を引用すると、実名が暴露された上、Google八分にされる」ってのは、立派な「萎縮の構図」だと思うのですが、どうなんでしょうかね？ちなみに、先日「<a href="http://blog.a902.net/topics/2006/0419.html">Google八分についての取材を複数受けました</a>」と書きましたが、その中には、朝日新聞社の「<a href="http://www.aera-net.jp/">AERA</a>」もあります。こちらには、取り上げられるんでしょうか？</p>
      <p></p>
