---
layout: post
title: "現在発売中のAERAに、検索エンジンの記事"
category: topics
tags:
- 2006年の記事
---
<p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0509.jpg" width="120" height="164" align="LEFT" border="1" naturalsizeflag="3">現在発売中の<a href="http://www.aera-net.jp/">AERA</a>
      5月15日号に、「検索が支配する民主主義」と言う記事が掲載されており、私のコメントもちょこっとだけ載っています。
      <p>3ページの記事ですが、「とりあえず色んな人に聞いてみました」と言う感じで、問題提起記事としては良い出来だと思います。蛇足ですが、Google八分の実例として出てくる「都内に本部があるラーメンチェーン（とある宗教団体との関係が指摘されている）」とは、もちろんグロービートジャパン株式会社のことです。<br clear="ALL"></p>
      <p>しかし、現在のところ唯一物理的な証拠がある「<a href="http://blog.a902.net/topics/2005/1207.html">朝日新聞のGoogle八分申請事件</a>」については一言も触れられていませんね。朝日新聞社は、グーグルと言う新たな権力を自社利益のために利用している「最先端の企業」なのですから、是非、社内に取材をして欲しかったですね。まあ、マスコミ的には「検索エンジンが権力を持つのはケシカラン。民衆を支配するのは、俺たちだ」と言うことなのかも知れませんが。</p>
      <p>(補足説明) グロービートジャパンは、「ラーメン花月」「豚そば銀次郎」などのラーメンチェーンを展開している株式会社です。</p>
      <p></p>
