---
layout: post
title: "株式会社グッドフューチャーから削除要請が来ました"
category: topics
tags:
- 2006年の記事
---
<p>2006年5月11日に、<a href="http://www.gfgfgf.com/">株式会社グッドフューチャー</a>（神奈川県川崎市）より削除要請が来ました。表現の自由を考える会の掲示板<a href="http://www.makani.to/wedding/bbs/index.htm?mode=all&amp;namber=1967&amp;type=0&amp;space=0&amp;no=0">No.1967
      のスレッド</a>に対してです。
      <p>要請は、全スレッドの削除ですが、投稿者の表現の自由および公共性などのバランスを考慮した結果、スレッド中以下の発言については、とりあえず削除を行いました。</p>
      <p>No.1975、 2072、 2081、 2176、 2177、 2178、 2179</p>
      <p>当該発言については全文を保存しておりますので、当該発言の投稿者で必要のある方は、メールをいただければ投稿内容をお知らせします。ただ、この掲示板は、消費者被害相談を受け付けるものではありませんので、出来れば「<a href="http://beyond.2log.net/akutoku/bbs/qa/">悪徳商法会議室</a>」の方に続きを投稿してください。</p>
      <p></p>
