---
layout: post
title: "週刊ダイヤモンド5/13号に、名誉毀損訴訟の特集"
category: topics
tags:
- 2006年の記事
---
<p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0510.jpg" width="120" height="161" align="LEFT" border="1" naturalsizeflag="3">現在発売中の<a href="http://dw.diamond.ne.jp/index.shtml">週刊ダイヤモンド</a>5月13日号に、「請求額10億円も珍しくはない！メディア相手の巨額訴訟急増の実態」と言う記事が掲載されています。
      <p>なんでも、武富士が起こした言論弾圧目的訴訟を契機に、請求額が1億円を超えるような高額名誉毀損訴訟が頻発するようになっており、日本の裁判制度の特殊性から、メディアによる「不正・不祥事追求」に対する萎縮が始まっているということのようです。</p>
      <p><a href="http://homepage1.nifty.com/kito/">紀藤弁護士</a>は常々、「立証責任を被告（訴えられた側）に求める名誉毀損訴訟は、通常の訴訟（立証責任は原告に求められる）と異なり、被告の負担が過大となる。メディアが被告ならともかく、ブログやWEBサイトの管理者のような個人にまで同じ基準を適用するのは、おかしい」と主張していますが、メディアであっても数億の訴訟に対抗するのは大変なんでしょうね。</p>
      <p></p>
