---
layout: post
title: "グロービートジャパン会長の異常な言動"
category: topics
tags:
- 2006年の記事
---
<p>かなり間があきましたが、<a href="http://beyond.2log.net/akutoku/topics/2006/0324.html">第8回公判レポート</a>の続きです。裁判の後半は、自称グロービートジャパン会長の黒須英治氏が、<a href="http://www.coremagazine.co.jp/bubka/">BUBKA</a>編集部にクレームをつけた際の録音テープの確認です。実際に、テープの内容が裁判所で再生されました。
      <p>それで内容についてですが、なんと全ての録音内容を公開しているページがありますので、そちらを見ていただければ良いかと思います。以上。</p>
      <ul>
<li>
<a href="http://sdseminar.exblog.jp/3060734/">強力な個性を持ったおもしろい人間
        - Part 1</a>
        </li>
<li>
<a href="http://sdseminar.exblog.jp/3063715/">強力な個性を持ったおもしろい人間
        - Part 2</a>
        </li>
<li>
<a href="http://sdseminar.exblog.jp/3082718/">強力な個性を持ったおもしろい人間
        - Part3</a>
      </li>
</ul><p>と言うわけにも行かないので、特にスゴイ部分を紹介したいと思います。適当に端折ってますので、全文や話の流れを見たい方は、上のリンク先をご覧ください。</p>
      <p></p><table width="80%" border="0" cellspacing="2" cellpadding="0"><tr>
<td valign="TOP" nowrap>
          英治氏「</td> 
          <td>
          平和神軍なんて団体はありゃしないんだよ。私はいろんな会社、A社、B社、C社、その中に花月もあるんだよ。その他、私は宗教法人宝栄山妙法寺もやってるの。ね、それからハワイのイオンド大学、これは学校法人でやってるわけ。催眠研究会っていうのもやってんだよ。正理研究会っていうのもやってんの。その同じ次元に、ね、平和神軍ていうのがあるの。平和神軍てのは啓蒙団体なの。正理研究会ってのは真理を探究する団体なの。</td> 
        </tr></table><p></p><table width="80%" border="0" cellspacing="2" cellpadding="0"><tr>
<td valign="TOP" nowrap>
          コメント：</td> 
          <td>
          黒須伸一氏も「平和神軍なんて団体は存在しない。親父（英治氏）の思想を実現する思想団体だ」と証言しておりましたが、団体が無いのに何で「啓蒙団体」「思想団体」として存在しうるのか意味不明です。</td> 
        </tr></table><p></p><table width="80%" border="0" cellspacing="2" cellpadding="0"><tr>
<td valign="TOP" nowrap>
          英治氏「</td> 
          <td>
          人間てのはここまで誠意が分かれば喧嘩にならないの。誠意を分かんないから、女の子も殺されるんです。はい、あんたよりもっといい男が見つかったなんて、女が言ったら殺されるんです、これは。殺されてもしょうがないんだよ、その女は。そうだろ、今まで付き合った男がいてだな、新しい男が出来て、私はあの人じゃなきゃ感じないのって言ったら、カーッときて殺されちゃうだろ。普通、男女の関係なんかで殺し合いになるっていうのは、女が悪いんだよ。男をバカにするから、そういう事になっちゃうの。</td> 
        </tr></table><p></p><table width="80%" border="0" cellspacing="2" cellpadding="0"><tr>
<td valign="TOP" nowrap>
          コメント：</td> 
          <td>
          <p>英治氏の教えでは、別れ話を切り出したら、殺されても仕方が無いそうです。<br>
          右翼＝女性蔑視ということにはならないと思いますが、この方は非常に差別意識が強いようで、端々に部落だのエタだの出てきます。</p>

          <p>このような人が、「グロービートジャパン代表」として、弁護士との交渉等に出てくるのですから、すごい会社です。交渉が決裂しそうになると、「貴様は、朝鮮人か！」と怒鳴るそうです。</p>
</td> 
        </tr></table><p>(補足説明) グロービートジャパンは、「ラーメン花月」「豚そば銀次郎」などのラーメンチェーンを展開している株式会社です。</p>
      <p></p>
