---
layout: post
title: "ホームオブハートの証人尋問予定"
category: topics
tags:
- 2006年の記事
---
<p><a href="http://www.htphtp.com/">ホームオブハートとＴｏｓｈｉ問題を考える会</a>の最新情報によると、6月5日（月）の裁判にて、被告ホームオブハートおよびトシオフィス側の証人尋問が行われ、なんと元XJapan、Toshi
      の戸籍上の妻にして元アイドルの「出山香（<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B0000DJW49/spj-22/ref%3Dnosim">守谷
      香</a>）」の証人尋問が行われるそうです。
      <p><a href="http://blog.a902.net/topics/2006/0222.html">2月20日の裁判</a>を傍聴に行って一発でファンになった私としては、是非見に行かないといけません。会社の休暇届の理由欄には、「"かおすん"がやってくるから。あと、なんかファジーな気もちだから」と書いておきました。ちなみに前回は、途中で帰ったけど
      Toshi も来ていました。キャー（黄色っぽい声援）。</p>
      <p>なお裁判は、6月5日（月）午後１時10分から、東京地裁 611号法廷で行われます。</p>
      <p>注） かおすん … 出山香のホームオブハート内での愛称</p>
      <p></p>
