---
layout: post
title: "ハッカージャパン7月号に記事を書きました"
category: topics
tags:
- 2006年の記事
---
<p><a href="http://www.byakuya-shobo.co.jp/hj/"><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0616.jpg" width="120" height="171" align="LEFT" border="0" naturalsizeflag="3"></a>毎号書いているんですが、たまには告知しとかないと、忘れさられるので(^^;。最初に記事を書いたのが、2004年の7月号ですから、ちょうど2年経ったと言うことになります。
      <p>で、全然関係ないけど、ハッカージャパンには、ハッカーが活躍する漫画が連載されています（一番面白い）。それに出てくる「ライフドア」の堀井社長は、まだ元気のようです（<a href="http://blog.a902.net/topics/2005/0215.html">前にも登場</a>しています）。次回、裏で暗躍する組織が株のインサイダー取引で大儲けしているのを逆手にとって、主人公が罠を仕掛けるようなのですが「ライフドア・ショック」で失敗するのか、それともむしろ引き起こすのか楽しみなところです。<br clear="ALL"></p>
      <p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0616-2.jpg" width="200" height="248" align="TOP" border="0" naturalsizeflag="3">株主総会で、はっちゃける、堀井社長の図</p>
      <p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B000FS9A1C/spj-22/ref%3Dnosim">amazonで、ハッカージャパンを購入</a></p>
      <p></p>
