---
layout: post
title: "Yahoo!の株主総会に行って、グロービートジャパンのことを質問してみました"
category: topics
tags:
- 2006年の記事
---
<p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/0623.jpg" width="200" height="151" align="LEFT" border="0" naturalsizeflag="3">私は、なぜかYahoo! JAPANの株主だったりもするので、せっかくだから
      6月22日に開催された定時株主総会に行って、質問をしてみました。正確には、株主総会後の「経営近況報告会」での質問です。
      <p>挙手による指名制で、総会の時から手をあげているのに全然指してもらえず、「警戒されてる？」って感じだったのですが、最後の最後になんとか質問できました。まあ聞きたいことは色々ありますが、「一人一問」ってことなので、<a href="http://ramen.yahoo.co.jp/original/">グロービートジャパンとの共同企画</a>のことついて質問してみました。</p>
      <p><br clear="ALL"></p>
      <blockquote>
        <h4>質問：</h4>
        <p>昨年から、グロービートジャパン株式会社との共同企画で、「138万人が選んだラーメン」と言うのをやって、コンビニなどでインスタントラーメンを売っていますが、このグロービートジャパン社は、カルト宗教との一体性が、裁判において問題となっている企業なんですね。もし、Yahoo!
        JAPAN が、カルト宗教と営業的に繋がっているとすると、Yahooのブランドイメージにとっても問題となるんじゃないかと思います。</p>
        <p>このラーメンの企画は、<a href="http://blog.a902.net/topics/2006/0124.html">ガイアの夜明けにも大々的に取り上げられた</a>企画であるにもかかわらず、営業報告書にも、どの部門の何％とか出てきていませんが、そうすると利益が出てないのに、リスクばかり大きいんじゃないかと思います。つきましては、次の質問にご回答いただきたいと思います。</p>
        <p>裁判の結果によるリスクや影響は、どの程度、ご検討された上でやってるんでしょうか？と言うのも、グロービートジャパン以外の会社であれば、もっと売り上げが出てたんじゃないかと思いますし、なぜグロービートジャパンなのか、その辺のことをお答えください。</p>
        <h4>井上雅弘社長の回答：</h4>
        <p>（他の取締役に確認した上で）ここにいる人間では、そのことについては分からないようです。正直言いまして、グロービートジャパンですか？初めて聞いた会社なので、どのような会社なのか分かりません。おっしゃるような問題があるのでしたら、調べてみたいと思いますが、売り上げに出てないのは、非常に少ないからで、影響としても僅少だと思います。</p>
        <p>取締役会のほうには上がってきていませんが、裁判の事などは、担当者が適切に判断していると思います。いずれにせよ影響は僅少です。</p>
      </blockquote>
      <p>「これからの目標」として、「Web2.0 のような、消費者の口コミが重要」と言っている割には、口コミ・ビジネスの先行例として自社が取り上げられている企画を知らなかったようで、ビックリです。まあ、孫会長も井上社長も携帯ビジネスのことで頭が一杯のようで、こんなどうでもいいことなんか下っ端に任せているのでしょう。</p>
      <p>ちなみに、総会自体はヤジも怒号も無く、全く平穏に終わりました。株主総会と言えば、もっと、<a href="http://www6.big.or.jp/~beyond/akutoku/news/2006/0520-3.html">個人情報流出で賠償命令が出た話</a>とか<a href="http://japan.cnet.com/news/biz/story/0%2C2000056020%2C20088005%2C00.htm">日本でも引き抜きはやってるんですか？</a>とか厳しい質問がバンバン出るのかと想像していましたが、「今はCATVでネットに繋いでいるのですが、Yahoo!BBとどっちが良いのでしょう？」とか「ほとんど使っていないのに、毎月3900円取られて高いです」とか、（主にお年寄りの方の）どうでも良いような質問がほとんどなんですね。</p>
      <p>ところで、なんで私がYahooの株を持っているかというと、<a href="http://internet.watch.impress.co.jp/cda/news/2004/04/19/2835.html">ウェディング問題を考える会・第1回総会</a>でも言ったのですが、「Google八分に対抗するためには、Google以外の検索エンジンを支援して競争を促すことも必要」ってことで買ってみました。でも、その後、<a href="http://blog.a902.net/topics/2006/0318.html">カルト団体(*1)と組んでYahoo八分を始めた</a>みたいなんでビックリです。</p>
      <p>参考：</p>
      <ul>
<li>
<a href="http://blog.a902.net/topics/2006/0522.html">グロービートジャパン会長の異常な言動</a>
        </li>
<li>
<a href="http://blog.a902.net/topics/2006/0324.html">グロービートジャパンと平和神軍観察会の裁判、第8回その１</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/akutoku/2005/11/138_da3d.html">138万人は知らない、ラーメンの真実</a>
        </li>
<li>
<a href="http://yama-ben.cocolog-nifty.com/ooinikataru/2006/06/post_f063.html">グロービートジャパン（らあめん花月）・日本平和神軍事件の公判のご案内</a>
        </li>
<li>
<a href="http://blog.a902.net/topics/2006/0615.html">【DOK-USEN】ライブドアの臨時株主総会に行ってきました【砂漠に緑を】</a>
      </li>
</ul><p>(*1) ここで言う「カルト団体」とは、自らの主義主張を通すために言論以外の方法（広告による圧力や暴力など）を用い、相手の主張に反論するのではなく「抹殺」によって解決を図ろうとするような団体のことを指します（例：坂本弁護士一家殺害事件）。一般に言う「カルト性」とは、特異な主義主張を持つことだと思いますが、それだけでは程度の問題だし批判の対象とはならず、その特異な主義主張の「ために」、一般には「是とされない」方法を<b>用いる</b>からこそ問題となります。また、宗教専門家による「カルト性」とは、「集団批判を許さない」などの特徴を持つことですが、SPAMのような主張を用いることを「組織として是としている」状態から見ても、十分その定義に当てはまるのでは無いでしょうか？</p>
      <p>余談ですが、一般的には（どっちかと言うとマスコミ的には）、「奇妙な行動＝カルト性」と見る向きにもありますが、私は「行動」が、ある主義主張の成就のために起きるのでなければ、カルトでは無いと思います。つまり、主義主張と「普通じゃない行動」が結びついた時がカルトと言うことです。</p>
      <p>(補足説明) グロービートジャパンは、「ラーメン花月」「豚そば銀次郎」などのラーメンチェーンを展開している株式会社です。</p>
      <p></p>
