---
layout: post
title: "グーグルとは何か 第4回 〜全ての情報を検索できるようにするのが、Googleの目標〜"
category: topics
tags:
- 2006年の記事
---
<p><a href="http://beyond.2log.net/akutoku/topics/2006/0703.html">Google八分の酷い現実</a>の続きです。
      <p>まず、勘違いされると困るのですが、私は「Google八分は、一切するな」とは主張しておりません。村上社長は「この世にある全ての情報を検索できるようにするのが、Googleの最大にして唯一の目標」と公言していますが、私としては「プライバシーは守るべき派」ですので、村上社長の親族一覧とか、村上社長の性癖情報を検索したいとは思いません。</p>
      <p>さて、私はサイト柄、変な悪徳業者からの逆恨みを買うこともあり、以前「悪マニBeyondの個人情報および親族住所・電話番号一覧」と言ったサイトを作られてしまいました。どっから調べたのか分かりませんが、頑張って調べたようです。それで、悪マニのことをググると、悪マニがgoogle八分されていることもあって、その一覧が一番上の方に表示されていました。脅迫電話も掛かってくるし、検索で見つけた人が心配してメールを送ってくるし、両親が大変気に掛けていると言うこともあって（親と言うのは、そう言うものです）、googleに検索から外してもらえるように要請を行いました。ちなみに、そのサイトについては、<a href="http://beyond.2log.net/akutoku/topics/2006/0119.html">昨年12月末に提訴</a>し、2006年6月26日には完全勝訴の判決を貰い、削除されました。</p>
      <p>その時の、Googleからの返事は、以下のようなものです。</p>
      <blockquote>
        <p>この度は、GoogleへFaxをお送りいただきありがとうございました。ご存知の通り、Googleの検索結果はWeb上で公開されている情報をそのまま反映しています。GoogleはWeb上でアクセス可能な情報を収集し、検索結果としてまとめてはいるものの、それら情報をコントロールしたり、それら情報へのアクセスを故意に制限することはできません。また、Googleでは、各ユーザーがWeb上でアクセス可能である自身の個人情報の有無を知ることが大切なことだと考えています。これは、Googleから個人情報が除去されることにより、それら個人情報がWeb上から消滅するわけではないからです。</p>
        <p>（中略）</p>
        <p>また、GoogleではGoogle Alertsを使用して、Web上に存在する個人情報(特にクレジットカード番号)を常に把握することを薦めています。例えば、ご自身のクレジットカード番号をキーワードとした検索結果が現れた場合、Google
        Alertsを使用することにより、瞬時に対応策を練ることが可能です。Google Alertsは以下のURLからアクセスしていただくことができます。</p>
      </blockquote>
      <p>Googleとしては、「個人情報だとしても検閲は行えない」「検閲を行うと、本人にも不利益が及ぶ」と言いたいようです。しかし、Googleの検索で知ったのだとしても、一度知ってしまえば関係ない話ですし、現に「Google八分」が行われていることは分かっています。そのことを伝え、再度、削除要請したところ、以下のような返事が返ってきました。</p>
      <blockquote>
        <p>ご返信いただきありがとうございます。弊社の利用規約に掲載されているように、Googleはリンク削除の要求に個別に対応する権利を保留します。</p>
        <p>現時点では、弊社にてこれ以上の対処を行うことができないことをご了承ください。</p>
      </blockquote>
      <p>なぜ削除したくないのか、理由が書かれていないため全く不明ですが、プライバシー情報は削除しないと言う方針のようです。</p>
      <p>ところで、「<a href="http://www.icpf.jp/archives/2006-06-12-0904.html">Googleの考え方</a>」と言うセミナーの司会は、池田信夫と言う方でした。村上社長が、しきりに「池田先生、池田先生」とおっしゃっていたので、帰ってから調べてみました。どうも、「<a href="http://cruel.org/candybox/ikedareply.html">プライバシーなんて幻想だ</a>」「<a href="http://blog.sakichan.org/ja/index.php/2003/09/10/p46">プライバシーの保護の強化によってではなく、情報公開によってバランスをとるべきである</a>」と言った信念をお持ちの方のようです。何か通じるものが、あるんでしょうか？</p>
      <p>と言うことで、続きます。</p>
      <p></p>
