---
layout: post
title: "ライブドア事件に関するGoogle八分"
category: topics
tags:
- 2006年の記事
---
<p>Google八分の調査をしていて、以下のページがGoogle八分されているのを見つけました（八分の確認方法については、<a href="http://beyond.2log.net/akutoku/topics/2006/0703.html" class="subject">google八分の酷い現実</a>をご参照ください）。
      <p><a href="http://4-ch.net/nihongo/kareha.pl/1139819285/">【ライブドア】
      怪死・野口氏、沖縄の"接点"として「サイバーファーム」浮上…堀江容疑者も沖縄に？★9</a></p>
      <p>だれかにとって都合の悪い情報が含まれているからこそGoogle八分されてるんでしょうが、私には単なる「２ちゃんねる風掲示板」の一つにしか見えません。</p>
      <p>たとえば、Google派の<a href="http://blog.goo.ne.jp/ikedanobuo">池田信夫</a>氏なんかは理由を知ってるんでしょうけど、トラックバックやコメントに厳しい検閲を行っているくらいだから、教えてくれませんしね。誰か、<a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">情報があったら教えてください</a>。</p>
      <p></p>
