---
layout: post
title: "「Google八分」を宣伝する、国策検索の欺瞞"
category: topics
tags:
- 2006年の記事
---
<p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/1005.jpg" width="215" height="120" align="LEFT" border="1" naturalsizeflag="3">CEATECとか言うコンピューター展で、<a href="http://www.itmedia.co.jp/news/articles/0610/05/news092.html">眞鍋かをりがグーグル八分の宣伝</a>をしているらしいです。
      <p>「国内の告発サイトがGoogle八分にあったと語り」だそうだけど、私のところには、取材もヒアリングも来てませんよ〜。まあ、悪マニ以外にも、告発サイトでグーグル八分されているところは色々と知ってますが、そっちのことを言ってるんでしょうかね？真鍋さん、一度、お会いしたいものです（笑）。<br clear="ALL"></p>
      <p>さて、政府機関のサイトもグーグル八分されていることから、やっと危機感を持って煽り始めたんですかね。でも、検閲や情報操作ってのは、元々、「国が行うもの」と相場が決まっています。とりあえず、<a href="http://blog.a902.net/topics/2006/0918.html">こんなの</a>とか<a href="http://blog.a902.net/topics/2006/1002.html">こんなの</a>について、事実確認をしてきちんとした情報を発信すべきじゃないですかね。</p>
      <p>それに、「Web検索を活用して著作権のあるコンテンツを探し出し、効率よく著作権違反サイトを見つけ出す技術（早稲田大学）」を使って見つけ出したサイトを、どうするんでしょうか？<a href="http://blog.a902.net/topics/2005/1207.html">朝日新聞が行った</a>ように「著作権違反だから、”国策検索”八分」するつもりでしょうか？</p>
      <p>結局、私のサイトは八分される運命にあるようです（笑）。</p>
      <p>私としては、政府、企業、消費者の３つの検索エンジンが並列し、それぞれ牽制しあうべきだ、と考えているので反対はしませんが、グーグル八分を例に持ってくるのは、ちょっと違うんじゃないですかねぇ。それよりも、50億あるのなら、私に1億ぐらい出資してくれれば「グーグル八分されたサイトを検索する検索エンジン」作りますよ(^^)。まあ権力側の皆様にとっては、「消費者に正しい情報を出したい」のではなく、「いざと言う時（戦時下？）には、自前で自由に情報操作できるオプションが欲しい」だけなので、私はいつも貧乏なんですね。</p>
      <p></p>
