---
layout: post
title: "山谷えり子議員を知ろうとすると「グーグル八分」が"
category: topics
tags:
- 2006年の記事
---
<p><a href="http://blog.a902.net/topics/2006/0918.html">安倍氏に関するグーグル八分記事</a>が大人気です。そこで、いつか本を書くことがあれば、その時のために取っておこうと思っていたネタを出したいと思います。時事ネタ＆キーワード的には分かりやすいため、「誰かが先に見つけるかもしれない」とドキドキだったのですが、日本のブロガーで、そこまでのリテラシーがある方は、いなかったようです。
      <p><a href="http://www6.big.or.jp/~beyond/akutoku/topic/2006/1002-1.gif"><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/1002-1s.gif" width="150" height="101" align="LEFT" border="1" naturalsizeflag="3"></a>と言うわけで、いつものように<a href="http://www.google.co.jp/">グーグル日本</a>にて、キーワード「山谷えり子 統一協会」を検索してみてください。一番下に、「Google
      宛に送られた法律に関するリクエストに応じて、検索結果のうち 1 件を削除しました」と表示されます。</p>
      <p></p>
      <p>実際、どのページが「検閲」されているのかと言うと、２ちゃんねるの、</p>
      <ul><li>
<a href="http://society3.2ch.net/test/read.cgi/giin/1126518700/">【世界日報も重用】山谷えり子派の選挙違反・２</a>
      </li></ul><p>と言うスレッドです。</p>
      <p>グーグルは情報公開していないため、私の様な市井の人間には、これ以上の情報、たとえば「誰が、どんな目的で（具体的にどの部分を問題として）」削除の申請を行ったのかは分かりません。が、少なくとも、上記のスレッドが検索に出てこないことは事実です。</p>
      <p>さて、山谷えり子議員と言えば、安倍新内閣の「首相補佐官（教育再生担当）」に任命されたことで一躍、時の人となりましたが、「有害情報の規制」に並々ならぬ尽力をしてきた方です。たとえば公式サイト上では、<a href="http://www.yamatani-eriko.com/news/2001/news24.html">2001年の活動報告</a>として以下のような質問を衆議院で行ったことが掲載されています。「School
      Days」とか見せたら、間違いなく発禁にされそうな勢いです（笑）。</p>
      <blockquote>
        <p>私、民間におりましたときに、放送と青少年に関する委員会というところに属しておりまして、性や暴力のひどい番組をチェックするというようなことをやっておりましたし、月に二回、性的な表現のひどい漫画や雑誌をチェックして指定図書にするというようなこともやっておりまして、大変な作業だったんですけれども、指定しても売り逃げとか売り得とかが現実です。</p>
        <p>それから、今コンビニは全国で五万店ぐらいございますけれども、東京都でいえば、九六・四％のコンビニに有害図書が置かれているというような現実もございます。これは、要請文書を送付するぐらいじゃ全然だめで、町村大臣があれだけ頑張っても、今は全く、むしろ後退したというような状況でございますけれども、遠山文部大臣は、これをきちんとフォローアップする、あるいは状況を公表する、委員会の中に保護者を入れていく、それから、具体的に現場を見ていただきたいというふうに思います</p>
      </blockquote>
      <p>しかし、有害情報の規制を問題にしていると言うことは、逆を返せば「表現の自由」についても考えているはずです。申請自体は、スタッフが行ったのかも知れませんし、全然関係ない人が行ったのかも知れません。が、全然関係ないなら、なおいっそうのこと、グーグルで「検閲」が行われている事実について、きちんと向き合い調査をして欲しいと思います。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://kito.cocolog-nifty.com/topnews/2006/09/post_42a9.html">総理安倍晋三様　これでは統一協会＝統一教会擁護内閣ではないか！</a>　−　紀藤正樹弁護士
        </li>
<li>
<a href="http://www6.big.or.jp/~beyond/akutoku/topic/topics2004b.html#0705">ジェンダーフリー・バッシングの真実？</a>
        </li>
<li>
<a href="http://blog.a902.net/topics/2006/0703.html">グーグルとは何か 第3回 〜google八分の酷い現実〜</a>
        </li>
<li>
<a href="http://beyond.cocolog-nifty.com/akutoku/2006/10/post_fb5f.html">「安倍内閣＋統一協会」リンク</a>
      </li>
</ul><p>（注） ちなみに私は、School Days自体は、やったことがありません。</p>
      <p></p>
