---
layout: post
title: "NHK「日本のこれから」にて、当サイトが紹介される予定です"
category: topics
tags:
- 2006年の記事
---
<p>12月19日（土）に、NHK（日本ひきこもり協会じゃないほう）の討論番組「<a href="http://www3.nhk.or.jp/korekara/">日本のこれから</a>」が放送される予定なのですが、途中インタビューにて、当サイトが紹介されるはずです。たいしたこと話してないので、どんな感じになるのか、今から赤面しております(^^;。
      <p>番組は、日本の法制度の問題点を無視した新たな「ネット規制」が引かれようとしているということで、それについて賛成／反対の討論を行うそうです。討論番組といえば「声の大きいもの勝ち」といったイメージがありますが、さすがにNHK（忍者ハットリ君じゃないほう）は、そんな作りにしないと思います。ですが、一体全体、どんな結論になるのか心配です。というのも、グーグル八分は取り上げないそうなので、主題が「官対民」の古い構図のようだからです。</p>
      <p>私としては、法の規制が強まることによる「プロバイダの自主規制」が、今後の大きな課題であり、グーグル八分は、その先鞭だと考えております。また、監視社会の問題も、グーグルこそが最大の監視企業です。なんで、取り上げないのか良く分かりません。</p>
      <p>それで、<a href="http://blog.a902.net/topics/2006/1202.html">新しいサーバー</a>のテストも兼ねて、<a href="http://korekara.makani.to/">特設掲示板</a>を設置してみました。当日この時間帯は、<font color="#ff0000">実況中継的に</font>書き込みを行いますので、興味のある方は是非ご覧ください。ただ、サーバーの手配をしたばかりで、設定などもまだ行っていません。突然表示されなくなったりする可能性もあります。ご了承ください。</p>
      <p><a href="http://korekara.makani.to/">「日本のこれから」特設掲示板</a>（たぶん、12月10日まで）</p>
      <p>（訂正）</p>
      <p>19日と書いてありましたが、9日の間違いです。見逃した方、どうも申し訳ありません。</p>
      <p></p>
