---
layout: post
title: "サーバー移転にともなう、寄付のお願い等"
category: topics
tags:
- 2006年の記事
---
<p><a href="http://beyond.2log.net/akutoku/bbs/qa/">会議室</a>などの置き場所として、<a href="http://chbox.jp/">ちゃんねるぼっくす</a>の深水さんに無料でサーバーをお貸しいただいていたのですが、都合により引っ越さなければいけなくなりました。この際だから、海外の安いサーバーを丸ごと借りて、専用ドメインで運用しようかと思います。
      <p>それで、よろしければ、<a href="http://www6.big.or.jp/~beyond/akutoku/etc/kyouryoku.html">ご寄付</a>をお願いできないでしょうか？</p>
      <p>ちょうど年賀状シーズンですので、12月26日までに、住所・氏名を書いてご寄付していただけた方には、もれなく年賀状をお送りします。年賀状なんて要らないという方は、無記名でも結構です。</p>
      <p>あと、移転に伴い、サイトのリニューアルや新規サイトの開設を予定しております。ウェブサイトのデザインなどを手伝っていただける方がいらっしゃいましたら、助かります。「デザインしても良いよ」という素晴らしい方がいらっしゃいましたら、条件などを書いて<a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">メール</a>してください。</p>
      <p>よろしくお願いいたします。</p>
      <p>P.S.</p>
      <p>年末から年始にかけて、ビッグ・サプライズを用意しております。お楽しみに。</p>
      <p></p>
