---
layout: post
title: "！特報！Google八分に関する本を出版します"
category: topics
tags:
- 2006年の記事
---
<p>今や「グーグル八分といえば悪マニ。悪マニといえばグーグル八分」といった感もあります。私としては、先頭切って戦うようなまねは、あまり好きでは無いんですが、グーグル八分について殆ど何も知られてないため本を出すこととなりました。
      <p>と言っても、相手は北朝鮮以上に秘密のベールに包まれたところです。情報が全く無い中、一介の個人サイト管理人としては頑張って調べましたので、ご購入いただけると幸いです。こんなに長い文章を書くのは初めての経験でして、さすがに100点とは参りませんが、自分的には80点以上の出来栄えです。悪マニ読者の方でしたら、無条件で楽しんでいただけると思います。ちなみに、トピックスは平均95点以上です(^^）。</p>
      <p></p><table border="0" cellspacing="2" cellpadding="0">
<tr>
<td width="180" rowspan="6" align="CENTER">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861671469/spj-22/"><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/1218.jpg" width="120" height="203" align="BOTTOM" border="0" naturalsizeflag="3"></a>
</td>
          <td>
          名称： グーグル八分とは何か</td> 
        </tr>
<tr>
<td>
          著者： 吉本敏洋ことBeyond</td>
        </tr>
<tr>
<td>
          発行： <a href="http://www.9-ten.co.jp/">九天社</a>
</td>
        </tr>
<tr>
<td>
          定価： 900円（税込）</td>
        </tr>
<tr>
<td>
          大きさ： 新書サイズ</td>
        </tr>
<tr>
<td></td>
        </tr>
</table><p>都内でしたら、21日か22日頃には書店に並ぶと思います。25日頃には、全国で発売されているかと思います。Googleのハウツー本が沢山出る中、一味違ったGoogleの本です。親しい方へのクリスマスプレゼントに、帰省や海外旅行の際の旅のお供に、是非、お買い求めください。</p>
      <p>ちなみに、どういう内容かというと、だいたい↓以下の様な感じの本です。</p>
      <p><img src="http://www6.big.or.jp/~beyond/akutoku/topic/2006/1002.gif" width="480" height="787" align="BOTTOM" border="1" naturalsizeflag="3"></p>
      <p></p>
