---
layout: post
title: "アルパカが、あなたを狙っています"
category: topics
tags:
- 2009年の記事
---
<p>新しい年度になり、新入生、新社会人のかたは、喜びに満ちた気持ちでいっぱいだと思います。
      <p>しかし、油断をしてはいけません。</p>
      <p>様々な、アルパカが、あなたを癒そうと狙っています。</p>
      <p></p><center><img src="2009/alpaca3.jpg" width="400" height="300" align="BOTTOM" border="0" naturalsizeflag="3"></center>
      <p>安易な「もふもふ話」や、あなただけ特別といった、うまい話はありませんのでご注意ください。</p>
      <p>悪いアルパカは、笑顔であなたに近づいてきます。</p>
      <p></p><center><img src="2009/alpaca2.jpg" width="400" height="300" align="BOTTOM" border="0" naturalsizeflag="3"></center>
      <p>参考文献：</p>
      <ul><li>
<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4863580169/spj-22/ref%3Dnosim">もふもふはなこ</a>
      </li></ul><p></p>
