---
layout: post
title: "神戸地方法務局より、削除要請がありました"
category: topics
tags:
- 2009年の記事
---
<p>神戸地方法務局長 難波尊廣様(担当:人権擁護課長 八木様)から、BIG-NETに対して削除要請がありました。
      <h4>BIG-NETからの通知（抜粋）：</h4>
      <p></p><table width="90%" border="1" cellspacing="2" cellpadding="3">
<tr>
<td width="685">
          <p align="RIGHT">2009年5月14日12時34分</p>
</td> 
        </tr>
<tr>
<td width="685">
          <p>お手数をお掛け致します。</p>

          <p>本日、神戸地方法務局長 難波尊廣様(担当:人権擁護課長 八木様)から「侵害<br>
          情報の通知書 兼 送信防止措置依頼書」が届きました。</p>

          <p>http://www6.big.or.jp/~beyond/akutoku/news/2003/0326-10.html<br>
          http://www6.big.or.jp/~beyond/akutoku/news/2003/0326-22.html</p>

          <p>上記のお客様のページに対して</p>

          <p>・プライバシー侵害</p>

          <p>本件情報は、平成15年3月26日、特定個人が薬事法違反容疑で逮捕された報道<br>
          に関する情報であるが、逮捕からすでに5年以上経過し、現在は社会復帰して<br>
          おり、また、同人は公的立場になく本件情報を公表すべき公益目的が認めら<br>
          れない。よって、本件情報は、これを公表する利益よりも、公表されない利益<br>
          が優先するため、特定個人のプライバシーを侵害している情報と認められる。</p>

          <p>ということから、送信防止措置依頼がありました。</p>

          <p>不可視や削除などの対応をしていただけますようお願いをいたします。<br>
          ご対応の予定について05月20日までにご返事頂けますようお願い致します。</p>

          <p>またご回答頂く際に、削除依頼をしてきた方に対してその内容を開示しても<br>
          良いかどうかもあわせてご連絡いただけますようお願い致します。</p>

          <p>以上宜しく御願い致します。</p>
</td> 
        </tr>
</table><h4>返答：</h4>
      <p></p><table width="90%" border="1" cellspacing="2" cellpadding="3">
<tr>
<td width="685">
          <p align="RIGHT">2009年5月20日1時48分</p>
</td> 
        </tr>
<tr>
<td width="685">
          <p>いつもお世話になっております。<br>
          削除依頼に対し、下記のとおり回答します。内容を開示しても構いません。</p>

          <p>-----------<br>
          　本件記事は、輸入代行会社という企業による違法行為であり、逮捕事実も代表<br>
          取締役としてのものであってプライバシー情報ではない。仮にプライバシー情報<br>
          にあたるとしても、氏名は比較的秘匿性の低い情報であり、本件記事を公表する<br>
          ことによる公共的利益と比較衡量した場合に、公表する利益のほうが勝るもので<br>
          ある。<br>
          　以下、本件記事で示された内容を検討すると、<br>
          １．本件記事の報道目的は、摘発逃れのために一部を伏字にして検索等を逃れた<br>
          場合であっても違法行為であるということを社会に告知するものと読み取れ、事<br>
          実、故意による悪質な「摘発逃れ」を初めて摘発したことを伝えるものであり、<br>
          公共性・公益目的が高いと考えられる<br>
          ２．本件のような違法行為は模倣性が高く、インターネットの特性から誰もが行<br>
          う可能性のあるものであり、事件を公表することによって同種違法行為を未然に<br>
          防ぐことが可能である<br>
          ３．新聞記事データベースで検索したところ、2009年5月20日現在、複数の新聞<br>
          社の記事が見つかることからも、真実性についても明らかである</p>

          <p>ことから、削除にはあたらないと判断する。<br>
          -----------</p>

          <p>それでは、よろしくお願いいたします。</p>
</td> 
        </tr>
</table><h4>BIG-NETからの通知（抜粋）：</h4>
      <p></p><table width="90%" border="1" cellspacing="2" cellpadding="3">
<tr>
<td width="685">
          <p align="RIGHT">2009年6月22日12時57分</p>
</td> 
        </tr>
<tr>
<td width="685">
          <p>お手数をお掛け致します。</p>

          <p>本日、神戸地方法務局長 難波尊廣様(担当:人権擁護課長 八木様)から「侵害<br>
          情報の通知書 兼 送信防止措置依頼書」が届きました。</p>

          <p>http://www6.big.or.jp/~beyond/akutoku/news/2003/0326-10.html<br>
          http://www6.big.or.jp/~beyond/akutoku/news/2003/0326-22.html<br>
          http://www6.big.or.jp/~beyond/akutoku/news/2003/0326-13.html</p>

          <p>上記のお客様のページに対して</p>

          <p>・プライバシー侵害</p>

          <p>本件情報は、特定個人の氏名と逮捕された事実を合わせて掲載することに<br>
          よって、特定個人の逮捕歴を公表するものであって、同人の逮捕から既に<br>
          5年以上経過し、現在、社会復帰していることからすれば、特定個人のプラ<br>
          イバシー侵害に当たる。<br>
          また、同人は公的立場になく、同人の逮捕歴を公表すべき公益目的も認め<br>
          られない。<br>
          仮に、摘発内容を公表することに公益性が認められるとしても、その摘発<br>
          が特定個人に係ることまで公表する必要性は認められない。<br>
          よって、本件情報は、特定個人の氏名と逮捕事実を合わせて表記すること<br>
          により、特定個人のプライバシーを侵害している情報と認められるので、<br>
          少なくとも特定個人の氏名情報の削除を求める。</p>

          <p>ということから、送信防止措置依頼がありました。</p>

          <p>不可視や削除などの対応をしていただけますようお願いをいたします。<br>
          ご対応の予定について06月29日までにご返事頂けますようお願い致します。</p>

          <p>またご回答頂く際に、削除依頼をしてきた方に対してその内容を開示しても<br>
          良いかどうかもあわせてご連絡いただけますようお願い致します。</p>

          <p>以上宜しく御願い致します。</p>
</td> 
        </tr>
</table><p></p>
