---
layout: post
title: "オール・インＦＸ取引の被害弁護団が発足"
category: topics
tags:
- 2009年の記事
---
<p>最近知ったのですが、無登録でFX業者を営んでいた「オールイン」なる業者がいるそうです。
      <p></p><table width="90%" border="1" cellspacing="2" cellpadding="3"><tr>
<td width="100%">
          <h4>札幌・ＦＸ無登録営業：幹部会員の会社など捜索</h4>

          <p>　札幌市北区の投資関連会社「オール・イン」（森克彦社長）が金融庁に無登録で外国為替証拠金取引（ＦＸ取引）での資産運用をうたい、全国の約２万人の会員から１００億円以上を集めたとされる問題で、道警などは２２日、金融商品取引法違反（無登録営業）、特定商取引法違反（不実の告知）の容疑で、幹部会員と称されるメンバーが経営する葬儀会社（京都市）やインターネット関連会社（大阪市）など全国の２０数カ所を家宅捜索した。</p>

          <p>　道警によると、幹部会員は５人前後おり、オール・インの資金集めに深くかかわっているとみられる。２０日にはオール・イン本社や森社長宅などを家宅捜索している。</p>

          <p>毎日新聞　2009年7月22日　22時45分<br><a href="http://mainichi.jp/hokkaido/shakai/news/20090722hog00m040011000c.html">http://mainichi.jp/hokkaido/shakai/news/20090722hog00m040011000c.html</a></p>
</td> 
        </tr></table><p>登録してないだけなら、まあ大した話では無いのですが、登録してないのは登録できない理由があるわけで、今後、大きな事件に発展しそうな勢いです。そういうわけで、早速「<font size="+1"><a href="http://www.aoi-law.com/gtipoint_flow.html">オール・イン、リブラ等ＧTＩ商法被害事件弁護団</a></font>」なるものが出来ていましたので、身近に「なんかインターネットでFXに投資したんだけど、お金が返ってこなくて困っている」というようなお年寄りがいたら、もしかするとオールイン被害者かも知れませんので、教えてあげてください。</p>
      <p>で、興味を持ったので、ちょっと調べてみたところ、このオールインという会社、最初は「自動競馬予想ソフトVictoryrun」なるものをマルチで売ろうとしていて、途中から、<a href="http://www.a902.net/bbs/qa/pslg148071.html">自動FX投資ソフト「VictoryrunFX」に鞍替え</a>したようです。</p>
      <blockquote>
        <p><a href="http://victoryrun.seesaa.net/category/1990689-1.html">Victoryrun（ビクトリーラン）とは?</a></p>
        <p><a href="http://oshiete1.watch.impress.co.jp/qa3311373.html">これは無限連鎖講の防止に関する法律に抵触しているか？</a></p>
      </blockquote>
      <p>まあ、最大18頭の馬の中から1着のを当てる競馬よりも、<font color="#ff0000">所詮は丁半ばくち</font>であるFXの方が予想は簡単なのですね。わかります。で、FXだけだと騙しのツールに不足を感じたのか、さらにはネットの<a href="http://www.allin.jp/shopping.html">ショッピングモール</a>とか電子マネーとかにも手を出していたようです。まるで、円天です。というか、よくあるパターンです。</p>
      <p>たぶん、脈々と続くマルチの系譜の一族なんでしょう。面白いです。</p>
      <blockquote>
        <p><a href="http://tsure-zatsu.seesaa.net/article/94788312.html">投資詐欺オールインとスターライン</a></p>
      </blockquote>
      <p></p>
