---
layout: post
title: "ウェディング問題を考える会、第2回総会のお知らせ"
category: topics
tags:
- 2005年の記事
---
<p>突然ですが、2月26日（土）に、<a href="http://www.makani.to/wedding/index.html">ウェディング問題を考える会</a>の第2回総会を開催します。
      <p>これまでの経過報告と、新たな問題が発生したことへの対応策（ＷＥＢでは、まだしばらく公表できません）、そして今後の活動や方針についての、発表と議論が行われる予定です。</p>
      <p>場所は都内で、時間は未定ですが、3時間以上の長丁場を想定しています。参加は、考える会の会員（およびプレス関係者）のみを考えています。</p>
      <p>まだ準備は整っていませんが、とりあえずご報告です。意見などがありましたら、<a href="http://www.makani.to/wedding/bbs/">考える会の掲示板</a>にお願いします。</p>
      <p></p>
