---
layout: post
title: "2月25日は、東京地裁に集合！！"
category: topics
tags:
- 2005年の記事
---
<p>ウェディング問題を考える会<a href="http://www.makani.to/wedding/meeting-2nd.html">第2回総会</a>前日の、2月25日（金）午前11時、時間の取れる方は、東京地裁
      <font color="#ff0000">424号法廷</font>（4階）に来てください。そこで、「日本平和神軍 vs
      <a href="http://es.geocities.com/dempauyo/">平和神軍観察会</a>」刑事事件の、第1回公判が行われます。なんか重要な裁判だと言うことで、紀藤弁護士に呼ばれたので、せっかくだから、みんなで見学しましょう。私は一般人なので、東京地裁には行ったことありません。初傍聴です(^^)。
      <p>で、初傍聴なだけあって良く分からないのですが、やっぱり人が沢山いたほうが、裁判が盛り上がって面白いらしいです（出演者的には）。4万8千人の大観衆で傍聴席を埋め、「私にプレッシャーを掛けるパイロットとは、何者なんだ！！」と言わせるのが目的です。</p>
      <p>なお、第2回総会では、平和神軍観察会の管理人さんが「特別講演」をやってくださる予定です。WEB上の表現が名誉毀損で起訴された珍しい例だそうです。私は、株式会社ウェディングに告訴されましたが、結局、不起訴になりました。</p>
      <p>裁判が終わった後は、ちょうどお昼時なので、どっかでオフ会（食事会）でもやろうかと思います。私に、ちょっと遅いバレンタインを渡したい方、すごく遅いクリスマスプレゼントを渡したい方、議論を吹っかけてコテンパンにのされたい方など、是非、520号法廷にお越しください。一応、誰が誰だか分からないと、「置いてけぼり」くらいますので、食事会参加希望の方は、<a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">事前にメール</a>をください。</p>
      <h4>裁判の情報</h4>
      <p>・事件番号　平成16年刑（わ）第5630号</p>
      <blockquote>
        <p>第1回公判　2月25日（金）　午前11：00〜<br><font color="#ff0000">424</font>号法廷（<font color="#ff0000">4階</font>）<br>
        刑事第3部<br>
        裁判官　服部　悟</p>
      </blockquote>
      <p><del>（2月23日）部屋が、424に変更になりました。</del></p>
      <p>（2月23日）裁判所の決定により、この日は中止（延期）になりました。</p>
      <p></p>
