---
layout: post
title: "1月31日に、悪のニュース記事が使えなかった件について"
category: topics
tags:
- 2005年の記事
---
<p>1月31日から2月1日にかけて、<a href="http://www6.big.or.jp/~beyond/akutoku/news/">悪のニュース記事</a>への投稿および過去記事の閲覧が出来なくなっていました。
      <p>調べたところ、当サイトのプロバイダである<a href="http://home.big.jp/">BIG-NET</a>が、悪のニュース記事のディレクトリ内に「個人名が書かれている他サイトへの移動」があることを問題として、全サービスを停止していたためです。</p>
      <p>BIG-NETからの警告書全文</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="0"><tr>
<td width="100%">
          <p>警告：お客様のホームページデータについて</p>

          <p>いつもＢｉＧ−ＮＥＴをご利用頂きましてありがとうございます。</p>

          <p>お客様の下記のホームページについて、＊＊＊＊様ご本人を名乗る方から削除してほしい旨のご連絡がございましたのでお伝えいたします。</p>

          <p>確認しましたところ、個人名が掲載されているページへの自動ジャンプが確認されました。同姓同名の第三者に対して無用なご迷惑・トラブルを招く恐れがありますので、いったん動作禁止とさせていただきました。</p>

          <p>&gt; <a href="http://www6.big.or.jp/~beyond/akutoku/news/view_comment.cgi?brd=/akutoku/news/2003/0311-22.html">http://www6.big.or.jp/~beyond/akutoku/news/view_comment.cgi?brd=/akutoku/news/2003/0311-22.html</a><br>
          　→<a href="http://beyond.2log.net/akutoku/news/view_comment.cgi?brd=/akutoku/news/2003/0311-22.html">http://beyond.2log.net/akutoku/news/view_comment.cgi?brd=/akutoku/news/2003/0311-22.html</a></p>

          <p>先日の弊社からのご注意をうけての見かけ上の対策かと思いますが、弊社URLからの自動ジャンプですので、上記理由から禁止させていただきました。</p>

          <p>自動ジャンプしないようにしていただくか、ジャンプ先のコンテンツがお客様の管理下であるならば、弊社からの先のご連絡の対処をお願い致します。対処していただきましたらご連絡いただけますようお願い致します。</p>

          <p>以上宜しく御願い致します。</p>
</td> 
        </tr></table><p>警告書にある「自動ジャンプ」とは、時々WEBで見かける「引っ越しました。5秒後に、自動的にページが移動します」と言うページの設定を、0秒で移動するようにしたものです。</p>
      <p>そもそも、移動先のコンテンツの内容にまで干渉を受けなければならない理由などありませんし、たとえ、もし仮に一部のコンテンツに問題があるとしても、全ページを不可視にし、サービスを止めるというのは、明らかに行き過ぎた行為だと思います。「同姓同名の第三者に対して無用なご迷惑・トラブルを招く恐れがあります」と言うのも、よく分からない理由です。ここに、「吉本敏洋は、家宅捜索を受けたことがあります」とか書くと、全国の吉本敏洋さんに迷惑が掛かる可能性があるため、書くことは許されないと言うことでしょうか？</p>
      <p>みなさんは、どう思われますでしょうか？</p>
      <p></p>
