---
layout: post
title: "ハッカージャパン3月号に記事を書きました"
category: topics
tags:
- 2005年の記事
---
<p><img src="2005/0215.jpg" width="120" height="173" align="LEFT" border="0" naturalsizeflag="3">現在発売中の、<a href="http://www.byakuya-shobo.co.jp/hj/">ハッカージャパン3月号</a>に、記事を書きました。
      <p>たいした記事じゃないので、それは置いといて、最近のハッカージャパンは、特集がトンデモないことになっています。1月号の「ハッカーが選ぶネットワークセキュリティーツール・ベスト222」もスゴかったのですが、今月は名前からして「実践！ハック＆クラックツール2005」です。例えば、「他人のパソコンを乗っ取る方法」とか「無線ＬＡＮに不正侵入する方法」とかが、具体的に解説されています。そのうちハイテク警察に目をつけられて、一般人の私まで巻き込まれないか心配です(^^;.。</p>
      <p><br clear="ALL"></p>
      <p><img src="2005/0215-2.jpg" width="120" height="152" align="RIGHT" border="0" naturalsizeflag="3">それはさておき、途中の漫画では、ライフドアの堀井さん（右図）が大活躍です。前回は、濁天社長のパソコンに、クラック仕掛けてました（笑）。</p>
      <p></p>
      <p></p>
