---
layout: post
title: "第2回総会の申し込み受付を開始しました"
category: topics
tags:
- 2005年の記事
---
<p>ウェディング問題を考える会第2回総会の、<a href="http://www.makani.to/wedding/meeting-2nd.html">申し込み受付を開始</a>しました。
      <p>会員の方や、前回総会に来てくださった方、寄付をしてくださった方にはメールでお知らせしたのですが、なんか手違いがあって、届いてない方・会員じゃないのに会員用のお知らせが来た方などが続出しているようです(^^;。</p>
      <p>一応、「会員のみ」と銘打ってるからには、きちんと照らし合わせないといけないのですが、まだ完全じゃありません。ご不便をおかけして申し訳ありませんが、ご了承ください。</p>
      <p></p>
