---
layout: post
title: "参考文献：からくり民主主義／高橋秀実"
category: topics
tags:
- 2005年の記事
---
<p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4794211368/spj-22/ref%3Dnosim/"><img src="../ref/books/4794211368.jpg" width="120" height="169" align="LEFT" border="0" naturalsizeflag="3"></a>あとがきによると、タイトルは「からくり・民主主義」では無く「からくり民主・主義」らしい。沖縄米軍基地や原発誘致、諫早湾干拓など、単純な2項対立と捉えられがちな問題について、一歩離れて取材した本。
      <p>大手マスコミ的視点でテーマを分かりやすく持ってくるのではなく、複雑な世の中を複雑なまま取り込もうとする姿勢は大変面白い。しかし、結局のところ「反対運動はビジネス」「正しく見えても裏がある」「人間って、したたかだよね〜」的な分かりやすさを提供しているだけにもみえる。陰謀論と同じで、良く分かった気にさせられる分、余計たちが悪い。</p>
      <p>とはいえ、原則論で物事を単純化しがちな風潮について考えさせられる、良い本だろう。現状を正しく伝えているかどうかは、別として。<br clear="ALL"></p>
      <p>【目次】</p>
      <ol>
<li>国民の声 — クレームの愉しみ
        </li>
<li>親切部隊 — 小さな親切運動
        </li>
<li>自分で考える人びと — 統一教会とマインドコントロール
        </li>
<li>忘れがたきふるさと — 世界遺産観光
        </li>
<li>みんなのエコロジー — 諌早湾干拓問題
        </li>
<li>ガリバーの王国 — 上九一色村オウム反対運動
        </li>
<li>反対の賛成なのだ — 沖縄米軍基地問題
        </li>
<li>危険な日常 — 若狭湾原発銀座
        </li>
<li>アホの効用 — 横山ノック知事セクハラ事件
        </li>
<li>ぶら下がり天国 — 富士山青木ヶ原樹海探訪
        </li>
<li>からくり民主主義 — あとがきに代えて
      </li>
</ol><p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4794211368/spj-22/ref%3Dnosim/">amazon.co.jpで購入</a></p>
      <p>※この文章は、そのうち<a href="http://www6.big.or.jp/~beyond/akutoku/ref/books/index.html">参考文献のページ</a>に追加されます。</p>
      <p></p>
