---
layout: post
title: "東京地裁周辺地図"
category: topics
tags:
- 2005年の記事
---
<p>東京地裁への行き道が分からない方のために、<a href="http://maps.google.com/maps?ll=35.674860,139.752434&amp;spn=0.009538,0.008090&amp;t=k&amp;hl=ja">周辺地図</a>を置いておきます。真ん中の茶色い建物が、裁判所です。
      <p></p>
