---
layout: post
title: "裁判傍聴記／らあめん花月・日本平和神軍事件の場合"
category: topics
tags:
- 2005年の記事
---
<p>「<a href="http://es.geocities.com/dempauyo/">らあめん花月・日本平和神軍事件</a>」の、第1回公判を傍聴に行ってきました。裁判所は、入り口で持ち物検査（空港と同じ感じ）があるのですが、さらに部屋に入る段階で再度厳重な身体検査が行われるなど、物々しいふいんき（←なぜか変換できない）で始まりました。刑事裁判というのは、いつもこのような感じなのかと思って詳しい人に聞いてみると、「これは特別」とのことでした。
      <p>裁判は、検察の起訴状朗読から始まりました。読み始めたと思ったら、1分くらいで、あっという間に終わりました。「1回目だから、早く終わるのかな？」と、この時点では思っていたのですが、激しい法廷バトルや弁護側反論があり、結局2時間以上の裁判でした。内容的には、</p>
      <blockquote>
        <p>弁護士「こんな起訴状は、手抜きだ。検察としての資質を疑う。適当な表現で誤魔化さず、詳細を明らかにせよ」</p>
        <p>検察「これは、これで良いのだ」</p>
      </blockquote>
      <p>と言う感じで、検察は途中でアクビするなど、やる気なさげな様子。勝ち負けが重要なのでは無く、「刑事事件化するのが目的。有罪になればラッキー」ぐらいの気持ちでやっているように感じました。被告人の証言によると、</p>
      <ul>
<li>掲示板での殺人予告や、メールでの脅迫が行われた
        </li>
<li>個人情報の懸賞金として50万円が掛けられ、実際に実名が掲示板に書かれた
        </li>
<li>自宅に帰ると、玄関前にコーラの缶と傘が置いてあり、不思議に思ってネットに繋ぐと、そのことが掲示板に書いてあった
      </li>
</ul><p>などの嫌がらせが行われており、その事を警察に相談しているにも関わらず、嫌がらせ行為の加害者から「名誉毀損」で告訴されたそうです。ネットで書き込みを行っているような奴は、守る必要がない。これが、「国策」と言うことなのかもしれません。</p>
      <p>裁判終了後、紀藤弁護士や<a href="http://yama-ben.cocolog-nifty.com/ooinikataru/">山口弁護士</a>らによる詳細説明がありました。なんか、悪マニで知って来てくれた方が何人かいたそうなのですが、いつの間にか消えていたので残念でした（予想外に長引いたせいでしょうか？）。裁判所の裏話(?)なども聞けて面白いので、次回は是非、最後までいてください。なお、傍聴は定員制ですが、あと15〜16人くらいは入れそうでしたので、まだまだ大丈夫です。</p>
      <p>次回は、10月3日午後1時半から。証拠調べで、平和神軍トップの黒須英治氏による、ありがたい説法テープが流されるそうです。</p>
      <p><img src="2005/0629.jpg" width="200" height="155" align="BOTTOM" border="1" naturalsizeflag="3">【法廷画】両者の言い分を聞く服部悟裁判長の様子</p>
      <p>参考：</p>
      <p><a href="http://youzo.cocolog-nifty.com/data/2005/06/post_caba.html">平和神軍裁判・第一回公判</a><br><a href="http://youzo.cocolog-nifty.com/data/2005/06/post_fd03.html">平和神軍裁判・第一回公判その２</a><br><a href="http://youzo.cocolog-nifty.com/data/2005/06/post_bb23.html">平和神軍裁判・第一回公判その３</a></p>
      <p>(2005.07.07追記) 沢山メールを頂くのですが、「ふいんき」については「ふいんき なぜか変換できない」で、検索してみてください。</p>
      <p></p>
