---
layout: post
title: "山岡氏が、詐欺師の味方をしている"
category: topics
tags:
- 2005年の記事
---
<p><a href="http://www.amazon.co.jp/exec/obidos/redirect?link_code=ur2&amp;camp=247&amp;tag=spj-22&amp;creative=1211&amp;path=external-search%3Fsearch-type=ss%26keyword=%25E5%25B1%25B1%25E5%25B2%25A1%25E4%25BF%258A%25E4%25BB%258B%26index=books-jp">アムウェイ問題や武富士盗聴事件で有名な</a>山岡俊介氏の<a href="http://straydog.way-nifty.com/yamaokashunsuke/">ブログ</a>があることを最近知ったのですが、どうにも変なことを書いています。
      <p></p><table width="90%" border="1" cellspacing="0" cellpadding="4" bordercolor="#0000dd"><tr>
<td width="100%" bgcolor="#f4ffff">
          <p>詐欺犯の罪、罰は当然ではあるが、被害者側の“欲”もまた、問題である。ところが日本では、当事者の責任を問う声はあがらない。欲をして被った被害者であっても“被害者面”して騒げばなんとかしてくれる…、そんな甘さが渦巻いている。アメリカは当事者責任が徹底している国ゆえ、この手の詐欺はあまりみかけない…、</p>

          <p align="RIGHT"><a href="http://straydog.way-nifty.com/yamaokashunsuke/2005/07/post_60e8.html">情報紙「ストレイ・ドッグ」(山岡俊介取材メモ)</a>より</p>
</td> 
        </tr></table><p>たしかに、「騙された方も悪い」というのは一面においては正しいと言えます。たとえば、法律でも</p>
      <ul><li>脅迫によって奪われた物を、第3者に転売されても取り返せる
      </li></ul><p>のに対し、</p>
      <ul><li>詐欺によって奪われた物を、第3者に転売されたら取り返せない
      </li></ul><p>など、騙された人にも一定の責任を課すようになっています。</p>
      <p>しかし、責任には濃淡があり、詐欺師の方が圧倒的に悪いはずです。その大小関係を曖昧にし、同列に扱うことで、議論の本質をずらし誤った方向に導くのは詭弁です。また、「今の自分は騙されないに違いない」と思ったからと言って、「誰でも同じ程度の知識や経験を持っているはずである」と言う思い込みは、いかにも想像力が足りないと言えます。</p>
      <p>「騙されるような馬鹿には、管財人とか後見人でも付けておけ」と建設的(?)な批判をするのならともかく、単に「お前らは俺より馬鹿」と言っているようにしか思えない記事を載せて、何の意味があるのでしょう？</p>
      <p>また、そもそも、「アメリカは当事者責任が徹底している」と言うのが、全くの嘘っぱちです。日本は、<a href="http://www6.big.or.jp/~beyond/akutoku/news/2005/0207-10.html">ヤミ金の収益を国が没収できない</a>ことからも分かるように、被害者が、自己責任において被害回復を図る原則が徹底しています。国や警察は全く手を貸してくれません。騒ぐのをためらい犯罪収益が残った場合は、詐欺師の丸儲けとなるシステムです。</p>
      <p>一方アメリカでは、国が犯罪収益を全て没収し、被害者に配当するシステムが非常に充実しています。被害者が、役所に置いてある「全てお任せします」と言う書類にサインをするだけで、国や警察によって、数ヵ月後には被害が回復されるようになっています。日本のように、「騙された」と騒ぐ必要もありません。単にサインをするだけで、お金が戻ってくるのです。これは、犯罪収益を犯罪者に残さないためなのですが、国に守ってもらっている国民を引き合いにして、「アメリカは当事者責任が徹底している」とは全く持って変な言い分です。</p>
      <p>参考： <a href="http://www.kokusen.go.jp/cgi-bin/byteserver.pl/pdf/n-20040421_2.pdf">不当利益吐き出し、金銭的制裁の日米比較（国民生活センター）</a></p>
      <p>日本では、「誰かが何とかしてくれる」などと甘い考えは通用しません。ヤミ金の場合は報復を恐れながらも、世の中の「悪」と戦っているのです。そのような事情を伏せた上で、「“被害者面”して騒げば」などと平気で載せ、結果として詐欺師の片棒を担いでいる山岡氏には憤りを感じます。</p>
      <p>なお、文責の「マイク・アキオステリス」なる人物をgoogleで調べたところ、他のサイトは1件もヒットしないため、単に山岡氏の別ハンドルかと思います。批判の矛先が自分に及ばないよう、ダブハンを使っているのでしょう。<br></p>
