---
layout: post
title: "開設8周年"
category: topics
tags:
- 2005年の記事
---
<p>夏風邪引いて寝込んでいる間に、開設8周年が過ぎていました(^^;。開設日は、1997年の9月3日ですので、今日で丸8年と2日経ったことになります。
      <p>これからも、ぼちぼちとやっていくので、よろしくお願いします。</p>
      <p></p>
