---
layout: post
title: "10月3日の平和神軍裁判のお知らせ"
category: topics
tags:
- 2005年の記事
---
<p>10月3日（月） 午後1時30分より、東京地裁425法廷にて「ラーメン花月・平和神軍事件」の第2回公判が行われます。
      <p><a href="index.html#0629">第1回公判の様子</a></p>
      <p>今回は、<a href="http://www.nikkei.co.jp/news/tento/20050907AT2E0601606092005.html">アメリカに進出する計画まで立てている大企業</a>の会長にして主要株主である黒須英治氏の、ありがたい説法テープが証拠として披露（実際に、音声が流されます！）されるそうです。ちょっとだけ内容を知っているのですが、なんだか濃すぎて頭がクラクラしてきそうな内容です。</p>
      <p>この平和神軍、まだ直接ではありませんが、当方にも既に圧力を掛けて来ています。私のレヴェルでは、相手を出来そうにありません。どうしましょう。</p>
      <p>とりあえず、10月3日は平日ですが、来れそうな方は是非来てください。裁判終了後、弁護士による要点解説が行われます（さっさと帰らないように）。さらに、その後、農林水産省またはメイド喫茶(?)にて、ミニ・オフ会（ただの、お茶会）を開きます。マスコミから取材が殺到している「<a href="index.html#0915">不倫殺害依頼事件</a>」についての裏話を聞きたい方も、是非どうぞ。</p>
      <p></p>
