---
layout: post
title: "奥平明男容疑者、復讐代行詐欺容疑で逮捕"
category: topics
tags:
- 2005年の記事
---
<p>当サイトに対し、組織的に嫌がらせを繰り返していた奥平事務所のボス「奥平明男」容疑者が、10月3日、ついに逮捕されました。
      <p>奥平容疑者は、自らの写真や実名・電話番号をサイトで公開し信用させた上で、「ネットの匿名と戦う代表」「匿名に隠れた卑怯者に天誅を下す」と称して依頼者を募り、２ちゃんねる管理人のひろゆき氏や当方に対し、非合法な手段で自分の要求を呑ませようとしていた人物です。夜中の3時に脅迫電話を掛けてきたり、親族の個人情報を数万人にばら撒くなど、極めて悪質な行動を繰りかえしています。</p>
      <p><a href="2005/1004.wma">自宅に掛かってきた、奥平容疑者の肉声</a></p>
      <p>今回逮捕されたのは、復讐代行詐欺容疑であって、当方への嫌がらせ行為に対するものではありませんが、とりあえず枕を高くして眠れそうです。</p>
      <p></p><table width="85%" border="1" cellspacing="2" cellpadding="4"><tr>
<td width="100%">
          <h4>不倫殺人請け負い、サイト管理者逮捕</h4>

          <p><img src="2005/1004-1.jpg" width="160" height="120" align="LEFT" border="0" naturalsizeflag="3">　東京消防庁の救急隊員の女がインターネットのサイトを使って殺人の依頼をし逮捕された事件で、警視庁はこの女から金をだまし取ったとして、サイト管理者の男を逮捕しました。</p>

          <p>　「（Ｑ殺してくれという依頼は？）まさかそんな大胆なことは言わないでしょう」</p>

          <p>　詐欺の疑いで警視庁に逮捕された東京・杉並区の探偵業、奥平明男容疑者。東京消防庁の救急隊員、河口絵里子容疑者がインターネットの闇サイトを通じて不倫相手の妻の殺害を依頼した事件、奥平容疑者は「駆込寺」という闇サイトの管理者でした。</p>

          <p>　警視庁は奥平容疑者が殺人を実行する意思もないのに、河口容疑者からの殺人依頼を請け負い、現金１６５万円をだまし取ったとして逮捕したのです。</p>

          <p>　「公務員だから金払いがいい」周囲にはこう話していたという奥平容疑者は逮捕前、ＪＮＮの取材にはこう答えていました。</p>

          <p>　「奥さんを殺したいというのはちょっと大げさだと思うんですよね。ですから別れさせたいという話が、もしそうじゃなくて流れの中で殺したいと言っても、こっちは殺すわけないので」</p>

          <p>　「少なくともインターネットについて詳しい人であれば、（奥平容疑者は）誰しもが知っている人物。この人物に対して正当な批判をしても、１０倍、２０倍もひぼう中傷の嵐を尽くしますので、一般の人がこの人に対抗するのは非常に難しい」（紀藤正樹弁護士）</p>

          <p>　警視庁の調べに対しては「殺人依頼を受けた覚えはない」と容疑を否認している奥平容疑者ですが、運営している闇サイトについては「今後、一切このようなアングラサイトは開設しません」と供述しているということです。</p>

          <p><a href="http://news.tbs.co.jp/newseye/tbs_newseye3130048.html">http://news.tbs.co.jp/newseye/tbs_newseye3130048.html</a>
          （動画が見れます）</p>
</td> 
        </tr></table><p></p>
