---
layout: post
title: "12月12日に、悪マニを脅迫してきた男の顔を見に行くOFF"
category: topics
tags:
- 2005年の記事
---
<p>不倫相手の妻を殺そうとして復讐代行業の男に殺害を依頼し、東京消防庁の女性職員が逮捕された事件について、殺す気も無いのに殺人を請け負った詐欺の疑いで逮捕された「奥平明男」容疑者の初公判が、12月12日午前11時より、東京地裁八王子支部にて行なわれます。
      <p>奥平明男容疑者は、当サイトのコンテンツを削除させるため、執拗な嫌がらせ行為や脅迫を行なってきた人物です。私は実際に会ったことがあるのですが、会ったことが無い人でも「目を見ればわかる。ドブ川が腐った様な色の目だ」という感じです。刑事裁判では、被告人が裁判に出廷してくるので、一体どんな男が悪マニを脅迫してきたのか、その目で目撃するチャンスです。興味のある方は、是非、八王子までお越しください。</p>
      <p>なお特典として、事前に<a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">参加連絡</a>を頂ければ、「ノーカット版
      奥平明男の<a href="2005/1004.wma">アノ音声</a> CD-R」を作成してプレゼントいたします(^^)。</p>
      <h4>裁判の情報</h4>
      <ul><li>事件番号　平成17年(わ)2152号
      </li></ul><blockquote>
        <p>第1回公判　12月12日（月） 午前11：00 〜 12時頃<br><a href="http://courtdomino2.courts.go.jp/K_access.nsf/0/3a650c3194d986a949256b5e001248a0?OpenDocument">東京地裁八王子支部</a>　305号室</p>
        <p>※ 傍聴券が発行される裁判になるかもしれないので、前日に裁判所に問い合わせるか、トピックスをチェックしてください。50人くらい入れる部屋らしいので、多分大丈夫でしょう。独自に問い合わせする場合は、代表番号から「刑事3部2係に、つないでください」と言うと話が早いです。</p>
        <p>※傍聴券は無いそうです。直接、部屋まで行ってください（12.10追記）</p>
      </blockquote>
      <h4>参考リンク：</h4>
      <ul>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2005/1004.html">奥平明男容疑者、復讐代行詐欺容疑で逮捕</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2005/0915.html">不倫殺害依頼事件で、奥平事務所関係者が逮捕</a>
      </li>
</ul><p></p>
