---
layout: post
title: "朝日新聞が、google八分を申請したFAXを入手しました"
category: topics
tags:
- 2005年の記事
---
<p>現在当サイトは、googleの検索に表示されない、いわゆる「google八分」が継続中です。google八分は、国民の知る権利を不当に操作・侵害し、市民の利益を損なうものです。これまで、株式会社ウェディング（現：セリュックスラヴァーウェディング）の申請によって、市民の利益が奪われたと考えられていましたが、もしかすると朝日新聞のせいかもしれません。と言うのも、ある筋から、「朝日新聞社が、googleに申請したFAX」を入手したからです。
      <p><a href="2005/1207-1.gif"><img src="2005/1207-1s.gif" width="120" height="154" align="LEFT" border="1" naturalsizeflag="3"><br></a><b>朝日新聞社が、著作権を侵害していることを理由に、当サイトを検索結果から削除するように申請した書類</b></p>
      <p>クリックで拡大。黒塗りの部分は、入手した時点で塗りつぶされていました。赤塗りの部分は、私の個人情報が書かれていたので塗りつぶしました。<br clear="ALL"><br><a href="2005/1207-2.gif"><img src="2005/1207-2s.gif" width="120" height="157" align="BOTTOM" border="1" naturalsizeflag="3"></a></p>
      <p>申請されているメインのページは、掲示板「<a href="http://www.makani.to/akutoku/bbs/auction/pslg113.html">ぎゃふんオークション</a>」内の「<a href="http://www.makani.to/akutoku/bbs/auction/pslg113.html">他人のＩＤ使いヤフオクで詐欺の容疑　バス運転手逮捕</a>」と言う記事です。記事を見ても、単なる警察発表の焼き直しにしか見えませんが、なんと「朝日新聞社の著作権を侵害している」ため申請したそうです。そういえば、以前にも産経新聞社から似たような理屈のクレームが来ましたが、私には著作権法の趣旨を捻じ曲げる「権利の濫用」としか思えません。</p>
      <ul>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2003/0506.html">産経新聞から、著作権に関するクレームが来ました</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2003/0508.html">産経新聞からのクレーム続報</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2003/0509.html">産経新聞の主張を考えてみる会</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2003/0511.html">著作権のことを想う会</a>
        </li>
<li>
<a href="http://beyond.2log.net/akutoku/topics/2003/0515.html">産経新聞の主張を考えてみる会・リターンズ</a>
      </li>
</ul><p>さらに申請書には、私の住所などの個人情報が書かれていました。私は住所を公にはしていませんから、朝日新聞社が独自に入手し、同意無く勝手に第3者に提供したと言うことになります。朝日新聞社には、個人情報保護という観点は全く無いようです。</p>
      <p>ところで、先日から、犯罪被害者の実名発表をめぐって<a href="http://www.pressnet.or.jp/">日本新聞協会</a>が、</p>
      <ul>
<li>
<a href="http://www.pressnet.or.jp/info/seimei/iken20051021.html">意見書：
        被害者に関する警察の発表は、実名で行なわなければならない</a>
        </li>
<li>
<a href="http://www.pressnet.or.jp/info/seimei/iken20051121.html">意見書：
        国民の知る権利に応えるというわれわれの使命を理解し、実名発表を行なうよう求める</a>
      </li>
</ul><p>と言った意見書を出しています。国民の知る権利に答える使命の結果が、市民の権利と鋭く対立する「著作権」ですから、単なるダブル・スタンダード、既得権益の確保、自らの利益のためにやっているようにしか見えません。使命感に燃えるより先に、市民の共感を得る必要があるのでは無いでしょうか？</p>
      <p>12月11日追加：<a href="index.html#1210">続報があります</a>。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://www.wafu.ne.jp/~gori/diary3/200510240035.html">Irregular
        Expression： 被害者実名報道したがるマスコミの魂胆</a>
        </li>
<li>
<a href="http://homepage1.nifty.com/kito/copy.right.html">紀藤正樹弁護士：
        僕の考える著作権というもの</a>
      </li>
</ul><p></p>
