---
layout: post
title: "ハッカージャパン1月号に、ネットストーカーの記事"
category: topics
tags:
- 2005年の記事
---
<p><a href="http://www.byakuya-shobo.co.jp/hj/"><img src="2005/1211.jpg" width="120" height="172" align="LEFT" border="0" naturalsizeflag="3">ハッカージャパン</a>1月号に、「自由な表現を脅かす、ネットストーカーの黒い影」と言う記事を書きました。ネットストーカー東の横綱、「奥平明男」被害に関する記事です。
      <p>是非、読んでください。</p>
      <p></p>
