---
layout: post
title: "年内最後の「ラーメン花月・平和神軍」裁判"
category: topics
tags:
- 2005年の記事
---
<p>12月20日(火)　13：30から、東京地裁426号法廷で、「ラーメン花月・平和神軍事件」の第5回公判が行なわれます。
      <p><a href="index.html#1127">テロ</a>後、初の公判であるため、警備法廷（傍聴人は、金属探知機によるボディーチェックが行なわれます）となっています。<a href="http://courtdomino2.courts.go.jp/K_bochoken.nsf/%24DefaultView/92518832E1632409492570D8001A6CD5?OpenDocument">傍聴券</a>（と言うより整理券）も配られますので、ご注意ください。</p>
      <p>終了後、忘年会代わりに、どっか行こうと思います。</p>
      <p>参考リンク：</p>
      <ul>
<li>
<a href="http://beyond.cocolog-nifty.com/akutoku/2005/11/138_da3d.html">138万人は知らない、ラーメンの真実</a>（なぜか<a href="http://beyond.cocolog-nifty.com/akutoku/2005/12/post_1016.html">大人気</a>になった、ココログ支店の記事）
        </li>
<li>
<a href="http://yama-ben.cocolog-nifty.com/ooinikataru/2005/11/post_5be3.html">グロービートジャパン（らあめん花月）・日本平和神軍事件の期日について</a>（弁護士山口貴士大いに語る）
      </li>
</ul><p></p>
