---
layout: post
title: "参考文献：ブログ&amp;掲示板攻撃・防衛マニュアル／三沢 武士"
category: topics
tags:
- 2005年の記事
---
<p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861910838/spj-22/ref%3Dnosim/"><img src="../ref/books/4861910838.jpg" width="120" height="170" align="LEFT" border="1" naturalsizeflag="3"></a>ブログのコメント欄が荒れたので閉鎖したとか、行きつけの掲示板の雰囲気が悪くなったので行くのをやめた、と言う経験は無いだろうか？
      <p>ネットは、距離も時間も飛び越え、実世界なら出会うはずの無かった階層の人々を結びつけるためトラブルも多い。しかし、典型的な「荒れパターン」や攻撃の手法、そして対処方法を知っておけば、無闇に「新世界のコミュニケーションツール」を恐れる必要は無くなる。逆に言えば、無邪気にブログを始めることは、草食獣のくせしてライオンの目前でダンスするようなものだ。せめて、風下で餌を食べるような知恵を身に付けたい。</p>
      <p>この本は、今まであまり語られなかった「ネットの闇テクニック」を解説するとともに、回線の向こう側はどんな人物なのかを教えてくれる。「嫌われ者養成スタック」とか「おまんたマガジン」を、現代風にアレンジして書籍にまとめたものと言えるかもしれない（ここで「なにそれ？」と言う人のための本です）。そもそも、テーマ自体が貴重な本。</p>
      <p>ただ、ちょっと絵が多すぎる上、知識が散らばって書かれている感じなので、読破するのが大変かもしれない。そんな時は、見出しだけでも読んでおいて、気になった時に読み返してみると、今後のネット人生に役立つでしょう。<br clear="ALL"></p>
      <p>【目次】</p>
      <p>第1部 攻撃編</p>
      <blockquote>
        <p>1章 煽り煽られどこへ行く<br>
        2章 自作自演のすすめ<br>
        3章 プロキシ使って匿名化！<br>
        4章 百花繚乱匿名 便利ツール</p>
      </blockquote>
      <p>第2部 防御編</p>
      <blockquote>
        <p>5章 自作自演の見破り方と防ぎ方<br>
        6章 荒らしの中からヤッテキタ！<br>
        7章 攻撃者たちの素顔<br>
        8章 荒らしに遭わないためのサイト作り</p>
      </blockquote>
      <p><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4861910838/spj-22/ref%3Dnosim/">amazon.co.jpで購入</a></p>
      <p>※この文章は、そのうち<a href="http://www6.big.or.jp/~beyond/akutoku/ref/books/index.html">参考文献のページ</a>に追加されます。</p>
      <p><font color="#ff0000" size="-1">風下と風上を間違えていました。ご指摘くださった、「えどど」さん、どうもありがとうございます（12/27）。</font></p>
      <p></p>
