---
layout: post
title: "報道機関の皆様へ"
category: topics
tags:
- 2003年の記事
---
<p>これまで、「取材協力者を紹介して欲しい」という要望は、面倒なので無視することが多かったのですが、今後は下記の通り対応いたします。あわせて取材・コメント依頼についても基準を作りました。<br><p><b>○　取材協力者の紹介や掲示板での公募を希望される場合</b></p>
      <p>全ての場合において、有料です。タイプ別に料金が異なります。いずれの場合も広告と同じ扱いですので、協力者が必ず現れることを保証するものではありません。</p>
      <dl>
<dt>１．トピックスでの募集
        </dt>
<dd>トピックスに「取材協力者募集」の記事を掲載します。社名・連絡先を伏せての募集も可能です。その場合は、連絡のあった協力者にのみ連絡先を通知します。
<br><br>
        3万円／1回<br><br>
</dd>
<dt>２．掲示板での募集
        </dt>
<dd>報道機関の方ご自身で、掲示板に投稿を行っていただきます。その際、メールアドレスだけでは無く、社名・電話番号も必ず明記してください。
        <p>1万円／1回<br></p>
</dd>
</dl><p><b>○　管理人への取材やコメントを希望される場合</b></p>
      <p>報道機関の方であることの確認が取れれば、実際に会って取材を受けることも可能です。公益目的の取材であれば、基本的に無料です。謝礼金などはいりません。ただし、実際にどこかで会う場合は、交通費を取材時にお支払いください。なお、写真撮影は不可です。</p>
      <dl>
<dt>１．東京都内の場合
        </dt>
<dd>一律、1500円<br>
</dd>
<dt>２．それ以外の場所
        </dt>
<dd>申し訳ありませんが対応できません。<br>
</dd>
</dl><p>電話やメールでの取材の場合は、無料です。会って取材を受けた場合は、その時に専用の携帯番号をお教えすることも出来ます。携帯電話でのコメント依頼は、10分以内にしてください。</p>
      <p>対談・座談会などは、応相談です。メールください。</p>
      <p><b>○　記事の執筆を希望される場合</b></p>
      <p>有料です。6000字以内ならば、お引き受けします。原稿料については、そちらの基準で構いません。</p>
      <p></p>
