---
layout: post
title: "アスキーは、SPAM推奨会社"
category: topics
tags:
- 2003年の記事
---
<p>売春や麻薬は、なぜ無くならないのでしょうか？それは、売る人がいて、買う人がいるからです。SPAMは、なぜ無くならないのでしょうか？それは、売る人がいて、買う人がいるからです。
      <p><img src="2003/ascii8.jpg" width="120" height="160" align="LEFT" border="0" naturalsizeflag="3">さて、現在発売中の<a href="http://www.ascii.co.jp/pb/ascii/">月刊アスキー</a>8月号228ページに、「激増ジャンク・メールの楽しみ方」と称したコラムが掲載されています。そこには、「年に50MBぐらいのジャンクメールのタイトルをチェックして、専用フォルダに移すだけでもけっこうな手間」としながらも、「1万通に1通くらいは商品を購入する」として、実際にイラク指名手配トランプを購入した話が載っています。そして、「”面白いジャンクメール率”がもうちょっと上がることに期待」しているとのこと。トランプのほうは、無事に「期待に違わぬクオリティ」のものが届き、知り合いに配って「たいへん喜ばれた」そうです。</p>
      <p>まあ、何を楽しみにするのか個人の自由ですが、まるで「ポン引きについて行ったら、良い店だった」と自慢しているような話ですね（しかも、雑誌上で）。</p>
      <p>たまたま、「Windowsはなぜ落ちるのか？」と言う記事が面白そうなので買ったのですが、別の意味で面白い記事を見つけました（笑）。</p>
      <p>ちなみに、記事を書いているのは「<a href="http://www.ltokyo.com/ohmori/">大森望</a>」と言う方です。</p>
      <p></p>
