---
layout: post
title: "ご寄付のお願い"
category: topics
tags:
- 2003年の記事
---
<p>色々と事情があって財政的に厳しい状況になってきたので、寄付を募ることにしました。当サイトの趣旨に賛同し、活動を支援していただける方は、ご寄付・カンパをお願いします。
      <p>ご寄付は、1口3,000円を目安に、何口・何円でも結構です。手数料の安い郵便振替が利用できます。以下の口座まで、お願いします。お振込みしやすいよう、無難な名称にしてみました（笑）。</p>
      <blockquote>
        <p></p>
<table border="0" cellspacing="2" cellpadding="0">
<tr>
<td>
            口座番号</td> 
            <td>
            ：　00100-7-388622</td> 
          </tr>
<tr>
<td>
            受取人</td> 
            <td>
            ：　インターネット消費者問題研究会</td> 
          </tr>
</table>
</blockquote>
      <p>郵便局に「払込取扱票」と言うのが置いてありますので、以下の例のようにご記入いただければ、ATMからお振込みできます。左側部分は、そのまま送られてきます。住所等は書かずに、匿名でのお振込みも可能です。</p>
      <p></p><center><img src="2003/y1.jpg" width="600" height="378" align="BOTTOM" border="1" naturalsizeflag="3"></center>
      <p>それでは、よろしくお願いいたします。</p>
      <p></p>
