---
layout: post
title: "消費者問題関係団体の皆様へ"
category: topics
tags:
- 2003年の記事
---
<p>これまで、「講演をして欲しい」と言った要望は受けたことが無いのですが、今後は下記の通り対応します。なんらかの、消費者問題に関する活動を行っている実績（URL、会報など）がある場合に限り、お引き受けします。記事の執筆をご希望の方は、報道機関向けと同様ですので、そちらをご覧ください。
      <blockquote>
        <p>参考トピックス：<a href="#0626">報道機関の皆様へ</a></p>
      </blockquote>
      <h4>○不特定多数向けの講演</h4>
      <p>申し訳ありませんが、現在のところ対応できません。</p>
      <h4>○会員向け等、特定多数向けの講演またはパネル討論会</h4>
      <p>参加者が限定されている場でしたら、お引き受けすることが可能です。ただし、プロジェクター等を利用したプレゼン形式なら得意ですが、ただ一方的に話すだけなのは苦手です(^^;。交通費＋講演費をお支払いください。講演費については、そちらの基準で構いません。</p>
      <h4>○勉強会等、少人数でのセミナー形式</h4>
      <p>交通費だけで結構です。謝礼金等はいりません。</p>
      <h4>交通費について</h4>
      <blockquote>
        <p>交通費は、以下の基準でお支払いください。</p>
      </blockquote>
      <ul><dl>
<dt>１．東京都内の場合
          </dt>
<dd>一律、1500円<br>
</dd>
<dt>２．東京駅から、新幹線（のぞみ）で2時間以内
          </dt>
<dd>東京駅からの新幹線（のぞみ）料金 ＋ 1500円
          </dd>
<dt>３．それ以外の場所
          </dt>
<dd>実費（事前にお知らせします） ＋ 宿泊料金（施設はご用意ください）
        </dd>
</dl></ul><p>いずれの場合も、写真撮影は不可です。</p>
      <p></p>
