---
layout: post
title: "「ナニワ金融道」の作者・青木雄二さん死去
    "
category: topics
tags:
- 2003年の記事
---
<p>マニアのバイブル「<a href="../ref/books/4063345149.html">ナニワ金融道</a>」の作者・青木さんが、５日午前２時、肺がんのため、神戸市内の病院で<a href="http://www.asahi.com/obituaries/update/0905/002.html">死んだそうです</a>。唯物論を唱える青木さんのことですから、葬式などは行わないのかと思っていましたが、さすがにするようです。近くの方は、位牌に焼香を投げつけに行かれては、いかがでしょうか？
      <p>「<a href="http://www.amazon.co.jp/exec/obidos/external-search?tag=akutokushouho-22&amp;keyword=%E3%82%AB%E3%83%90%E3%83%81%E3%82%BF%E3%83%AC&amp;mode=books-jp">カバチタレ</a>」は面白くなくて読んでないのですが、つい最近も、ナニ金を買って全巻読み返しました。これから、もっと世間に影響を与えて欲しいと思っていたので、残念です。</p>
      <p><a href="http://www.amazon.co.jp/exec/obidos/external-search?tag=akutokushouho-22&amp;keyword=%E9%9D%92%E6%9C%A8%E9%9B%84%E4%BA%8C&amp;mode=books-jp">青木雄二に関連する本の一覧</a></p>
      <p></p>
