---
layout: post
title: "ブラウジングで手が痛くならないソフト"
category: topics
tags:
- 2003年の記事
---
<p>9月3日のトピックスで「<a href="#0903">右手首が痛くなった</a>」と書いたところ、メールで<a href="http://www.vector.co.jp/soft/win95/net/se296431.html">DingDong</a>と言うソフトを教えてもらったので紹介します。
      <p>DingDongは、基本的にはリンク先のページが存在するかどうかをチェックするソフトのようです。ですが、設定を変えると、「リンクをクリックしなくても、リンク先のページが読めるソフト」として使えます。</p>
      <p>やり方としては、インストール後、コントロールキーを押しながらマウスをリンクの上に持っていくと、DD Viewerというブラウザが立ち上がります。それで、DD
      Viewer のメニューから以下の2つのチェックを外します。</p>
      <ul>
<li>サービス ＞ マウスが示す位置にDD Viewerを表示
        </li>
<li>オプション ＞ マウスが Window から外れると自動的に消す
      </li>
</ul><p>すると、コントロールキー＋マウス移動だけで、リンク先のページが次々と表示されるようになります。</p>
      <p>この威力が発揮されるのが、blogやニュースサイトなど、リンクが沢山あるページです。たとえば、<a href="http://www.makani.to/akutoku/nneewwss/">悪ティブソナー</a>や<a href="http://www13.big.or.jp/~beyond-1/akutoku/bbs/qa/">会議室</a>でも、リンクをクリックすることなく記事が読めるので、クリックのしすぎで右手が痛くなることが無くなります。すばらしい。</p>
      <p>なんか動作が怪しい気がするのと、<a href="http://www.nbls.co.jp/solutions/DingDong/index.html">公式ページ</a>の説明が良く分からない（購入の方法も良く分からない(^^;）、Operaで使えないのが玉に傷ですが、とりあえずサンプル版はタダなので、使ってみるのも面白いかと思います。一日に沢山リンクをクリックするマニアの方にお勧めです。</p>
      <ul>
<li>
<a href="http://www.vector.co.jp/soft/win95/net/se296431.html">DingDongダウンロードページ</a>（Vector）
        </li>
<li>
<a href="http://www.nbls.co.jp/patio/patio.cgi">DingDong掲示板</a>
      </li>
</ul><p></p>
