---
layout: post
title: "軽急便立てこもり爆発事件について２"
category: topics
tags:
- 2003年の記事
---
<p><a href="http://spj.to/">消費者ポータルJAPAN</a>の方で、情報を集めています。
      <p>相変わらず、マスコミは会社の言い分を一方的に垂れ流しています。会見の様子を見て、「怪しい」と思う健全な批判力を持った記者はいないのでしょうか？とりあえず、死んだ支店長は、部下からも慕われていない様子が伺えますね（笑）。</p>
      <p>ところで、軽急便の企業情報を調べたところ、以下の様になっていました。役員の那須國宏氏は、名古屋弁護士会元会長？</p>
      <p></p><table width="80%" border="1" cellspacing="2" cellpadding="4">
<tr>
<th width="20%">
          代表者</th> 
          <td width="50%">
          <a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E8%AD%9A%E5%8F%B0%E3%82%AF%E8%B4%8B%E3%82%AF%E3%82%BD%E3%80%82&amp;lr=lang_ja">村上　一信</a>(ムラカミ　カズノブ)　</td> 
        </tr>
<tr>
<th width="20%">
          役員</th> 
          <td width="50%">
          （常）<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E5%92%8C%E7%94%B0%E6%86%B2%E6%B2%BB&amp;btnG=Google+%E6%A4%9C%E7%B4%A2&amp;lr=lang_ja">和田憲治</a>（取）<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E8%90%A9%E9%87%8E%E5%8B%9D&amp;btnG=Google+%E6%A4%9C%E7%B4%A2&amp;lr=lang_ja">萩野勝</a>，<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E8%BF%91%E8%97%A4%E7%9B%8A%E8%87%A3&amp;btnG=Google+%E6%A4%9C%E7%B4%A2&amp;lr=lang_ja">近藤益臣</a>，<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E5%A4%A7%E8%B0%B7%E5%85%AC%E4%BA%8C&amp;btnG=Google+%E6%A4%9C%E7%B4%A2&amp;lr=lang_ja">大谷公二</a>，<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E8%AD%AB%E8%8B%93%E3%80%82%E6%AA%8E%E5%A1%99&amp;btnG=Google+%E8%AE%80%E6%87%83%E3%82%A8%E3%80%8C&amp;lr=lang_ja">林行男</a>，<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E9%82%A3%E9%A0%88%E5%9C%8B%E5%AE%8F&amp;btnG=Google+%E6%A4%9C%E7%B4%A2&amp;lr=lang_ja">那須國宏</a>（監）<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E8%B1%8C%E3%82%A8%E9%A9%A5%E6%89%8B%E6%81%AD%E8%B1%90%E3%82%B5&amp;btnG=Google+%E8%AE%80%E6%87%83%E3%82%A8%E3%80%8C&amp;lr=lang_ja">水野英治</a>，<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E9%81%9E%E3%82%A4%E8%9F%BE%E6%99%8F%E3%83%A7%E4%BA%A5%E3%82%B9%E3%83%B2&amp;btnG=Google+%E8%AE%80%E6%87%83%E3%82%A8%E3%80%8C&amp;lr=lang_ja">稲川守彦</a>
</td> 
        </tr>
<tr>
<th width="20%">
          営業種目</th> 
          <td width="50%">
          貨物軽自動車運送事業，同事業に関わる車輌販売及び保険代理業</td> 
        </tr>
<tr>
<th width="20%">
          大株主</th> 
          <td width="50%">
          <a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E9%99%B8%E7%8E%8B&amp;btnG=Google+%E6%A4%9C%E7%B4%A2&amp;lr=lang_ja">陸王</a>，三井住友海上火災保険，三菱自動車工業，<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E4%BC%8A%E8%97%A4%E5%93%B2%E9%83%8E&amp;btnG=Google+%E6%A4%9C%E7%B4%A2&amp;lr=lang_ja">伊藤哲郎</a>，<a href="http://www.google.co.jp/search?hl=ja&amp;ie=UTF-8&amp;oe=UTF-8&amp;q=%E8%8E%A8%E9%A1%98%E9%99%B8%E9%AC%86%E5%80%A9%E6%81%AD&amp;btnG=Google+%E8%AE%80%E6%87%83%E3%82%A8%E3%80%8C&amp;lr=lang_ja">伊藤領英</a>
</td> 
        </tr>
<tr>
<th width="20%">
          仕入先</th> 
          <td width="50%">
          グループ加盟事業者，三菱自動車工業</td> 
        </tr>
<tr>
<th width="20%">
          販売先</th> 
          <td width="50%">
          日本通運，富士物流，西武運輸，出雲流通センター，ソニーマーケティング，日立物流，三菱電機ロジスティクス</td> 
        </tr>
</table><p>東京商工リサーチより</p>
      <p></p>
