---
layout: post
title: "内職商法の取材を受けてきました"
category: topics
tags:
- 2003年の記事
---
<p>軽急便立てこもり爆発事件のニュースは、ほとんど見なくなりましたね。マスコミの皆さんは、裏取りに精を出されている頃でしょうか？本日、軽急便の事件をきっかけに内職商法の取材を始めたと言うマスコミの方に、取材を受けてきました。さすがにプロの方は、色々と調べている様子でした。記事になるかどうかは分かりませんが、ご報告まで。
      <p></p>
