---
layout: post
title: "運営協力者／ライターを募集します"
category: topics
tags:
- 2003年の記事
---
<p><a href="http://spj.to/">消費者ポータル</a>のトピックスを書いてくれる記者の方を募集します。
      <p>対象は、消費者問題に関心のある全ての方です。資格は特に必要ありません。特に、ペット問題や冠婚葬祭問題、オークション問題に興味のある方を歓迎します。もちろん、他のジャンルに興味のある方も歓迎します。既にサイトを持っていて、宣伝がてら書いてみようという方も大歓迎です。</p>
      <p>作業は、在宅で行えます。専用のフォーム（図1）に書いて、送信するだけの簡単なお仕事です。2週間以上、間をあけなければ、好きなペースで構いません。多少、HTMLの知識が必要になるかもしれませんが、掲示板に投稿するのと、あまり変わりません。</p>
      <p>報酬は、1件あたり0円です(^^;。つまり、無償のボランティアってことです。将来的には何らかの還元をしたいとは思うのですが、現在のところはご了承ください。</p>
      <p>興味のある方は、自己紹介および、「悪徳商法と私」または「インターネット」と言うテーマで、17字以上800字以下の文章を書いて<a href="http://www6.big.or.jp/~beyond/akutoku/mail/sendmail.html">メール</a>してください。書類選考の上、必要ならば集団面接（またの名を、面接OFF）を行った上で決定します。</p>
      <p>なお、記者の特典(?)として、10月に開設予定のクローズド掲示板へのアクセス権が与えられます。将来的には、勉強会なども不定期で開けたらいいなと思っています。質問などが、ございましたら<a href="http://www13.big.or.jp/~beyond-1/akutoku/bbs/qa/">会議室</a>かメールでお願いします。</p>
      <p></p><center>
<img src="2003/form.jpg" width="200" height="175" hspace="8" align="BOTTOM" border="1" naturalsizeflag="3"><br>
      図1</center>
      <p></p>
