---
layout: post
title: "ベストオブ常習者サイト"
category: topics
tags:
- 2003年の記事
---
<p>現在発売中の、<a href="http://www.zdnet.co.jp/internet/runner/">ネットランナー</a>11月号で「ベストオブ常習者（ジャンキー）サイト」と言う特集をやっています。それで、当サイトが「ニュース・情報サイト部門」の部門賞に選ばれました。
      <p><img src="2003/1009-1.jpg" width="120" height="160" align="RIGHT" border="0" naturalsizeflag="2">この特集は、3部門221の<a href="http://www.zdnet.co.jp/internet/runner/0311/site.html">ノミネートサイト</a>から、大賞・部門賞・金賞・銀賞・銅賞を選ぶと言うものです。私は、小学生の頃から、いろんな絵画コンクールで入賞するなど受賞慣れしているのですが、なみいる強豪サイトを抑えての栄冠は、大変な喜びです。</p>
      <p>「日本では、政治や経済のサイトは人気が無い」と、どこかで読んだ覚えがあります。当サイトのように、（管理人の資質や態度はともかくとして）真面目なテーマのサイトが受賞したことは、今後、同種のサイトが発展していく<a href="../etc/joke/sizue.html">礎（いしずえ）</a>となるのでは無いでしょうか？</p>
      <p>と、なんとなくマトモなコメントをしてみたのですが、ネットランナー本誌の方にも受賞のコメントが掲載されております。ぜひ、そちらもご覧ください。</p>
      <p>ところで、ネットランナーの発売は 10月8日なのですが、受賞の連絡を頂いたのが 29日です。画面写真にいたっては、10月3日に撮影したと思われるものまであります。7日には店に行くでしょうから、正味3日程度で完成させたと言うことになります。すごいですね。</p>
      <p><img src="2003/1009-2.jpg" width="200" height="212" align="BOTTOM" border="1" naturalsizeflag="3">ネットランナー編集部（想像）</p>
      <p></p>
