---
layout: post
title: "毎日新聞は、アムウェイ（マルチ商法）を応援しています"
category: topics
tags:
- 2003年の記事
---
<p>毎日新聞が、「<a href="http://www.mainichi.co.jp/asia/column/interview/03/index.html">企業市民の責任を果たす</a>」と題して、日本アムウェイのトップにインタビューをした記事を掲載しています。
      <p>この記事によると、日本アムウェイは、</p>
      <ul>
<li>「訪問販売」「ダイレクト・セリング」をやっている
        </li>
<li>有機大豆を使用した味噌・醤油を始めとして、自社工場で作った安全で信頼できる製品ばかりを販売している
        </li>
<li>社員が率先して清掃活動をしたり、全社的に世界の子供を援助する活動をするなど、積極的に社会貢献活動をしている
        </li>
<li>様々な誤解もあるが、「責任ある売上」の実践をしている
      </li>
</ul><p>会社だそうです。</p>
      <p>ためしに、<a href="http://www.mainichi.co.jp/index.html">毎日新聞のトップページ</a>にある検索フォームで「アムウェイ」を検索してみたところ、特に悪評は無いようですから、<font color="#ff0000">毎日新聞的には日本アムウェイは素晴らしい会社</font>と言うことのようです。</p>
      <p>まあ、責任あるマスコミである毎日新聞が言うことですから、間違いは無いと思います。</p>
      <p><font color="#ff0000" size="-1">掲示板にて情報を教えてくれた、足裏さん、どうもありがとうございます。</font></p>
      <p></p>
