---
layout: post
title: "市民に閉じられた万博"
category: topics
tags:
- 2003年の記事
---
<p>2005年に愛知県で開かれる<a href="http://www-0.expo2005.or.jp/jp/">愛・地球博</a>は、万博好きの私としても非常に楽しみなところですが、あらゆる市民を拒絶した鎖国的な博覧会の様です。
      <p>と言うのも、<a href="http://www-0.expo2005.or.jp/jp/about_link/index.html">リンクについて</a>のページに、「次に該当するホームページからのリンクは固くお断りいたします」として、</p>
      <ul>
<li>商用目的のホームページ
        </li>
<li>個人サイト
      </li>
</ul><p>をあげているからです。</p>
      <p>主催者は、いったい誰からリンクしてもらいたくて、WEBサイトを作ったのでしょうか？</p>
      <p>まあ、往々にしてそう言うものかもしれませんが、「人間らしい交流の原点とは、何だろう。それは人が人と出会い、語り合い、理解し合い、尊敬し合い、愛し合うことにあるのではないか」と言う<a href="http://www-0.expo2005.or.jp/jp/whatexpo/message.html">メッセージ</a>が白々しく見えます。もうこの際だから、ぶっちゃけて言って下さいよ。「おみゃあ、利権目的に、決まっとるだがや」と。</p>
      <p>愛知県は、<a href="http://www.jkcc.gr.jp/rank/07_07.html">情報公開度ランキング</a>で、41位→42位→44位から一気に、5位→17位→6位と順位をあげてきたのですが、体質的なものはあまり変わってないようですね。「愛・地球博」では無く、「愛・ちっちゃい博」にでも改名すべきでしょう。</p>
      <p>ところで、日本最大の商用サイトであるYahooで検索してみたところ、<a href="http://dir.yahoo.co.jp/Regional/Japanese_Regions/Tokai/Aichi/Entertainment/Event_Guides/EXPO/">専用カテゴリ</a>からリンクされていました。これは、断らないのでしょうか？あと、<a href="http://www.expo2005.or.jp/en/about_link/index.html">英語版のリンクについて</a>のページでは、特に「個人サイトからのリンクは禁止」と書いていないようです（商用サイト禁止は、ある）。「ガイアツ」に負けたんでしょうか（笑）。</p>
      <p>ネタ元：<a href="http://lowlife.jp/yasusii/weblog/">Discreet Blog</a></p>
      <p></p>
