---
layout: post
title: "11月9日は、国民審査の日"
category: topics
tags:
- 2003年の記事
---
<p>今度の日曜日は、最高裁判官国民審査の投票日です。必ず行って、<strong>全裁判官に×印</strong>を付けましょう。
      <p>と言うのも、国民審査投票は、何も書かないと自動的に信任になるからです。これまで、90%以上の割合で信任されており、一人もクビになった裁判官はいません。こんな、「反対の人がいたら、手をあげてください」と言う、小学校のクラス会のようなシステム自体がそもそもおかしいのであって、当然、そのような権力の上にあぐらをかいている裁判官は不信任されるべきです。</p>
      <p>「○で信任、×で不信任、白紙で棄権」のようになれば、おかしな裁判官や判決も減り、スピードも速くなるでしょうね。</p>
      <p>あと、ついでに衆議院選挙も行われますが、論理的に考えて一番正しい投票の方法は、「選挙区で民主党候補、比例区で共産党」だと思います（創価学会員以外）。なぜならば、自民党が勝てば、選挙で貢献した創価学会の発言力が増し、特定宗教の医療支配が強まると考えられますし、民主党が勝った場合は、民主党と公明党の連立政権の可能性が高いため、その抑止力としての共産党が必要となると考えられるからです。悪いのですが、社民党には投票するだけ無駄でしょう(^^;。私は、その時々で投票する党が違うのですが、「高橋涼介の投票バランス理論（謎）」によって、そう導き出されました。</p>
      <p></p>
