---
layout: post
title: "たし目12月号は、悪徳商法特集"
category: topics
tags:
- 2003年の記事
---
<p><a href="http://www.kokusen.go.jp/book/data/me.html"><img src="2003/1112.jpg" alt="たしかな目12月号表紙" width="120" height="164" border="0" style="float: right;" naturalsizeflag="0" align="RIGHT">たしかな目</a>（略称
      たし目）12月号の特集は、「断れないあなたに！悪質商法撃退術」です。
      <p>大変わかりやすく作られていて、最近多い悪徳商法については、おおよそ網羅されています。「身近な人が引っかかった時に見せる」ためにも、買っておいて損は無いでしょう。</p>
      <p>載っている悪徳商法のパターン</p>
      <ul>
<li>アポイントメントセールス
        </li>
<li>資格商法2次被害
        </li>
<li>キャッチセールス
        </li>
<li>点検商法
        </li>
<li>マルチ商法
        </li>
<li>SF商法
        </li>
<li>無料商法
        </li>
<li>商品先物取引
        </li>
<li>ネットオークション
        </li>
<li>内職商法
      </li>
</ul><p></p>
