---
layout: post
title: "WEBサイト標準プロテクト技術"
category: topics
tags:
- 2003年の記事
---
<p>WEBページを印刷して他人に見せると複製権の侵害となり、３年以下の懲役または３００万円以下の罰金に処せられる可能性があります。つまり、「WEBページの印刷は、犯罪」です。
      <p>ちょっと乱暴な主張ですが、「デジタル万引きは、犯罪」と言う人もいるわけですから、そう無茶苦茶な意見というわけでも無いでしょう。</p>
      <blockquote>
        <p>参考：<a href="#0722">デジタル万引きは、犯罪ではありません</a></p>
      </blockquote>
      <p>ですが、ブラウザで簡単に印刷出来るにも関わらず、それをするなと言うのも酷な話です。そこで、「WEBサイトのコピープロテクト」を考えてみました。試しに、こちらの「<a href="protect.html">印刷出来ないページ</a>」を開いて、ブラウザのメニューから「ファイル」→「印刷プレビュー」を実行してみてください。何も表示されないと思います。他のページ、たとえばこのトピックスと比べてみると、その違いが良く分かると思います。</p>
      <p>まあ、この程度のプロテクト、分かる人であれば一瞬で解除出来ます。しかし、普通の人が解除するのは、かなり難しいのでは無いでしょうか？ちなみに、解除するソフトウェアや設定ファイルを配布することも、当然、違法となります。</p>
      <p>私としては、こんな<a href="../etc/joke/mendou.html">しち面倒</a>くさいページが増えて欲しいとは思いません。ただ、<a href="http://www.muplus.net/cccd/faq.html">CCCD</a>などに見るように、今後、このようなプロテクトが増えていくのは確実だと思います。著作権って、不便ですね。</p>
      <p>あと、余談ですが、同じ技術を使って<a href="2003/crypt.html">WEBページに暗号を隠す</a>ことも出来ます。</p>
      <p>P.S.</p>
      <blockquote>
        <p>実験的に、<a href="http://beyond.2log.net/akutoku/archives/qa/">会議室の過去ログ</a>を印刷できないようにしてみました（ペーパーレス推進のため！？）。プロテクトの解除は、あえて簡単にしてあります。それでも、「印刷できないよ〜」とお困りの方は、メールでもください。</p>
      </blockquote>
      <p></p>
