---
layout: post
title: "SPJ
    に第3の記者登場"
category: topics
tags:
- 2003年の記事
---
<p><a href="http://spj.to/">SPJのトピックス</a>に、「責難非成事」さんが記事を提供してくれました。「責難非成事」さんは、医療関係に20年以上従事していると言う経歴の方で、今後も、医療に関する記事を提供してくれるそうです。楽しみですね。
      <p><a href="http://spj.to/mail.html">ファンレター</a>なども、受け付けております(^^)。</p>
      <p></p>
