---
layout: post
title: "個人情報のお値段"
category: topics
tags:
- 2003年の記事
---
<p>ファミリーマートは、<a href="http://www6.big.or.jp/~beyond/akutoku/news/2003/1119-69.html">18万人分の個人情報を流出</a>させたお詫びとして、1000円分のプリペイドカードを送るそうです。ファミマとしては、「個人情報流出被害の程度は、1000円分（総額1億8千万円分）」と考えたようです。なんか安すぎる気もします。では、第3者から見て適正な金額とは、どのくらいなのでしょうか？
      <p>これは、<a href="http://www.geocities.co.jp/Playtown-Queen/1019/zyuki3.html">京都県宇治市の例</a>が参考になります。宇治市は、1999年に22万件の個人情報を流出させました。そして、損害賠償請求が行われ、最高裁まで行って確定しています。その判決によると、一人あたり慰謝料1万円＋弁護士費用5千円の計1万5千円が、適正な相場のようです。</p>
      <p>とすると、千円分しかもプリペイドカードというのは、いかにも安すぎる<strong>馬鹿にした</strong>金額では無いでしょうか？全員から裁判を起こされると困るので（総額18億以上）、適当に懐柔しておこうと言う策なのでしょうね。敵の団結を防ぐために餌をぶら下げる手法は、かのロイエンタール上級大将がハイネセンを攻略する際にも用いた計略です。</p>
      <p>まあ、徹底抗戦するかどうかはともかく、信義を破った償いをさせるため、被害者の方は、きちんと声をあげて欲しいと思います。このままだと、「集めて利益、流して利益」ってことに、なりかねません。</p>
      <p></p>
