---
layout: post
title: "消費生活条例8条による申し出"
category: topics
tags:
- 2003年の記事
---
<p>普段見ていないのですが<a href="http://www.shouhiseikatu.metro.tokyo.jp/kurashi/index.html">東京くらしねっと</a>のサイトを見ていたところ、今月のことばに「<a href="http://www.shouhiseikatu.metro.tokyo.jp/kurashi/kotoba.html">第８条に基づく申出</a>」と言うのを発見しました。
      <p>なんでも、<a href="http://www.shouhiseikatu.metro.tokyo.jp/s_hogo/s_sekatu/jorei1.html">東京都消費生活条例</a>では、「悪徳商法」や「ぼったくり」について適当な措置が取られるよう、都民誰でも<a href="http://www.shouhiseikatu.metro.tokyo.jp/s_hogo/jorei.html">申し出が出来る</a>んだそうです。条例では、キャッチセールスや無料商法、早朝・深夜の勧誘、健康の不安を煽る説明などが禁止されているにも関わらず、平気で行われていますからね。</p>
      <p>この間も、道端でキレイなポストカードをくれるねえちゃんが（キレイは「ポストカード」に掛かります）、「絵の展示会をやっているので、見ていってください」と10mくらい付いて来ながら勧誘するので行ってみたら、<a href="http://www.artbrillant.co.jp/">アールブリアン</a>の絵を売りつけられそうになりました(^^;。</p>
      <p>せっかくですから、都民の皆さんは、<font color="#ff0000">クリスマスカード代わり</font>に何か申し出を送ってみてください(^^)。</p>
      <p></p>
