---
layout: post
title: "「株式会社ウェディング」の検索結果について"
category: topics
tags:
- 2003年の記事
---
<p>googleで、キーワード「<a href="http://www.google.co.jp/search?q=%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%A6%E3%82%A7%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0">株式会社ウェディング</a>」にて検索すると、27日頃までは当サイトのトピックスが2番目に表示されていたのですが、28日になると無くなっていました。どうも、トピックス自体が検索できなくなったようです。何故なんでしょうね？
      <p>他にも、<a href="http://beyond.2log.net/akutoku/archives/qa/">会議室の過去ログ</a>で特定のページのみが検索出来なかったり、悪徳商法マニア的には
      google は当てにならないこともあるようです。クレームに弱いと言う噂もありますし。</p>
      <p>（追加）</p>
      <p><a href="http://www.google.co.jp/intl/ja/addurl.html">googleにサイトを登録</a>してみたら、6時間程度で、また表示されるようになりました。そのうち、また非表示になるのでしょうか？継続的に調査する必要がありそうです。</p>
      <p></p>
