BODY {
	BACKGROUND: url(../img/topback1.jpg) #ffffff fixed; MARGIN: 0px
}
.style1 {
	BACKGROUND-POSITION: center top; FONT: 15px/150% "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; TEXT-TRANSFORM: none; COLOR: #2b0e00; LETTER-SPACING: 3px; TEXT-ALIGN: left
}
.style2 {
	BACKGROUND-POSITION: center top; WORD-SPACING: 1px; FONT: 15px/110% "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; TEXT-TRANSFORM: none; COLOR: #2b0e00; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
A:link {
	COLOR: blue; TEXT-DECORATION: none
}
A:visited {
	COLOR: purple; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.tytle {
	BACKGROUND-POSITION: center center; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../img/tytle_back.gif); FONT: bold 15px/400% "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; LETTER-SPACING: 3pt; POSITION: relative; TEXT-ALIGN: center
}
.tytle2 {
	BACKGROUND-POSITION: center center; FONT-WEIGHT: bold; FONT-SIZE: 15px; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(../img/tytle_back2.gif); VERTICAL-ALIGN: middle; COLOR: #ffffff; LINE-HEIGHT: 400%; BACKGROUND-REPEAT: no-repeat; FONT-STYLE: normal; FONT-FAMILY: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; LETTER-SPACING: 1pt; POSITION: relative; TEXT-ALIGN: center
}
.subtytle {
	PADDING-RIGHT: 0px; BORDER-TOP: thin; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; WORD-SPACING: normal; FONT: bold 14px/200% "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; BORDER-LEFT: #660000 thick ridge; WIDTH: auto; COLOR: #660000; TEXT-INDENT: 10px; PADDING-TOP: 0px; BORDER-BOTTOM: #660000 thin solid; BORDER-RIGHT-STYLE: none; LETTER-SPACING: 5px; POSITION: relative; HEIGHT: auto; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: left
}
.menu {
	BACKGROUND-POSITION: left center; FONT: 12px/140% "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; TEXT-TRANSFORM: none; COLOR: #000000; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
.small {
	FONT: 12px/140% "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; TEXT-TRANSFORM: none; COLOR: #000000
}
.smal2 {
	FONT: 12px/120% "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; TEXT-TRANSFORM: none; COLOR: #000000
}
