---
layout: post
title: "藤田謙司なる人物に仮処分申請を申し立てられました"
category: topics
tags:
- 2013年の記事
- 裁判
---
<p>株式会社東京損害保険調査事務所（現、中央損害保険調査株式会社）の元代表取締役の藤田謙司なる人物から「<a href="http://www6.big.or.jp/~beyond/akutoku/news/">悪のニュース記事</a>に掲載されている記事を消せ」との仮処分申請を申し立てられました。

<p>今後、本訴訟となれば、やっぱり最高裁まで行くと思いますが、表現の自由（知る権利）という最も基本的な人権に関するものですから、判例集にも載ると思います。今から、要注目です。以前「<a href="http://blog.a902.net/topics/2009/1029.html">石谷友輝夫なる人物に訴えられました</a>」ということをお知らせしましたが、こちらは最高裁まで行き、つい先日「悪マニの勝訴が確定」しました。

<p>ブログなどで新聞記事を引用する際に、どこまでOKなのか、個人の表現にも重大な影響を与える裁判が引き続き行われることとなります。

<p>それで、石谷友輝夫事件と藤田謙司事件はどう違うのか、詳細が分からないと判断のしようが無いと思いますから、申立書を<a href="http://kenkyuukai.a902.net/">インターネット消費者問題研究会</a>の会員専用ページに掲載しました。ご覧になってから、ブログなどでご意見を頂戴し、出来れば継続的な応援やご支援のほどをお願いしたいと思います。
