---
title: "JRは「10年経ったSuicaのチャージは無効になります」と騙してくる場合があるので注意が必要です"
category: topics
tags:
- 2013年の記事
- プリペイドカード
- 悪徳商法
---
scss:
  #talk {
    th {
      font-weight: normal;
      white-space: nowrap;
      vertical-align: top;
    }
    padding-left: 2em;
    margin-bottom: 1em;
  }

p
  | 昨日のことです。家に古いSuicaがあったのでチャージして使おうとしたところ、使えませんでした。「改札係員のところに行ってください」と表示が出たため「出口でピッって出来てなかったんだろう」くらいな軽い気持ちで行ったところ、「最後に使用してから10年間使用されてないので、このSuicaは使えません。チャージも無くなります」というウソの説明をされました。以下、駅員とのやりとりです。

#talk
  textile:
    |_.　私「|Suicaが使えませんって、出たんですが。|
    |_.駅員「|確認させていただきます。…これ最後に使用してから10年経ってますので、失効していますね。このSuicaは使えません。残額が210円残っていますが、それも使えなくなります。|
    |_.　私「|失効って何ですか？|
    |_.駅員「|（Suicaの裏面を見せながら）小さい字でこちらに書いてあるのですが、最後の利用日から10年間利用が無かった場合、Suicaは失効して使えなくなります。|
    |_.　私「|そんなの、初めて知りました。|
    |_.駅員「|一応、カードの裏面はお読みいただくことになっておりますので。|
    |_.　私「|Suicaを買った時に、そんな説明はありませんでしたよ。|
    |_.駅員「|ご購入後、裏面をお客様のほうでお読みいただいております。|
    |_.　私「|210円って少しですが、現金と同じようなものですよ。カードはともかく、それも使えなくなるって、おかしくないですか？|
    |_.駅員「|お気持ちは分かりますが、こちらに書いてあるとおり失効しているので使えません。|
    |_.　私「|お金が消えるって、そんな大事なこと一切聞いてません。|
    |_.駅員「|窓口が忙しかったりで説明してなかった可能性もありますが、お読みいただくようご説明しているはずです。|
    |_.　私「|お金が消えるんですよ？|
    |_.駅員「|お気持ちは良く分かりますが、こちらに書いてあるとおりですので。|
    |_.　私「|別の窓口の機械とかで、どうにかならないんですか？|
    |_.駅員「|弊社の決まりですので、どちらの窓口にお越しいただいても同じ回答です。|
    |_.　私「|<font color="red">小さい字で書いてあるからって、そんなの悪徳商法の手口じゃないですか！</font>こういうのってクレームはどこに言えば良いんですか？上の人とか？|
    |_.駅員「|…一応、確認してみますので、少々お待ちください。|
    |_.駅員「|（電話で確認中）失効したSuicaの対応について確認したいのですが…|
    |_.駅員「|折り返し連絡が来るまで、少々お待ちください。|
    |_.　私　|（5分ほど待たされる）|
    |_.駅員「|（電話で確認中）…はい、ICは読み取れます。…分かりました。|
    |_.駅員「|確認したところ、ICが読み取れるのであれば、みどりの窓口で新しいSuicaに更新出来るそうです。|
    |_.　私「|チャージは？|
    |_.駅員「|それも引き継がれます。カードをご返却される場合は、記名式のカードですので身分証明書が必要になります。|
    |_.　私「|…わかりました。窓口に行ってみます。|

p
  = link_to "images/20130809.jpg" do
    = image_tag "20130809s.jpg", align: "left"
  | Suicaの裏面「機器等での最後のご利用日から10年間ご利用が無い場合は、失効します」と書いてある（クリックで拡大）
  br clear="all"

p
  | この後、みどりの窓口に行ってみたところ、10年とか全く関係なく「使えないですか？カードを交換して試しても、よろしいですか？」「10年？良くわからないですが、カードが古くなって悪くなっているかもしれないので、交換しますね」と、あっさり別のカードに交換してくれました。

p
  | 結局、改札の係員のところで10分ほど粘って「失効したSuicaは窓口で更新できる」という情報を教えてもらったのですが、帰ってから調べたところJRのサイトに
  = link_to "普通に書かれて", "http://www.jreast.co.jp/suica/new_s/info_tenyears.html"
  | いました。私は「決まり」とか言われるとカチンとくるので、何とか210円のチャージ＋デポジット料500円を取り戻すことが出来ましたが、「切符というのは、そういうもの」「知らないで使うほうが悪い」みたいな調子で言われたら泣く泣くSuicaを捨ててしまう人もいるでしょうね（金額も微妙だし）。注意が必要です。

p
  = link_to "長期間利用していないSuicaをお持ちのお客さまへ", "http://www.jreast.co.jp/suica/new_s/info_tenyears.html"
  blockquote
  	お手持ちのSuicaの入金（チャージ）残額は、新しいSuicaカードへと移し替えます。

p
  | 参考リンク：
  br
  = link_to "「青春18きっぷ」捨てたのはJRのせい　自分のミス棚上げで「ツイッター」が炎上、閉鎖", "http://www.j-cast.com/2013/07/31180558.html"
  br
  | 炎上させる人って、きっとSuicaの裏面も見ているのでしょうね。びっくりです。

