---
title: "あなたの個人情報、Wikiに書かれていませんか？ －匿名による嫌がらせの場となっているウィキペディア－"
category: topics
tags:
- 2013年の記事
- 表現の自由
- Wikipedia
---
p
  | 以下の文章は、今は亡き「Oh My News」に2008年2月26日に掲載された記事をサルベージしたものです。

div style="border: solid 1px #0088cc; padding: 8px;"
  h2 あなたの個人情報、Wikiに書かれていませんか？
  h3 匿名による嫌がらせの場となっているウィキペディア

  p　手軽な調べものサイトとして、ウィキペディアを利用している方も多いかもしれない。ウィキペディアは、誰でも書きかえることができるため、注意点として、「ウソの情報」や「偏った情報」に気を付けなければならないことはよく知られているだろう（参考記事はこちら）。その対策としては、ウィキペディアを読む際に気を付ける、あるいはまったく使わないようにすればいいだけの話である。

  p　しかし、ウィキペディアでは、悪意を持った誹謗中傷やプライバシー侵害行為が平然と行われている。そして、もしかすると、あなたの個人情報が書かれているかもしれないのだ。そうなってくると使わないようにするだけではどうにもならない。これは、可能性の話ではなく、現実に起こっている話である。
    
  h3 偶然見つけた個人情報
  
  p　まず、実例を出そう。下の写真は、ウィキペディアの編集履歴の一部を撮ったものだ。現在でも、この情報は残っているため、全体にモザイクをかけてあるが、これは私の個人情報を何者かがウィキペディアに投稿したことを表している。個人情報の前後に、&lt;!-- --&gt;という記号が付けられているが、これは通常の検索では引っかからないようにするための「仕掛け」である。

  p
    = image_tag "20130923.jpg", align: "left"
    | 左図： ウィキペディア上に、個人情報が平然と書き込まれている
    br clear="all"

  p　「エゴサーチ」と呼ばれる検索の方法がある。これは、自分の名前やメールアドレスなどの個人情報を、検索エンジンを使って定期的に検索し、個人情報漏れがないかどうか、誹謗中傷が行われていないかどうかを調べるものだ。Googleも、特にクレジットカード番号などの個人情報について、流出の有無をチェックすることを薦めている。最近の検索エンジンは情報の更新頻度が高いため、流出があれば、それをすぐに見つけることができる。そして、速やかに対処すれば、被害を最小限に抑えることが可能だ。

  p　かくいう私も、時々、意図しない個人情報の暴露がないかどうかチェックしている。というのも、私はオーマイニュースをはじめ、実名を使って活動をしているのだが、実名から住所などを調べ上げた者がおり、ネットの掲示板に投稿されるという被害にあったことがあるからだ（ちなみに、投稿した者に対しては、プロバイダーに発信者情報開示請求を起こしている）。といっても、最近は特に新たな被害もなく、多少安心していた感もあった。

  p　ところが、先日、調べものをしていて偶然このページにたどり着いた。検索エンジンで見つからないよう細工されているため気づいていなかったが、同様のプライバシー侵害が、調べただけでも10件以上、1カ月近くに渡ってウィキペディア上に放置されているのを発見した。

  h3 ウィキペディアは、日本の法律を無視

  p　こういった個人情報がネット上に書き込まれているのを発見した場合、どのように対処すれば良いのだろうか？　まず、誰が悪いのかという点に関しては、書き込んだ本人に責任があることは明らかである。通常、嫌がらせ行為は単発で行われることはなく、何度か繰り返し行われる。よって、本人を特定して「損害賠償訴訟」などによって責任を追及し、2度と書き込まないよう警告を与えない限り、いたちごっこになる可能性が高いのだが、ネットでは誰が書き込んだのか分からないことも多い。

  p　そこで、日本では2002年に「プロバイダー責任制限法」という法律が施行され、「発信者情報開示請求」というものが定められた。これは訴訟などを行うために、掲示板などの運営主体（プロバイダー）に対して、書き込んだ本人の情報を開示するよう求めるための手続きだ。開示されるためには、違法な情報によって被害を受けていることなどの条件があるが、開示されれば本人に訴訟を起こすことが可能となる。

  p　私は以前からウィキペディア上で名誉毀損（きそん）などの被害を受けていたため、法律に沿って開示請求を行ったことがあるのだが、ウィキペディアの回答は「運営主体はアメリカのウィキメディア財団であるから、そちらに請求してくれ」とのことであった。そこで、ウィキメディア財団にも請求を行ってみたのだが、まったく無視され、泣き寝入りを強いられている状況にある。同様にプライバシー侵害情報の削除を要求しても、まったく対処してもらえなかった。

  h3 ほかの掲示板サイトとの比較

  p　ところで、ネット上の有害サイトとして、2ちゃんねるを筆頭とした「匿名掲示板」がやり玉に挙げられることも多い。先ほど、「個人情報を掲示板に投稿されるという被害を受けた」と書いたが、掲示板とは、まさに2ちゃんねるなどの匿名掲示板のことである。しかし、被害を受けている中で、意外な「優しさ」に出会うこともある。

  p　例えば、ある掲示板管理者に削除要請を送ったところ、「今後、同様の被害が発生しないような設定」をしてくれたことがある。たぶん、NGワードやブラックリストのようなものを追加してくれたのであろう。また、最近は2ちゃんねるに個人情報が書かれても、数時間から数日で削除されている。たぶん、誰かが削除手続きをしてくれているのであろう。全体から見れば不十分であるが、ある程度の「自浄作用」はあるようだ。

  p　果たして、ウィキペディアの「自浄作用」は、どうだろう。当然、ウィキペディアにも何らかの自浄作用はあるし、多少は個人情報を削除した痕跡も見受けられる。だが、これまでの調査によると、管理者の気に食わないような投稿を行う者に対する対処は、数分から数時間という異常な素早さで行われるが、プライバシーの侵害行為や個人への誹謗中傷に対しては非常に「甘い」基準を採用するといった、奇妙な「自浄作用」しか存在しないようだ。これは、ウィキペディアの管理者自身が、「匿名」という壁に守られて活動しているせいもあるかもしれない。

  p　なお、今回、ウィキペディアに書かれている個人情報を調べるにあたり、特殊なプログラムを作成して調査を行った。このことから、一般の方がウィキペディア上のプライバシー侵害行為に対処することは、調べることからして非常に難しいと言わざるを得ない。なぜなら、ウィキペディアの検索機能は不完全であり、また管理者がプライバシー侵害への対処を行う姿勢を見せてないからだ。

  p　最近は、ネットをいじめに利用されるケースも多くなっている。あなたやあなたの家族が、ウィキペディアを使った嫌がらせをされていないよう、祈るばかりである。
