- url = "http://blog.a902.net#{url}"

div style="text-align: right;"
  .social.clearfix
    .hatena
      = partial "hatena", locals: { url: url, title: title }
    .twitter
      = partial "twitter", locals: { url: url, title: title }
    .facebook_like
      = partial "facebook", locals: { url: url, title: title }
